{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}

    <div class="page page--margin">
        <div class="b-rating">
            <div class="header">
                <h1 class="h1">Отзывы</h1> <span class="rating rating--positive">{{client.get_rating}}</span>
            </div>
            {% for f in client.client_about_feedbacks.all %}
                <div class="wrap i-white-box">
                <table>
                <tr>
                    <td style="padding-bottom: 0px">
                        <span style="font-size:60px;" class="{% if '-' in f.rating_point %}negative{% else %}positive{% endif %}">{{ f.rating_point }}</span><br/>
                        {{f.date|date:"d.m.Y"}}
                    </td>
                    <td style="width:100%; vertical-align:top;">{{f}}</td>
                </tr>
                 </table>
                </div><br/>
            {% empty %}
                <tr>
                    <td>нет отзывов</td>
                </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
