<div class="ad">


    <div class="ad__title">
        <a href="/ads--one-ad/" class="b-link">Продаю Mitsubishi Outlander</a>, 920 000 руб.
    </div>
    <div class="ad__photo-wrap">
        <div class="ad__photo">
            <img src="http://s.auto.drom.ru/4/sales/photos/14691/14690143/112042586.jpg" alt="" class="ad__photo-img">
        </div>
        <div class="ad__photo">
            <img src="http://s.auto.drom.ru/4/sales/photos/14691/14690143/112042590.jpg" alt="" class="ad__photo-img">
        </div>
        <div class="ad__photo">
            <img src="http://s.auto.drom.ru/4/sales/photos/14691/14690143/112042595.jpg" alt="" class="ad__photo-img">
        </div>
        <div class="ad__photo">
            <img src="http://s.auto.drom.ru/4/sales/photos/14691/14690143/112042603.jpg" alt="" class="ad__photo-img">
        </div>
        <div class="ad__photo">
            <img src="http://s.auto.drom.ru/4/sales/photos/14691/14690143/112042611.jpg" alt="" class="ad__photo-img">
        </div>
    </div>
    <div class="ad__info">
        <p>Автомобиль приобретен 31.01.2012г. у официального дилера "Россо Траст" в г. Иркутске. Отличное состояние. На гарантии до конца января 2015г. В ДТП не участвовал. Мощность двигателя 170 л. с.</p>
    </div>


    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    <span class="b-link b-link--g ad__action ad__action--offer">Отправить предложение</span>
                    <a href="/" class="b-link ad__action">Отслеживать</a>
                    <a href="/" class="b-link ad__action">Не интересует</a>
                    <a href="/" class="b-link ad__action">Продвигать</a>
                    <a href="#" class="b-link ad__action">Редактировать</a>

                </td>
                <td class="ad__footer-cell">
                    <a href="/user-profile/" class="b-link">Константинопольский Константин Константинович</a>

                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">5 янв 2013</div>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>
