<div class="ad">
    <div class="ad__title">
        <a href="/ads--one-ad/" class="b-link">Куплю SEAT Altea</a>, 800&nbsp;000&nbsp;руб.
    </div>
    <div class="ad__info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, in, non, error iusto officia maxime unde assumenda delectus iure aspernatur nesciunt saepe quod dolores dignissimos obcaecati porro beatae nostrum libero.
    </div>
    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    <span class="b-link b-link--fake b-link--g ad__action ad__action--yes">Продать</span>
                    <span class="b-link b-link--fake ad__action ad__action--yes">Отказать</span>
                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">25 янв</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
