<div class="ad">
    <div class="ad__title">
        <a href="/ads--one-ad/" class="b-link">{{ offer.ad_offer.title }}</a>, {{ offer.ad_offer.price|floatformat:"0" }}&nbsp;руб.
    </div>
    <div class="ad__photo-wrap">
        {% for photo in offer.ad_offer.good_photos.all %}
            <div class="ad__photo">
            <img src="{{ photo.img.url }}" alt="" class="ad__photo-img">
        </div>
        {% endfor %}
    </div>
    <div class="ad__info">
        <p>{{ offer.ad_offer.text }}</p>
    </div>
    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    <a href="/" class="b-link ad__action">Продвигать</a>
                    <a href="/" class="b-link ad__action">Редактировать</a>
                    <a href="/" class="b-link ad__action">Снять с публикации</a>
                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">12:45</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
