<div class="ad__action__popup__bg">
    <div class="ad__action__popup bg--green-yellow">
        <div class="ad__action__popup__close">закрыть</div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dolor, repellendus ipsum molestiae recusandae
        iure obcaecati incidunt possimus alias doloremque! Deleniti, minus voluptatum porro dolorem cumque ullam
        expedita inventore iste.
    </div>
</div>