<div class="ad_delete_popup">
    <form action="{% url 'delete_ad' ad.id %}" method="post">{% csrf_token %}
        Удалить объявление? <input class="ad__delete_ok" type="submit" value="Да"/> <a class="ad__delete_cancel" href="#">Отмена</a>
    </form>
</div>