<div class="ad__popup">
    <div class="offer-popup">
        <div class="b-offer-popup">
            <div class="close i-close-ico-16 js-close"></div>
            <form action="" class="f-form">

                <div class="content">
                    <h3>Ваше предложение</h3>
                    <table class="for-form">
                        <form id="add_offer" action="#" method="post">{% csrf_token %}
                            {% csrf_token %}
                            {{ form.ad }}
                            {{ form.client }}
                            {{ form.type }}
                            <tr>
                                <td>
                                    <div class="caption">Сумма</div>
                                </td>
                                <td>
                                    <div class="field">
                                        {{ form.price.errors }}
                                        {{ form.price }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="caption">Сообщение</div>
                                </td>
                                <td>
                                    <div class="field">
                                        {{ form.message.errors }}
                                        {{ form.message }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <label class="offer-item">
                                        <span class="check-wrap"><input type="checkbox" class="checkbox"></span>
                                        <span><img src="http://placehold.it/64x48" alt=""></span>
                                        <span class="offer-title">Фотки строго 64 на 48 альбомный режим</span>
                                    </label>
                                    <label class="offer-item">
                                        <span class="check-wrap"><input type="checkbox" class="checkbox"></span>
                                        <span><img src="http://placehold.it/64x48" alt=""></span>
                                        <span class="offer-title">Здесь Тип предложения и название предложения</span>
                                    </label>
                                    <label class="offer-item">
                                        <span class="check-wrap"><input type="checkbox" class="checkbox"></span>
                                        <span><img src="http://placehold.it/64x48" alt=""></span>
                                        <span class="offer-title">Продаю Моторолу</span>
                                    </label>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
                <footer class="footer">
                    <div class="final-bt">
                        <input type="button" class="i-bt" value="Отправить предложение">&nbsp;или&nbsp;<span
                            class="i-link i-link--fake js-close">отменить</span>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>
