{% load client_tags %}
<div class="b-slide-popup"{% if need_auth %}style="display:block;"{% endif %}>
    <div class="content">
        <div class="b-auth-popup">
            <div class="col i-white-box">
                <div class="auth__log-in tabs tab1">
                    {% render_login_form %}
                </div>
                <div class="auth__sign-in tabs tab2">
                    {% render_reset_form %}
                </div>
                <div class="auth__sign-in tabs tab3">
                    {% render_signup_form %}
                </div>
            </div>
            <div class="col">
                <span class="i-link i-link--fake i-link--selected js-switch-tab" data-tab="tab1">Авторизация</span>
                <br>
                <span class="i-link i-link--fake js-switch-tab" data-tab="tab3">Регистрация</span>
                <br>
                <span class="i-link i-link--fake js-switch-tab" data-tab="tab2">Забыли пароль?</span>
                <br>
            </div>
            <div class="error">
                <p></p>
            </div>
        </div>
    </div>



    <div class="js-slide-popup-close close i-close-ico-16"{% if need_auth %}style="display:none;"{% endif %}>

    </div>
</div>
