<div class="category-check">
    <div class="category-popup__title">Категории:</div>
    <form action=".">
        {% for category in categories %}
            <div class="catalog__list-wrap">
                <h3 class="catalog__title">
                    <span class="">{{ category.name }}</span>
                </h3>
                <ul class="catalog__list">
                    {% for subcat in category.children.all %}
                        <li class="catalog__item-wrap">
                            <label>
                                <input name='category' value="{{ subcat.id }}" {% if subcat.id in strip_selected_categories %}checked="checked"{% endif %} type="checkbox" class="catalog__checkbox">
                                <span class="catalog__item">{{ subcat.name }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <div class="category-check__footer">
            <input type="submit" class="b-bt" value="Выбрать">
        </div>
    </form>
</div>
