<div class="b-popup i-white-box">
    <div class="b-catalog ">
        <div class="close i-close-ico-16"></div>
        <div class="header-title">Категории:</div>
        {% for category in categories %}
        <div class="list-wrap">
            <h3 class="title">
                <a href="{% url 'category' category.machine_id %}" class="title-link title-link--selected">{{ category.name }}</a>
            </h3>
            <ul class="list">
                {% for subcat in category.children.all %} {% if False %}
                <li class="item-wrap">
                    <span class="item i-link i-link--selected">Авто с пробегом</span>
                </li>
                {% else %}
                <li class="item-wrap">
                    <a href="{% url 'category' subcat.machine_id %}" class="item i-link">{{ subcat.name }}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
