<div class="b-slide-popup">
    <div class="content">
        <div class="b-city-select i-white-box">
            <header class="header">
                <div class="left">
                    <h3 class="h">Объявления по городу</h3>
                </div>
                <div class="right">
                    <input type="search" class="search" placeholder="Быстрый поиск">
                </div>
            </header>
            <form id="check_city_ad_display" action="{% url 'check_city_ad_display' %}">
                <section class="content">
                    <div class="city i-white-box">
                        <div class="title">Населенный пункт</div>
                        <div class="city-list"></div>
                    </div>
                    <div class="region">
                        <div class="title">Регион</div>
                        <div class="region-list"></div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <div class="js-slide-popup-close close i-close-ico-16">
    </div>
</div>
