<div class="dev-map">
        <table>
            <tr>
                <td>
                    <div class="dev-map__item">
                        <b>Главная</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/index/" class="b-link">Главная, автаризован</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/index-no/" class="b-link">Главная, не автаризован</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/catalog" class="b-link">Каталог объявлений</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Объявления</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/ads/" class="b-link">Списко объявлений</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/ads--one-ad/" class="b-link">Одно объявление подробно</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/my-ads/" class="b-link">Мои объявления</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Купоны</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/coupons/" class="b-link">Список купонов</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/coupons-one/" class="b-link">Один купон подробно</a>
                    </div>
                    <div class="dev-map__item">
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Партнеры</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/partners/" class="b-link">Список партнеров</a>
                    </div>
                    <div class="dev-map__item">
                        Партнер подробно (как и профиль другого пользователя) не доступен для просмотра
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Разместить объявления</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/add-ad/" class="b-link">Объявление и купон</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Предложения</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/proposols/" class="b-link">Список предложений подробно</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/proposols-user/" class="b-link">Список предложений от пользователей</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/proposols-auto/" class="b-link">Список предложений автоматический, по сферам
                            деятельности</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dev-map__item">
                        <b>Пользователь</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/user-profile/" class="b-link">Профиль редактировать</a>
                    </div>
                    <div class="dev-map__item">
                        <a href="/registration/" class="b-link">Регистрация</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Балланс</b>
                    </div>
                    <div class="dev-map__item">
                        <a href="/money/" class="b-link">Баланс, архив, платежи</a>
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
                <td>
                    <div class="dev-map__item">
                        <b>Сообщения</b>
                    </div>
                    <div class="dev-map__item">
                        Их нет
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                    <div class="dev-map__item">
    
                    </div>
                </td>
            </tr>
        </table>
        <div class="dev-map-close">
            ?
        </div>
    </div>