<div class="b-fullscreen bg--green-yellow">
    <div class="wrap">
        <div class="photo">
            <img class="img" src="{{ STATIC_URL }}img/800x600.png">
            <div class="bot">
                <div class="note">

                </div>
            </div>
        </div>
        <div class="next"></div>
        <div class="prev"></div>
        <div class="close"></div>
    </div>
</div>
