{% extends 'inner_base.html' %} {% block body %}
    <div class="page page--margin">

    {% if is_good_added %}
        <h1>Объявление добавлено успешно</h1>
    {% else %}
        <h1>Разместить объявление</h1>
    {% endif %}

    <div class="b-ad-new">
    <div class="row">
    <div class="col">
    <div class="i-white-box">
    {% if is_good_added %}
        <div class="content">

            Вы можете посмотреть его по <a href="">ссылке</a>
        </div>
    {% else %}
        <form action="{% url 'add_good' %}" class="f-form" enctype="multipart/form-data" method="post">{% csrf_token %}
        {{ form.client }}
        <div class="content">
        <table class="for-form">
        <tr>
            <td>

            </td>
            <td>
                <label class="type-form">
                    <img src="http://placehold.it/32x32" alt="" class="ico">
                    <input type="radio" class="radio switch-form" name="form-type" data-show="form1" checked="checked">Объявление
                </label>

                <label class="type-form type-form--on">
                    <img src="http://placehold.it/32x32" alt="" class="ico">
                    <input type="radio" class="radio switch-form" name="form-type" data-show="form2">Акция
                </label>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Тип</div>
            </td>
            <td>
                <div class="field">
                    {{ form.kind.errors }}
                    {{ form.kind }}
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Город или населеный пункт</div>
            </td>
            <td>
                <div class="field">
                    {{ form.city.errors }}
                    {{ form.city }}
                </div>
            </td>
        </tr>

        <tr class="form1 before_params">
            <td>
                <div class="caption">Категория</div>
            </td>
            <td>
                <div class="field">
                    {{ category_errors }}
                    <select name="category" id="" title="weqweq">
                        <option data-val="qwe" value=""><strong>Выберите категорию</strong></option>
                        {% for category in categories %}
                            <option disabled data-val="qwe" value="{{ category.id }}">{{ category.name }}</option>
                            {% for subcategory in category.children.all %}
                                <option url_load_params="{% url 'load_params' category=subcategory.machine_id %}"
                                        data-val="qwe" value="{{ subcategory.id }}">
                                    &nbsp;&nbsp;{{ subcategory.name }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Название</div>
            </td>
            <td>
                <div class="field">
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Цена</div>
            </td>
            <td>
                <div class="field">
                    {{ form.price.errors }}
                    {{ form.price }}&nbsp;&nbsp;руб.
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Фото</div>
            </td>
            <td>
                <div class="field">
                    <div class="b-upload">
                        <div class="rezult"></div>
                        <div class="progress">
                            <div class="bar"></div>
                        </div>
                        <label>
                            {{ image_form.good }}
                            {{ image_form.img }}
                            {#                                                    <input type="file" class="upload-input" multiple accept="image/*">#}
                            <span class="add-link i-link i-link--fake">Добавить фото</span>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Краткое описание</div>
            </td>
            <td>
                <div class="field">
                    {{ form.short_text.errors }}
                    {{ form.short_text }}
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Подробно</div>
            </td>
            <td>
                <div class="field">
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>
            </td>
        </tr>
        <tr class="form1">
            <td>
                <div class="caption">Телефон</div>
            </td>
            <td>
                <div class="field">
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>
            </td>
        </tr>


        <tr class="form2">
            <td>
                <div class="caption">Название</div>
            </td>
            <td>
                <div class="field">
                    <input type="text" name="" class="input i-input">
                </div>
            </td>
        </tr>
        <tr class="form2">
            <td>
                <div class="caption">Категория</div>
            </td>
            <td>
                <div class="field">
                    <select name="promo-ad" id="" title="weqweq">
                        <option data-val="qwe" value="1">Туризм</option>
                        <option data-val="qwe" value="2">Развлечения</option>
                        <option data-val="qwe" value="3">Обучение</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr class="form2">
            <td>
                <div class="caption">Фото</div>
            </td>
            <td>
                <div class="field">
                    <div class="b-upload">

                        <div class="rezult"></div>
                        <div class="progress"></div>
                        <label>
                            <input type="file" class="upload-input" multiple accept="image/*">
                            <span class="add-link i-link i-link--fake">Добавить фото</span>
                        </label>

                    </div>
                </div>
            </td>
        </tr>
        <tr class="form2">
            <td>
                <div class="caption">Размер скидки</div>
            </td>
            <td>
                <div class="field">
                    <input type="text" name="" class="input i-input">
                </div>
            </td>
        </tr>
        <tr class="form2">
            <td>
                <div class="caption">Срок проведения акции</div>
            </td>
            <td>
                <div class="field">
                    <input type="text" name="" class="input i-input input--date" placeholder="с">&nbsp;—&nbsp;
                    <input type="text" name="" class="input i-input input--date" placeholder="по">
                </div>
            </td>
        </tr>
        <tr class="form2">
            <td>
                <div class="caption">Описание</div>
            </td>
            <td>
                <div class="field">
                    <textarea name="about-ad" rows="4" class="i-textarea textarea"></textarea>
                </div>
            </td>
        </tr>
        </table>
        </div>
        <footer class="footer">
            <div class="final-bt">
                <input type="submit" class=" i-bt" value="Разместить объявление">
            </div>
        </footer>
        </form>

        </div>
        </div>


        <div class="col ">
            <div class="i-white-box form1">
                <div class="b-item-ad i-white-box b-item-ad--one">
                    <header class="header">
                        <h3 class="title">
                            <a href="" class="i-link">
                                <span class="js-temp-type-ad">Продаю</span>
                                <span class="js-temp-name-ad">SEAT Altea</span>
                            </a>,
                            <span class="js-temp-price-ad">1 180 000</span>&nbsp;руб.</h3>
                    </header>
                    <div class="gallery js-photos-fullscreen">
                        <img src="http://placehold.it/300x201" alt="" height="180" width="240"
                             data-url="http://placehold.it/1025x768">
                    </div>
                    <div class="content js-temp-about-ad">
                        Это базовое объявление с одной картинкой. Добавить класс b-item-ad--one
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolore delectus inventore
                        dolorum
                        aperiam tempora, animi explicabo placeat nostrum eveniet cumque a enim voluptatibus! Officiis
                        impedit magnam omnis ducimus in.
                    </div>
                    <footer class="footer">
                        <table>
                            <tr>
                                <td>
                                    <span class="action">
                                    <span class="i-link i-link--fake ad__action--offer">Отправить предложение</span>
                                    </span>
                                    <span class="action"> <a href="" class="i-link">Не интересует</a>
                                    </span>
                                    <span class="action"><a href="" class="i-link">Продвигать</a>
                                    </span>
{#                                    <span class="action"> <a href="" class="i-link">Отслеживать</a>#}
{#                                    </span>#}
                                                                </td>
                                                                <td>
                                    <span class="action"><a href="" class="i-link">Константинопольский
                                        константин</a>
                                    </span>
                                </td>
                                <td>14 янв 2013</td>
                            </tr>
                        </table>
                    </footer>
                </div>
            </div>

            <div class="form2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequuntur libero tempora aliquam
                accusantium, a sint beatae dolorem provident, dignissimos veniam. Totam adipisci, accusamus nisi porro
                id
                assumenda sed delectus.
            </div>
        </div>

    {% endif %}

    </div>

    </div>
    </div>
{% endblock %}
