{% extends 'inner_base.html' %}
{% load client_tags %}
{% block body %}
<div class="page page--margin">
    <div class="bg--green-yellow auth-popup-box b-auth">
        <div class="auth__log-in">
            {% render_login_form %}
        </div>

        <div class="auth__sign-in">
            {% render_signup_form %}
        </div>
        <div class="auth__info error">
        </div>
    </div>
</div>
{% endblock %}