<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DORY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=980">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/_styles.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/ones/main.css">
    <link rel="stylesheet" href="/static/css/additional.css">
    <link rel="stylesheet" type='text/css' href="/static/ones/ui/jquery-ui.min.css">
    <link rel="stylesheet" type='text/css' href="/static/ones/ui/jquery-ui.theme.min.css">

    <!-- fonts -->
    <link rel="stylesheet" type='text/css' href="/static/fonts/ptsans_bold/stylesheet.css">
    <link rel="stylesheet" type='text/css' href="/static/fonts/ptsans_bolditalic/stylesheet.css">
    <link rel="stylesheet" type='text/css' href="/static/fonts/ptsans_italic/stylesheet.css">
    <link rel="stylesheet" type='text/css' href="/static/fonts/ptsans_regular/stylesheet.css">

    <!--[if gte IE 9]>  <link rel="stylesheet" href="/static/css/ie9.css"> <![endif]-->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/ones/ui/jquery-ui.min.js"></script>

    <script src="/static/js/masonry.pkgd.min.js"></script>

    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>

    <script src="/static/js/jquery.oneslide.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/create_ad.js"></script>
    <script src="/static/js/exform.js"></script>

    <script src="/static/js/additional.js"></script>

{#    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    {% block javascript %}{% endblock %}
    <script src="/static/ones/main.js"></script>
</head>
{% block base %} Базовый шаблон {% endblock %}


</html>
