{% extends 'inner_base.html' %} {% block body %}
<div class="page page--margin">
    <div class="page-content b-catalog">
        {% for cat in categories %}
        <div class="list-wrap">
            <h3 class="title">
                <a href="{% url 'category' slug=cat.machine_id %}" class="title-link">{{ cat.name }}</a>
            </h3>
            <ul class="list">
                {% for subcat in cat.children.all %}
                <li class="item-wrap">
                    <a href="{% url 'category' slug=subcat.machine_id %}" class="item i-link">{{ subcat.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
