{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %}
{% load thumbnail %}

{% block body %}
    <div class="page page--margin">

        <div class="page-content">
            <div class="ads">
                <div class="b-crumbs">
                    <span class="i-link i-link--fake category-popup-show-link">Категория:</span>
                    <br>

                    <h1 class="path">{{ category.parent.name }} → {{ category.name }}</h1>
                </div>
                {% if not category.parent %}
                    {% for cat in category.children.all %}
                        {% for good in cat.category_goods.all %}
                            {% if good in ad_list %}
                                {% include 'blocks/b-category-ad.html' %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for good in category.category_goods.all %}
                        {% if good in ad_list %}
                            {% include 'blocks/b-category-ad.html' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="page-side stickyeah">
            <div class="page-side-w">
                {% include 'blocks/b-side.html' %}
            </div>
        </div>
    </div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
