{% extends 'base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}
<div class="page page--margin">
    <div class="coupons-crumbs">
        <h1 class="h1">Акции и скидки</h1>
    </div>
    <div class="coupons-nav">
        <div class="coupons-nav__item coupons-nav__item--selected">
            <span href="/index/" class="coupons-nav__link">Все</span>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Красота</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Туризм</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Развлечение</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Фитнес</a>
        </div>

        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Обучение</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Здоровье</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Авто</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Товары</a>
        </div>

        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Дача</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Для детей</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Разное</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Спецпроеты</a>
        </div>
        <div class="coupons-nav__item">
            <a href="/index/" class="coupons-nav__link b-link">Недвижимость</a>
        </div>
    </div>
</div>
<div class="page">

    <div class="coupons">

        {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %} {% include 'blocks/b-coupon.html' %}
    </div>



</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
