{% extends 'base.html' %}
{% load client_tags %}
{% block base %}

    <body>
    <div class="wrapper bg--green-yellow">
        <div class="page-wrap">
            {% block header %}
                <div class="b-header ">
                    <div class="max-width">
                        <table class="table-main">
                            <tr>
                                <td class="cell-main">
                                    <a href="/" class="logo"></a>
                                </td>
                                <td class="cell-main">
                                    {% render_user_menu %}
                                    <table class="actions">
                                        <tr>
                                            <td>
                                                <div class="elem">
                                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAgElEQVR4AZXNQW3EMBBA0QfBQPZgCIZgCIFgCMMgEAKhEBZCIAyEQEivzaittO/8pe8zUwjTr5pT2u3SqamcDgCHUzElWBbIOgo71ut+3RZ2UYN4BFGD5XgsviwPXfopdUUaAIZUCW8Ab6HSpA0sqakwXLrh1v1hc7ls/jFNn/kG0EYpgWOoUHQAAAAASUVORK5CYII="
                                                         alt="" class="ico">
                                                    <span class="city-select i-link i-link--fake js-city-select"
                                                          data-node-class="b-city-select">Иркутск</span>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- ToDo: Скрыть поиск -->
                                                <form>
                                                    <table class="search-wrap elem">
                                                        <tr>
                                                            <td>
                                                                <input type="text" class="search ">
                                                            </td>
                                                            <td>
                                                                <input type="button" class="search-bt i-bt"
                                                                       value="Найти">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="search-slide-list-wrap">
                                                                <div class="search-slide-list">
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, quod, tenetur. Veritatis odit, rem! Nostrum ducimus, dolore distinctio fuga laudantium velit adipisci soluta libero eum, magni laboriosam, et pariatur ullam.</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                    <div>
                                                                        <span>lorem</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                            </td>
                                            <td>
                                                <div class="elem">
                                                    <a href="/catalog/add/" class="add-bt">Разместить объявление </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% include 'popups/city-select_popup.html' %}
                {% include 'popups/auth_popup.html' %}
            {% endblock %}

            {% block body %}
                Внутренняя страница сайта
            {% endblock %}

            {% block footer %}
                <div class="main-foot">
                    <div class="main-foot__item">
                    </div>
                </div>
            {% endblock %}

        </div>
    </div>

    {% block popups %}
        {% include 'popups/ad_action_popup.html' %}
        {% include 'popups/add_offer.html' %}
        {% include 'popups/category-check_popup.html' %}
        {% include 'popups/category_popup.html' %}
        {% include 'popups/dev_map.html' %}
        {% include 'popups/popup-full.html' %}
    {% endblock %}

    <script src="/static/js/jquery-1.11.1.min.js"></script>

    <script src="/static/js/jquery.stickyeah.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>

    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>

    <script src="/static/js/jquery.oneslide.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="/static/js/city.js"></script>
    </body>
{% endblock %}
