{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}

<div class="page page--margin">
    <div class="b-rating">
        <div class="header">
            <h1 class="h1">Рейтинг</h1> <span class="rating rating--positive">{{client.get_rating}}</span>
        </div>

        <div class="wrap i-white-box">
            <table>
                <tr>
                    <td>Продажа</td>
                    <td></td>
                    <td>09.09.14</td>
                    <td>
                        <span class="positive">+56</span>
                    </td>
                </tr>
                <tr>
                    <td>Продажа</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed alias fuga officiis soluta dolorum possimus minus error, numquam, magnam ex incidunt reprehenderit commodi accusantium totam iusto eius? Nam, dignissimos nostrum!</td>
                    <td>09.09.14</td>
                    <td>
                        <span class="negative">-56</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
