{% extends 'inner_base.html' %}

{% load client_tags %}

{% block body %}
<div class="page page--margin">
    <div class="bg--green-yellow ">
        <div class="content">
        {% if messages %}
            {% for message in messages %}
                <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
            {% endfor %}
        {% endif %}
            <form action="." method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                Введите код подтверждения: {{ form.raw_password }} {{ form.raw_password.errors }}<br>
                <input type="submit" value="Продолжить">
            </form>
        </div>
    </div>
</div>
{% endblock %}
