{% extends 'inner_base.html' %}

{% block body %}
<div class="page page--margin">
    <div class="bg--green-yellow ">

        <div class="content">
            <div class="b-auth-popup">
                <div class="col i-white-box">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                            <tr>
                                <td class="caption">Сброс пароля</td>
                            </tr>
                            <tr>
                                <td class="cell">
                                    <div class="title">Пароль:</div>
                                    {{ form.password.errors }}
                                    {{ form.password }}
                                </td>
                            </tr>
                            <tr>
                                <td class="cell">
                                    <div class="title">Повторно:</div>
                                    {{ form.pass2.errors }}
                                    {{ form.pass2 }}
                                    {{ form.token }}
                                </td>
                            </tr>
                            <tr>
                                <td class="final">
                                    <input type="submit" class="i-bt" value="Сохранить">
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="error">
                        <p></p>
                        {{ personal_reg_form.non_field_errors }}
                        {{ personal_reg_form.non_field_errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}