{% extends 'inner_base.html' %} {% load thumbnail %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}

<div class="page page--margin">
    <div class="b-user-profile i-white-box">
        <div class="info ">
            <div class="photo">
                {% if client.img %}
                    {% thumbnail client.img "372x260" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="">
                    {% endthumbnail %}
                {% else %}
                    <img src="/static/img/no-image.png" style="width:350px; height:250px;" title alt class="b-one-ad_photo-img"> 
                {% endif %}
            </div>
            <div class="content">
                <header class="header">
                    <h1 class="">{{ client.get_pretty_name }}</h1>
                <h2>Компания: {{ account.client_organization_info.first }}</h2>
                </header>
                <div class="description">
                    {% if account.is_person and account.client_personal_info %} {{ account.client_personal_info.first.description }}{% endif %}
                </div>
                <br>
                <h3>Контактные данные</h3>
                <p>Эл. почта: {{ account.user.username }}</p>
                <p>{% for phone in account.client_phone_numbers.all %} Телефон: {{ phone.number }} {% endfor %}
                </p>
                <br>
                <h3>Сфера деятельности</h3>
                {% if interests %}
                    {% for interes in interests %}  <a href="/catalog/category/{{ interes.machine_id }}" class="i-link">{{ interes }}</a> {% endfor %}
                {% endif %}
                
                <br>
                <br>
                {% if account.is_organization %}
                {% endif %}
                <br>
                <br>
                 {% if account.client_organization_info.first.description %}
                     <div>{{ account.client_organization_info.first.description|safe }}</div>
                    {% else %}
                    <div><i>Нет описания</i></div>
                 {% endif %}

               <div class="social-button">
                                    <script type="text/javascript">
                                    (function() {
                                        if (window.pluso)
                                            if (typeof window.pluso.start == "function") return;
                                        if (window.ifpluso == undefined) {
                                            window.ifpluso = 1;
                                            var d = document,
                                                s = d.createElement('script'),
                                                g = 'getElementsByTagName';
                                            s.type = 'text/javascript';
                                            s.charset = 'UTF-8';
                                            s.async = true;
                                            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                            var h = d[g]('body')[0];
                                            h.appendChild(s);
                                        }
                                    })();
                                    </script>
                                    <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,email"></div>
                                </div>

                <br>
                <br>
            </div>

            <div class="b-rating">
            <div class="header">
                <h1 class="h1">Рейтинг</h1> <span class="rating rating--positive">{{account.get_rating}}</span>
            </div>

            {% for f in account.get_feedbacks %}
                <div class="wrap i-white-box">
                <table>
                <tr>
                    <td style="padding-bottom: 0px">
                        <span style="font-size:60px;" class="{% if '-' in f.rating_point %}negative{% else %}positive{% endif %}">{{ f.rating_point }}</span><br/>
                        {{f.date|date:"d.m.Y"}}
                    </td>
                    <td style="width:100%; vertical-align:top;">{{f}}</td>
                </tr>
                 </table>
                </div><br/>
            {% empty %}
                <tr>
                    <td>нет данных о рейтинге</td>
                </tr>
            {% endfor %}
        </div>
        </div>

        <footer class="footer">
            <div class="actions">
                <span class="action">
                    {% if feedback_exists %}
                        <span href="" class="">Вы уже оставили отзыв</span>
                    {% else %}
                        {% if user != account.user and request.user.is_authenticated %}
                            <span href="" class="i-link i-link--fake js-alarm">Оставить отзыв</span>
                        {% endif %}
                    {% endif %}
                </span>
                <span class="action">
                    {% if user != account.user and request.user.is_authenticated %}
                        <span class="i-link i-link--fake js-message">Отправить личное сообщение</span>
                    {% endif %}
                </span>
            </div>

            <div class="forms">
                <form action="{% url 'create_feedback' %}" method="post" class="alarm">
                    {% csrf_token %} {{ feedback_form.about }} {{ feedback_form.client }}
                    <table>
                        <tr>
                            <td class="">Оценка</td>
                            <td class="">
                                <input type="radio" name="rating" value="1" /> -2
                                <input type="radio" name="rating" value="2" /> -1
                                <input type="radio" name="rating" value="3" /> +1
                                <input type="radio" name="rating" value="4" /> +2
                                <input type="radio" checked name="rating" value="5" /> +3
                            </td>
                        </tr>
                        <tr>
                            <td class="">Сообщение</td>
                            <td class="">
                                {{ feedback_form.text.errors }} {{ feedback_form.text }}
                                {# <textarea name="" id="" class="b-textarea b-textarea--full"></textarea>#}
                            </td>
                        </tr>
                        <tr>
                            <td class=""></td>
                            <td class="">
                                <input type="button" class="i-bt js-submit" value="Отправить">
                                <span style="display: none" class="js-submit--info">
                                    <h1>Отзыв отправлен</h1>
                                </span>
                            </td>
                        </tr>
                    </table>
                </form>
                <form action="{% url 'create_chat_message' %}" class="message">
                    <table class="">
                        <tbody>
                            <tr>
                                <td class=""></td>
                                <td class="">
                                    {{ msg_form }} {# <textarea name="" id="" class="b-textarea b-textarea--full"></textarea>#}
                                </td>
                            </tr>
                            <tr>
                                <td class=""></td>
                                <td class="">
                                    <input type="button" class="i-bt js-submit" value="Отправить">
                                    <span style="display: none" class="js-submit--info">
                                        <h1>Сообщение отправлено</h1>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </footer>
    </div>
</div>

{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
