Вам задали вопрос по вашему объявлению <a href="{% url 'ad_view' message.ad.pk %}">{{ message.ad.title }}</a>:

"{{ message.text }}"

Ответить: <a href="mailto:{{ message.email }}">{{ message.email }}</a>

Дата: {{ message.date|date:"d.m.Y H:M" }}