{% extends 'inner_base.html' %}
{% load thumbnail %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}

{% block body %}
    <div class="page">
        <div class="b-ad-new">
            <div class="row">
                <div class="col col--left">
                    <div class="i-white-box">
                        <header class="header">
                            <h1 class="h">Купить контакт</h1>
                        </header>
                        {% if error %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="content">
{#                            <h2>Ваш баланс составляет: {{ refill_order.balance.money|floatformat:"0" }} руб.</h2>#}
                            <a class="i-bt" href="{% url 'buy_contact' %}?ad={{ ad }}&next={{ next }}">Купить</a>
                            <a class="i-bt" href="{{ prev_page }}">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    {% include 'blocks/b-main-foot.html' %}
{% endblock %}
