<h1>Для публикации не хватает {{ refill_amount|floatformat:"0" }} руб.</h1>
<h2>Стоимость публикации {{ cost|floatformat:"0" }} руб</h2>
<div>Ваш баланс: {{ balance.money|floatformat:"0" }} руб</div>
<br>
<p>После сохранения объявления Вы будете перенаправлены на страницу пополнения баланса</p>
<p>Данное объявление будет иметь статус "неопубликовано", вы сможете опубликовать его из личного кабинета</p>