{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}
<div class="page page--margin">
    <div class="b-payments">

        <div class="money-transfer i-white-box">
            <br>{% if error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %}
            <div class="content">
                <h2>Ваш баланс {{ balance.money|floatformat:"0" }} руб.</h2>
                <p>Введите сумму, на которую хотите пополнить ваш баланс.
                    <br>Далее вы перейдете на страницу оплаты</p>
                <br>
                <form action="{% url 'redirect_robokassa' %}" method="post">{% csrf_token %}
                    <table>
                        <tr>
                            <td>Сумма</td>
                            <td>
                                <input type="hidden" name="refill_order_id" value="{{ refill_order.id }}" />
                                <input type="text" name="amount" value="{% if refill_order.amount %}{{ refill_order.amount|floatformat:" 0 " }}{% else %}1000{% endif %}"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" class="i-bt" value="Пополнить" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


       <div>
        <!--    <div class="history i-white-box">
                <h3 class="h3">История операций</h3>
                <div class="time">
                    <a href="" class="i-link i-link--fake">2015</a>
                </div>
                <table class="table order-list">
                    {% for order in orders %}
                    <tr>
                        <td>
                            Номер заказа: {{ order.number }}
                        </td>
                        <td class="date">{{ order.date_payment|date:"d.m.Y" }}</td>
                        <td class="money">-{{ order.cost }} руб.</td>
                    </tr>
                    {% endfor %}
                </table> 
            </div>  -->

        </div>

    </div>
</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
