{% extends 'inner_base.html' %}
{% load thumbnail %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}

{% block body %}
    <div class="page">
        <div class="b-ad-new">
            <div class="row">
                <div class="col col--left">
                    <div class="i-white-box">
                        <header class="header">
                            <h1 class="h">Пополнение баланса</h1>
                        </header>
                        {% if error %}
                            <div class="error">
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="content">
                            <h2>Ваш баланс составляет: {{ refill_order.balance.money|floatformat:"0" }} руб.</h2>
                            <p>Введите сумму, на которую хотите пополнить Ваш баланс</p>
                            <p>Далее Вы перейдете на страницу оплаты</p>
                            <form action="." method="post">{% csrf_token %}
                                <input type="hidden" name="refill_order_id" value="{{ refill_order.id }}"/>
                                <input type="text" name="amount" value="{% if refill_order.amount %}{{ refill_order.amount|floatformat:"0" }}{% else %}1000{% endif %}"/>
                                <input type="submit" value="Пополнить"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}
    {% include 'blocks/b-main-foot.html' %}
{% endblock %}
