{% load thumbnail %}
<div class="ad__popup">
    <div class="offer-popup">
        <div class="b-offer-popup">
            <div class="close i-close-ico-16 js-close"></div>
            <form id="add_offer" action="{% url 'create_offer' %}" method="post" class="f-form">

                <div class="content">
                    <h3>Ваш отзыв</h3>
                    <table class="for-form">
                        {% csrf_token %}
                        {{ form.about }}
                        {{ form.client }}
                        <tr>
                            <td>
                                <div class="caption">Тип</div>
                            </td>
                            <td>
                                <div class="field">
                                    {{ form.type.errors }}
                                    {{ form.type }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="caption">Оценка</div>
                            </td>
                            <td>
                                <div class="field">

                                    <input type="radio" name='rating' value="1"/>
                                    <input type="radio" name='rating' value="2"/>
                                    <input type="radio" name='rating' value="3"/>
                                    <input type="radio" name='rating' value="4"/>
                                    <input type="radio" name='rating' value="5"/>

                                    {{ form.rating.errors }}
                                    {{ form.rating }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="caption">Сообщение</div>
                            </td>
                            <td>
                                <div class="field">
                                    {{ form.text.errors }}
                                    {{ form.text }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <footer class="footer">
                    <div class="final-bt">
                        <input type="button" class="i-bt" value="Отправить отзыв">&nbsp;или&nbsp;<span
                            class="i-link i-link--fake js-close">отменить</span>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>
