<!-- Базовое -->
<div class="b-item-ad i-white-box">
    <header class="header">
        <h3 class="title"><a href="" class="i-link">{{ ad.title }}</a>, {{ ad.price|floatformat:"0" }} руб.</h3>
    </header>
    <div class="gallery js-photos-fullscreen">
        {% for photo in ad.good_photos.all %}
            <img src="photo.url" alt="" height="180" width="240" data-url="photo.url">
        {% endfor %}
    </div>
    <div class="content">
        {{ ad.text }}
    </div>
    <footer class="footer">
        <table>
            <tr>
                <td>
                    <span class="action">
                        <span class="i-link i-link--fake ad__action--offer">Отправить предложение</span>
                    </span>
                    <span class="action"> <a href="" class="i-link">Не интересует</a>
                    </span>
                    <span class="action"><a href="" class="i-link">Продвигать</a>
                    </span>
                    <span class="action"> <a href="" class="i-link">Отслеживать</a>
                    </span>
                </td>
                <td>
                    <span class="action"><a href="" class="i-link">Константинопольский константин</a>
                    </span>
                </td>
                <td>14 янв 2013</td>
            </tr>
        </table>
    </footer>
</div>









<!-- Это базовое объявление с одной картинкой. Добавить класс b-item-ad--one -->
<div class="b-item-ad i-white-box b-item-ad--one">
    <header class="header">
        <h3 class="title"><a href="" class="i-link">Продаю SEAT Altea</a>, 1 180 000 руб.</h3>
    </header>
    <div class="gallery js-photos-fullscreen">
        <img src="http://placehold.it/300x201" alt="" height="180" width="240" data-url="http://placehold.it/1025x768">
    </div>
    <div class="content">
        Это базовое объявление с одной картинкой. Добавить класс b-item-ad--one Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolore delectus inventore dolorum aperiam tempora, animi explicabo placeat nostrum eveniet cumque a enim voluptatibus! Officiis impedit magnam omnis ducimus in.
    </div>
    <footer class="footer">
        <table>
            <tr>
                <td>
                    <span class="action">
                        <span class="i-link i-link--fake ad__action--offer">Отправить предложение</span>
                    </span>
                    <span class="action"> <a href="" class="i-link">Не интересует</a>
                    </span>
                    <span class="action"><a href="" class="i-link">Продвигать</a>
                    </span>
                    <span class="action"> <a href="" class="i-link">Отслеживать</a>
                    </span>
                </td>
                <td>
                    <span class="action"><a href="" class="i-link">Константинопольский константин</a>
                    </span>
                </td>
                <td>14 янв 2013</td>
            </tr>
        </table>
    </footer>
</div>








<!-- Выделеное объявление. Нужно добавить класс b-item-ad--spot -->
<div class="b-item-ad b-item-ad--spot i-white-box">
    <div class="ad-wrap">
        <header class="header">
            <h3 class="title"><a href="" class="link">Продаю SEAT Altea</a>, 1 180 000 руб.</h3>
        </header>
        <div class="gallery js-photos-fullscreen">
            <img src="http://placehold.it/300x201" alt="" height="180" width="240" data-url="http://placehold.it/1021x768">
            <img src="http://placehold.it/300x202" alt="" height="180" width="240" data-url="http://placehold.it/1022x768">
            <img src="http://placehold.it/300x203" alt="" height="180" width="240" data-url="http://placehold.it/1023x768">
            <img src="http://placehold.it/300x204" alt="" height="180" width="240" data-url="http://placehold.it/1024x768">
        </div>
        <div class="content">
            Выделеное объявление. Нужно добавить класс b-item-ad--spot Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolore delectus inventore dolorum aperiam tempora, animi explicabo placeat nostrum eveniet cumque a enim voluptatibus! Officiis impedit magnam omnis ducimus in.
        </div>
        <footer class="footer">
            <table>
                <tr>
                    <td>
                        <span class="action">
                            <span class="i-link i-link--fake ad__action--offer">Отправить предложение</span>
                        </span>
                        <span class="action"> <a href="" class="i-link">Не интересует</a>
                        </span>
                        <span class="action"><a href="" class="i-link">Продвигать</a>
                        </span>
                        <span class="action"> <a href="" class="i-link">Отслеживать</a>
                        </span>
                    </td>
                    <td>
                        <span class="action"><a href="" class="i-link">Константинопольский константин</a>
                        </span>
                    </td>
                    <td>14 янв 2013</td>
                </tr>
            </table>
        </footer>
    </div>
    <div class="spot">
        <span class="spot-link">i</span>
    </div>
</div>
