<div class="ad-short ">
    <div class="ad-short__content b-table">
        <div class="ad-short__photo b-td">
            <img src="{{ ad.good_photos.first.img.url }}" alt="" width="128" height="92">
        </div>
        <div class="ad-short__info b-td">
            <div class="ad-short__title">
                <a href="{% url 'ad_view' ad.id %}" class="b-link">{{ ad.name }}, {{ ad.price|floatformat:"0" }}
                    руб.</a>
            </div>
            <div>
                {{ ad.date|date:"d.m.Y" }}
            </div>
            <div>
                {{ ad.short_text }}
            </div>
        </div>
        <div class="ad-short__resps b-td">
            <div class="ad-short__resp">
                <a href="{% url 'ad_offers' ad.pk %}" class="b-link">
                    {% if ad.ad_offers.count %}
                        Предложений:&nbsp;{{ ad.ad_offers.count }}
                    {% else %}
                        Предложений нет
                    {% endif %}
                </a>
            </div>
            <div class="ad-short__resp">
                <a href="/predlogenie/" class="b-link">Подобрано 25 предложений</a>
            </div>
            <div class="ad-short__resp">
                <a href="/ads--one-ad/" class="b-link">7&nbsp;вопросов</a>
            </div>
        </div>
    </div>
    <div class="ad-short__actions">
        <div class="ad-short__action"><a href="" class="b-link">Поднять вверх</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Редактировать</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Снять c публикации</a>
        </div>
        <div class="ad-short__action">
            <a href="#" class="b-link ad__delete">Удалить</a>

            <div class="ad__delete_popup hidden">
                <form action="{% url 'delete_ad' ad.id %}" method="post">{% csrf_token %}
                    <input class="ad__delete_ok" type="submit" value="Да"/> <a
                            class="ad__delete_cancel" href="#">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
