<div class="ad">


    <div class="ad__title">
        <a href="/ads--one-ad/" class="b-link">Продаю Honda Integra</a>, 115 000 руб.
    </div>


    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    <span class="b-link b-link--g ad__action ad__action--offer">Отправить предложение</span>
                    <a href="/" class="b-link ad__action">Отслеживать</a>
                    <a href="/" class="b-link ad__action">Не интересует</a>
                    <a href="/" class="b-link ad__action">Продвигать</a>
                    <a href="/" class="b-link ad__action">Редактировать</a>

                </td>
                <td class="ad__footer-cell">
                    <a href="/user-profile/" class="b-link">Константинопольский Константин Константинович</a>

                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">5 янв 2013</div>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>
