<div class="ad-short ">
    <div class="ad-short__content b-table">
        <div class="ad-short__photo b-td">
            <img src="/static/img/rav/1.jpg" alt="" width="128" height="92">
        </div>
        <div class="ad-short__info b-td">
            <div class="ad-short__title">
                <a href="/ads--one-ad/" class="b-link">Продаю RAV4</a>
            </div>
            1997 год.
            <br>450&nbsp;000&nbsp;руб.
            <br>Плюс другие основные характерестики которые нужно указать при создании объявления
        </div>
    </div>
    <div class="ad__chat">
        <div class="ad__chat__left">
            <div class="ad__chat__title">Ваше предложение</div>
            Куплю, 900 000 руб.
        </div>
        <div class="ad__chat__right">
            <div class="ad__chat__title">Ответ</div>
            <div class="ad__chat__status-bad">✗ Отказано</div>             
        </div>
         <div class="ad__chat__left">
            <div class="ad__chat__title">Ваше предложение</div>
            Куплю, 400 000 руб.
        </div>
    </div>
    <div class="ad-short__actions">
        <div class="ad-short__action"><a href="" class="b-link">Изменить предложение</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Отменить</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Удалить</a>
        </div>
    </div>
</div>
<div class="ad-short ">
    <div class="ad-short__content b-table">
        <div class="ad-short__photo b-td">
            <img src="/static/img/rav/4.jpg" alt="" width="128" height="92">
        </div>
        <div class="ad-short__info b-td">
            <div class="ad-short__title">
                <a href="/ads--one-ad/" class="b-link">Продаю RAV4</a>
            </div>
            1997 год.
            <br>450&nbsp;000&nbsp;руб.
            <br>Плюс другие основные характерестики которые нужно указать при создании объявления
        </div>
    </div>
    <div class="ad__chat">
        <div class="ad__chat__left">
            <div class="ad__chat__title">Ваше предложение</div>
            Куплю, 300 000 руб.
        </div>
        <div class="ad__chat__right">
            <div class="ad__chat__title">Ответ</div>
            <div class="ad__chat__status-good">✓ Принято</div>  
            Александр Фурченко <br>    
            8 950 059 8723
        </div>
    </div>
    <div class="ad-short__actions">
        <div class="ad-short__action"><a href="" class="b-link">Изменить предложение</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Отменить</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Удалить</a>
        </div>
    </div>
</div>
<div class="ad-short ">
    <div class="ad-short__content b-table">
        <div class="ad-short__photo b-td">
            <img src="/static/img/rav/4.jpg" alt="" width="128" height="92">
        </div>
        <div class="ad-short__info b-td">
            <div class="ad-short__title">
                <a href="/ads--one-ad/" class="b-link">Куплю RAV4</a>
            </div>
            1997 год.
            <br>450&nbsp;000&nbsp;руб.
            <br>Плюс другие основные характерестики которые нужно указать при создании объявления
        </div>
    </div>
    <div class="ad__chat">
        <div class="ad__chat__left">
            <div class="ad__chat__title">Ваше предложение</div>
            <a href="" class="b-link">Продаю Rav4 </a>
        </div>
        <div class="ad__chat__right">
            <div class="ad__chat__title">Ответ</div>
            <div class="ad__chat__status-good">✓ Принято</div>  
            Александр Фурченко <br>    
            8 950 059 8723
        </div>
    </div>
    <div class="ad-short__actions">
        <div class="ad-short__action"><a href="" class="b-link">Изменить предложение</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Отменить</a>
        </div>
        <div class="ad-short__action"><a href="" class="b-link">Удалить</a>
        </div>
    </div>
</div>
