<div class="ad">
    <table class="b-table">
        <tr>
            <td class="b-td">
                <div class="ad__photo-wrap">
                    <div class="ad__photo">
                        <img src="http://s.auto.drom.ru/3/sales/photos/14015/14014140/105901368.jpg" alt="" class="ad__photo-img">
                    </div>
                </div>
            </td>
            <td class="b-td">
                <div class="ad__title">
                    <a href="/ads--one-ad/" class="b-link">Продаю Toyota Mark II</a>, 250&nbsp;000 руб.
                </div>
                <div class="ad__info">
                    СРОЧНО!!!!!!доки на передвижнние оригинал, на номерах, состояние почти идеальное.ЦЕНА ДЕЙСТВИТЕЛЬНА 3 ДНЯ, потом будет прежняя, все вопросы по телефону.
                </div>
            </td>
        </tr>
    </table>
    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    <span class="b-link b-link--g ad__action ad__action--offer">Отправить предложение</span>
                    <a href="/" class="b-link ad__action">Отслеживать</a>
                    <a href="/" class="b-link ad__action">Не интересует</a>
                    <a href="/" class="b-link ad__action">Продвигать</a>
                    <a href="/" class="b-link ad__action">Редактировать</a>

                </td>
                <td class="ad__footer-cell">
                    <a href="/user-profile/" class="b-link">Константинопольский Константин Константинович</a>

                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">12:45</div>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>