<div class="ad ad--top">
    <div class="ad__bg">
        <div class="ad__title">
            <a href="/ads--one-ad/" class="b-link">Продаю SEAT Altea</a>, 1&nbsp;180&nbsp;000&nbsp;руб.
        </div>
        <div class="ad__photo-wrap">
            <div class="ad__photo">
                <img src="http://s.auto.drom.ru/4/sales/photos/14757/14756986/112611813.jpg" alt="" class="ad__photo-img" width="256" height="192" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, doloribus voluptates culpa nesciunt deserunt iure perferendis debitis ipsam illo adipisci pariatur accusamus magni officiis quia mollitia obcaecati nostrum libero nemo!">
            </div>
            <div class="ad__photo">
                <img src="http://s.auto.drom.ru/4/sales/photos/14757/14756986/112611810.jpg" alt="" class="ad__photo-img" width="256" height="192">
            </div>
            <div class="ad__photo">
                <img src="http://s.auto.drom.ru/4/sales/photos/14757/14756986/112611782.jpg" alt="" class="ad__photo-img" width="256" height="192">
            </div>
        </div>
        <div class="ad__info">
            <p>Один хозяин. В России 1 год. Салон не прокуренный, чистый, оригинальные кожаные чехлы. Ксенон - Япония, заводская тонировка стекол, метла. Сигнализация с автозапуском, с иммобилайзером, заводится с кнопки. Литьё R17, новая резина. Магнитола - CD, MD, Radio AM FM— Stereo. Гаражное Хранение. Машина в ДТП не участвовала.</p>

        </div>

        <div class="ad__actions">
            <table class="ad__footer">
                <tr>
                    <td class="ad__footer-cell ad__footer-cell--first">
                        <span class="b-link b-link--fake b-link--g ad__action ad__action--offer">Отправить предложение</span>
                        <a href="/" class="b-link ad__action">Отслеживать</a>
                        <a href="/" class="b-link ad__action">Не интересует</a>
                    </td>
                    <td class="ad__footer-cell">
                        <a href="/user-profile/" class="b-link">ООО «Клио»</a>
                    </td>
                    <td class="ad__footer-cell ad__footer-cell--last">
                        <div class="ad__footer-cell ">
                            <div class="status status--date">25 янв</div>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ad__vip-wrap"><a href="/index/" class="ad__vip-wrap__link">i</a>
    </div>
</div>
