<div class="ad-one">
    <div class="ad-one__title">
        <a href="{% url 'category' ad.category.parent.machine_id %}">{{ ad.category.parent.name }}</a> →
        <a href="{% url 'category' ad.category.machine_id %}">{{ ad.category.name }}</a>
{#        {{ ad.category.parent.name }} → {{ ad.category.name }}#}
        <br>
        <h1 class="ad-one__title-h">
            {{ ad.name }}
        </h1>
    </div>
    <div class="ad-one__photos js-oneslide">
        {% for photo in ad.good_photos.all %}
            <div class="ad-one__photo">
                <div class="ad-one__photo-wrap">
                    <img src="{{ photo.img.url }}" title="{{ ad.name }}" alt="" class="ad-one__photo-img" width="640">
                </div>
                <p class="ad-one__photo-note"></p>
            </div>
        {% endfor %}
    </div>

    <div class="ad-one__note">

        <br>
        <div>
            Город: {{ ad.city.name }}
        </div>
        <br>
        <div>
            Цена: {{ ad.price|floatformat:"0" }} руб.
        </div>
        <br>
        <div>
            {{ ad.text }}
        </div>
        <br>
        <div class="ad-one__col">
            <div class="h-wrap">
                <h3 class="h3">Дополнительно</h3>
            </div>

            <table class="b-table b-table--info">
                {% for param in ad.good_parameters.all %}
                    <tr class="b-tr">
                        <td class="b-td">{{ param.parameter.name }}</td>
                        <td class="b-td">
                            {% if param.parameter.parameter_type == 0 %}
                                {{ param.parameter_value.name }}
                            {% elif param.parameter.parameter_type == 1 %}
                                {{ param.text }}
                            {% elif param.parameter.parameter_type == 2 %}
                                {{ param.number }}
                            {% elif param.parameter.parameter_type == 3 %}
                                {{ param.boolean }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="ad-one__col">
            <div class="h-wrap">
                <h3 class="h3">Условия</h3>
            </div>
            <ul>
                <li>Без обмена, только продажа</li>

            </ul>
        </div>
        <div class="social-button">
            <script type="text/javascript">
            (function() {
                if (window.pluso)
                    if (typeof window.pluso.start == "function") return;
                if (window.ifpluso == undefined) {
                    window.ifpluso = 1;
                    var d = document,
                        s = d.createElement('script'),
                        g = 'getElementsByTagName';
                    s.type = 'text/javascript';
                    s.charset = 'UTF-8';
                    s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                    var h = d[g]('body')[0];
                    h.appendChild(s);
                }
            })();
            </script>
            <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,email"></div>
        </div>
    </div>

    <div class="ad-one__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell">
{#                    <a href="#" class="b-link b-link--g ad__action">Купить</a>#}
                    <a href="#" class="b-link ad__action">Отслеживать</a>
                    <a href="#" class="b-link ad__action">! Пожаловаться</a>
                    <a href="#" class="b-link ad__action">Продвигать</a>
                    <a href="#" class="b-link ad__action">Редактировать</a>

                </td>
                <td class="ad__footer-cell">
                    <a href="{% url 'profile' ad.client.id %}" class="b-link">{{ ad.client.get_pretty_name }}</a>

                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell">
                        <div class="status status--date">{{ ad.date|date:"d.m.Y" }}</div>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>




<div class="comments">

        <h3 class="comments__h">Вопросы к продавцу</h3>

    <div class="comments-wrap wrap">

        {% for question in questions %}
            <div class="comment-qa">
            <div class="comment-question">
                <div class="comment-user">
                    <a href="{{ question.client }}">
                        <img src="{{ question.client.img.url }}" alt="" height="48">
                    </a>
                </div>
                <div class="comment-note">
                    {{ question.text }}
                </div>
            </div>
            {% if question.ad_message_children.first %}
                <div class="comment-answer">
                    {{ question.ad_message_children.first.text }}
                </div>
            {% else %}
                <div class="comment-answer comment-answer--no">

                <span class="b-link--fake comment-answer-link">Ответить</span>
                <div class="comment-answer-form">
                    <form action="">
                        <textarea name="" id="" class="b-textarea b-textarea--full"></textarea>
                        <br>
                        <input type="button" class="b-bt" value="Ответить">
                    </form>
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}

    <form action="" class="comment-add">
        <table class="b-table b-table--form b-table--full ">
            <tr>
                <td class="b-td b-td--form"></td>

                <td class="b-td b-td--form">
                    <div class="h-wrpa">
                        <h3>Задать вопрос</h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="b-td b-td--form">Эл. адрес</td>

                <td class="b-td b-td--form">
                    <input type="text" class="b-input-text ">
                    <br>Вы не заргестрированый.
                    <br>Мы отправим ответ на эл. адрес.
                </td>
            </tr>
            <tr>
                <td class="b-td b-td--form">Вопрос</td>
                <td class="b-td b-td--form">
                    <textarea name="" id="" class="b-textarea b-textarea--full"></textarea>
                </td>
            </tr>
            <tr>
                <td class="b-td b-td--form"></td>
                <td class="b-td b-td--form">
                    <input type="button" class="b-bt" value="Отправить">
                </td>
            </tr>
        </table>
    </form>
</div>
