<div class="category-check">
    <div class="category-popup__title">Категории:</div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Легковые автомобили</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Авто с пробегом</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Новое авто</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автодома</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Дома-прицепы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Запчасти и аксессуары</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Недвижимость</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Квартиры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Комерческая</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Дома</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Автодома</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Квадроциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Снегоходы</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Водный транспорт</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Гоночные</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Горные</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Детские</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Аксессуары</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Другое</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Велосипеды</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автобусы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автокраны</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Бульдозеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Грузовики</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Коммунальная техника</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Автодома</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Квадроциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Вездеходы</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Велосипеды</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автобусы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автокраны</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Бульдозеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Грузовики</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Коммунальная техника</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Автодома</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Квадроциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Вездеходы</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Автодома</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Квадроциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мопеды</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Мотоциклы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Скутеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Снегоходы</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Водный транспорт</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Гоночные</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Горные</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Детские</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Аксессуары</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Другое</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><span class="">Велосипеды</span>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автобусы</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Автокраны</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Бульдозеры</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Грузовики</span>
                </label>
            </li>
            <li class="catalog__item-wrap"><label>
                <input type="checkbox" class="catalog__checkbox"><span class="catalog__item">Коммунальная техника</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="category-check__footer">
        <input type="button" class="b-bt" value="Выбрать">
    </div>
</div>
