<br><div class="page-content catalog">
    <div class="h-wrap">
        <h3 class="h3">Категории объявлений</h3>
    </div>

    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Легковые автомобили</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Авто с пробегом</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Новое авто</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автодома</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Дома-прицепы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Запчасти и аксессуары</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Автодома</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Квадроциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Снегоходы</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Водный транспорт</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Гоночные</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Горные</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Детские</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Аксессуары</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Другое</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Велосипеды</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автобусы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автокраны</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Бульдозеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Грузовики</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Коммунальная техника</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Автодома</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Квадроциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Вездеходы</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Велосипеды</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автобусы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автокраны</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Бульдозеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Грузовики</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Коммунальная техника</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Автодома</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Квадроциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Вездеходы</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Автодома</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Квадроциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мопеды</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Мотоциклы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Скутеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Снегоходы</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Водный транспорт</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Гоночные</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Горные</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Детские</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Аксессуары</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Другое</a>
            </li>
        </ul>
    </div>
    <div class="catalog__list-wrap">
        <h3 class="catalog__title"><a href="/ads/" class="catalog__title-link">Велосипеды</a>
        </h3>
        <ul class="catalog__list">
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автобусы</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Автокраны</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Бульдозеры</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Грузовики</a>
            </li>
            <li class="catalog__item-wrap">
                <a href="/ads/" class="catalog__item b-link">Коммунальная техника</a>
            </li>
        </ul>
    </div>
</div>
