{% load client_tags %}
<div class="b-item-ad i-white-box">
    <header class="header">
        <h3 class="title">
            <a href="{% url 'ad_view' good.id %}" class="i-link">
                {{ good.name }}
            </a>, {{ good.price|floatformat:"0" }} руб.
        </h3>
    </header>
    <div class="gallery js-photos-fullscreen">
        {% if not good.good_photos.exists %}
        <img src="http://placehold.it/300x201" alt="" height="180" width="240"
             data-url="http://placehold.it/1024x768" title="">
        <img src="http://placehold.it/300x202" alt="" height="180" width="240"
             data-url="http://placehold.it/1021x768">
        <img src="http://placehold.it/300x203" alt="" height="180" width="240"
             data-url="http://placehold.it/1022x768">
        <img src="http://placehold.it/300x204" alt="" height="180" width="240"
             data-url="http://placehold.it/1023x768">
        {% else %}
        {% for photo in good.good_photos.all|slice:":3" %}
        <img src="{{ photo.img.url }}" alt="" height="180" width="240"
             data-url="{{ photo.img.url }}" title="">
        {% endfor %}
        {% endif %}

    </div>
    <div class="content">
        {{ good.short_text }}
    </div>
    <footer class="footer">
        <table>
            <tr>
                <td>
                    <span class="action">
                            {% if good.client.user == request.user %}
                                <a href="{% url 'ad_offers' good.pk %}" class="i-link i-link--fake ad__action--offer" data="#" data-url="#">
                                    Перейти в предложения
                                </a>
                            {% else %}
                                {% ad_has_offer_by_me good.pk as offered %}
                                {% if offered %}
                                    <span class="i-link i-link--fake ad__action--offer" data="{{ good.pk }}" data-url="{% url 'get_offer_popup' good.pk %}">
                                        Предложение отправлено
                                    </span>
                                {% else %}
                                    <span class="i-link i-link--fake ad__action--offer" data="{{ good.pk }}" data-url="{% url 'get_offer_popup' good.pk %}">
                                        Отправить предложение
                                    </span>
                                {% endif %}
                            {% endif %}


                    </span>
                    <span class="action"> <a href="" class="i-link">Не интересует</a></span>
                    <span class="action"><a href="" class="i-link">Продвигать</a></span>
                    <span class="action"> <a href="" class="i-link">Отслеживать</a></span>
                </td>
                <td>
                    <span class="action"><a href="" class="i-link">{{ good.client.get_pretty_name }}</a>
                    </span>
                </td>
                <td>{{ good.date|date:"d.m.Y" }}</td>
            </tr>
        </table>
    </footer>


</div>