<div class="offer-card--flexible">
    <div class="offer-card ">
        <a href="/ads--one-ad/" class="offer-card__photo-wrap">
            <img src="/static/img/2.jpg" alt="" class="offer-card__photo">
            <span class="offer-card__pr">Скидка 15%</span>
        </a>
        <div class="offer-card__info">
            Тонкое хрустящее тесто в пицце, много начинки, много сыра и авторская фантазия поможет вам ощутить настоящий вкус Италии.
            <br>
        </div>
        <div class="offer-card__footer">
            <div class="text-align">Закончится через 45 дней</div>
        </div>
    </div>
</div>

<div class="offer-card--flexible">
    <div class="offer-card ">
        <a href="/ads--one-ad/" class="offer-card__photo-wrap">
            <img src="/static/img/3.jpg" alt="" class="offer-card__photo">
            <span class="offer-card__pr">Скидка 15%</span>
        </a>
        <div class="offer-card__info">
            Тонкое хрустящее тесто в
            <br>
        </div>
        <div class="offer-card__footer">
            <div class="text-align">Закончится через 45 дней</div>
        </div>
    </div>
</div>

<div class="offer-card--flexible">
    <div class="offer-card ">
        <a href="/ads--one-ad/" class="offer-card__photo-wrap">
            <img src="/static/img/1.jpg" alt="" class="offer-card__photo">
            <span class="offer-card__pr">Скидка 15%</span>
        </a>
        <div class="offer-card__info">
            Тонкое хрустящее тесто в пицце, много начинки, много сыра и авторская фантазия поможет вам ощутить настоящий вкус Италии.
            <br>
        </div>
        <div class="offer-card__footer">
            <div class="text-align">Закончится через 45 дней</div>
        </div>
    </div>
</div>
