<div class="about">
    <div class="h-wrap">
        <h1 class="h1">Как устроен сервис ДОРи:</h1>
    </div>    
    <div class="about-slide">
        <div class="about-slide__item">1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, excepturi, facere similique accusamus consequuntur dolorem placeat neque officia beatae iusto aperiam laboriosam eaque ratione expedita modi rem deleniti porro itaque.</div>
        <div class="about-slide__item">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consectetur non perspiciatis fugit! Consequatur, voluptatem, aperiam, repellendus, incidunt repudiandae eos nam atque cupiditate ab aspernatur iusto hic esse. Rem, mollitia.</div>
        <div class="about-slide__item">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, tenetur, modi, aperiam dolor reiciendis dicta unde cupiditate accusantium adipisci voluptatibus architecto mollitia vero repellendus temporibus dolore ex earum minima incidunt.</div>
        <div class="about-slide__item">4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ratione, deserunt, voluptatem nam maiores ipsa fugiat saepe praesentium iusto et in cum explicabo sint enim reprehenderit porro alias molestiae ullam.</div>
        <div class="about-slide__item">5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, adipisci, vel, expedita rerum ipsum ab voluptatibus minus eius aspernatur similique quo cum consequuntur harum pariatur quae aliquid facilis nobis velit?</div>
    </div>
    <div class="about-slide__pager">
        <div class="about-slide__pager-item">
            <span class="b-link b-link--fake">1</span>
        </div> 
        <div class="about-slide__pager-item">
            <span class="b-link b-link--fake">2</span>
        </div> 
        <div class="about-slide__pager-item">
            <span class="b-link b-link--fake">3</span>
        </div> 
        <div class="about-slide__pager-item">
            <span class="b-link b-link--fake">4</span>
        </div> 
        <div class="about-slide__pager-item">
            <span class="b-link b-link--fake">5</span>
        </div> 
    </div>
</div>
