{% load client_tags %}
<div class="b-header">
    <div class="max">
        <table class="table-full">
            <tr>
                <td>
                    <a href="/" class="logo"></a>
                </td>
                <td>
                    <table class="table-full b-header__menu">
                        <tr>
                            <td>
                                <span class="elem"><a href="/catalog" class="link">Категории объявлений</a>
                                </span>
                                <br>
                                <span class="elem"><a href="/partners/" class="link">Партнеры</a>
                                </span>
                            </td>
                            <td>
                                <span class="elem"><a href="/my-ads/" class="link">Мои объявления</a> 
                                    <span class="new">1</span>
                                </span>
                                <span class="elem"><a href="/my-pred/" class="link">Мои предложения</a> 
                                    <span class="new">1</span>
                                </span>
                                <br>
                                <span class="elem"><a href="/msg" class="link">Сообщения</a>
                                    <span class="old">14</span>
                                </span>
                                <span class="elem"><a href="/lenta/" class="link">Лента предложений</a> 
                                    <span class="new">1</span>
                                </span>
                                <span class="elem"><a href="/favorits/" class="link">Избранное</a> 
                                    <span class="new">1</span>
                                </span>
                            </td>
                            <td>
                                <span class="elem"><a href="/user-profile/" class="link name">Константинопольский Константин </a>
                                    <a href="/exit/" class="link">Выйти</a> 
                                </span>
                                <br>
                                <span class="elem"><a href="/money/" class="link">Балланс</a>&nbsp;1&thinsp;475&#8399;
                                </span>
                                <span class="elem"><a href="/rating/" class="link">Рейтинг</a>&nbsp;↑14
                                </span>
                            </td>
                        </tr>
                    </table>
                    <table class="table-full b-header__search">
                        <tr>
                            <td>
                                <span class="elem fake-link city-select__link">{% get_city_ad_display %}</span>
                            </td>
                            <td>
                                <form action="" class="header-search">
                                    <table class="search-t">
                                        <tr>
                                            <td class="search-cell search-cell--full">
                                                <input type="text" class="search" placeholder="Поиск">
                                            </td>
                                            <td class="search-cell search-cell--bt">
                                                <input type="submit" class="search-bt" value="Найти">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="search-cell">
                                                <div class="search-result-wrap">
                                                    <div class="search-result">
                                                        <a class="search-result-link" href="">
                                                            <span>Авто</span>с пробегом</a>
                                                        <a class="search-result-link" href="">Новое<span>авто</span></a>
                                                        <a class="search-result-link" href="">
                                                            <span>Авто</span>дома</a>
                                                        <a class="search-result-link" href="">Легковые<span>авто</span>мобили</div></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                            <td>
                                <a href="/add-ad/" class="add-bt">
                                    <span>Разместить объявление</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
