<div class="main-head">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="main-head__item">
                                <a href="/index/" class="main-head__logo">
                                </a>
                            </div>
                        </td>
                        <td>
                            <ul class="nav">
                                <li class="nav__item"><a href="/lenta/" class="nav__link">Объявления по сфере деятельности</a>
                                </li>
                                <br>
                                <li class="nav__item"><a href="/partners/" class="nav__link">Партнеры</a>
                                </li>

                            </ul>
                            <ul class="nav" style="display:none;">
                                <li class="nav__item nav__item--select">
                                    <span class="">Объявления</span>
                                </li>
                                <br>
                                <li class="nav__item"><a href="/partners/" class="nav__link">Партнеры</a>
                                </li>
                            </ul>

                            <form action="/search/">
                                <input type="text" class="search search-full" placeholder="Поиск" name="q">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div class="main-head__hr-horz"></div>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="nav__item">
                                <a href="/user-profile/" class="nav__link">Константинопольский <br>Константин Константинович</a> 
                                <span class="partner__rating">↑14</span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="main-head__item-user"><a href="/money/" class="b-link">Баланс</a>:&nbsp;1&nbsp;475&nbsp;руб.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="main-head__item-user">
                                Мои <a href="/my-ads/" class="b-link">объявления</a>, <a href="/my-pred/" class="b-link">предложения</a>, <a href="/my-ads/" class="b-link">список&nbsp;отслеживания</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Область для уведомления
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div class="main-head__hr-horz"></div>
            </td>
            <td>
                <div class="main-head__item">
                    <a href="/add-ad/" class="main-head__link-wrap">
                        <span class="main-head__link-g">Разместить
                            <br>объявления</span>
                    </a>
                    <!-- <a href="/add-ad/" class="ad-bt">
                        Разместить<br>объявления
                    </a> -->
                </div>
            </td>
        </tr>
    </table>

</div>
