{% load client_tags %}
<div class="b-header">
    <div class="max">
        <table class="table-full">
            <tr>
                <td>
                    <a href="/" class="logo"></a>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>
