<div class="offer">
    <div class="offer__ad stickyeah" data-stickyeah-push="offer__ad">
        <div class="ad_bg ad_bg--shadow-off">
            <div class="ad ad--category">
                <b>Легковые автомобили</b><br>
                Новое авто, 
                Автомобили с пробегом
            </div>
        </div>
    </div>
    <div class="offer__offer">
        {% include 'blocks/b-ad--3.html' %} {% include 'blocks/b-ad--4.html' %} {% include 'blocks/b-ad--5.html' %} {% include 'blocks/b-ad--6.html' %}
    </div>
</div>
