
<div class="offer">
    <div class="offer__ad stickyeah" data-stickyeah-push="offer__ad">
        {% include 'blocks/b-ad.html' %}
    </div>

    <div class="offer__offer">
        {% for offer in ad.ad_offers.all %}
            {% if offer.is_vip %}
                {% include 'blocks/offers/b-ad-offer-status.html' %}
            {% else %}
                {% include 'blocks/offers/b-ad-offer.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>
