<div class="partner-card wrap">
    <div class="partner-card__img-wrap">
        <a href="/user-profile/">
            <img src="/static/img/user-card-photo-2.png" alt="" class="partner-card__img">
        </a>
    </div>
    <div class="partner-card__name">
        <a href="/user-profile/" class="b-link">«Клио», Офисная мебель.</a> 
    </div>
</div>
<div class="partner-card wrap">
    <div class="partner-card__img-wrap">
        <a href="/user-profile/">
            <img src="/static/img/user-card-photo.png" alt="" class="partner-card__img">
        </a>
    </div>
    <div class="partner-card__name">
        <a href="/user-profile/" class="b-link">«Клио», Офисная мебель.</a> 
    </div>
</div>
<div class="partner-card wrap">
    <div class="partner-card__img-wrap">
        <a href="/user-profile/">
            <img src="/static/img/vizit-card.jpg" alt="" class="partner-card__img">
        </a>
    </div>
    <div class="partner-card__name">
        <a href="/user-profile/" class="b-link">«Клио», Офисная мебель.</a> 
    </div>
</div>
<div class="partner-card wrap">
    <div class="partner-card__img-wrap">
        <a href="/user-profile/">
            <img src="/static/img/vizit-card2.png" alt="" class="partner-card__img">
        </a>
    </div>
    <div class="partner-card__name">
        <a href="/user-profile/" class="b-link">«Клио», Офисная мебель.</a> 
    </div>
</div>
<div class="partner-card wrap">
    <div class="partner-card__img-wrap">
        <a href="/user-profile/">
            <img src="/static/img/user-card-photo-2.png" alt="" class="partner-card__img">
        </a>
    </div>
    <div class="partner-card__name">
        <a href="/user-profile/" class="b-link">«Клио», Офисная мебель.</a> 
    </div>
</div>

