<div class="ads-type">
    <div class="ads-type-wrap">
        <span class="ads-type__item">
            Тип объявления:
        </span>
    </div>
      <div class="ads-type-wrap ads-type-wrap--select">
        <div class="ads-type__item ads-type__item--select">
            Все
        </div>
    </div>
    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Покупка</span>
        </a>
    </div>
        <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Продажа</span>
        </a>
    </div>

    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link b-link--disabled">Аренда</span>
        </a>
    </div>

    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link b-link--disabled">Сдам в аренду</span>
        </a>
    </div>
</div>
<div class="ads-type">
    <div class="ads-type-wrap">
        <span class="ads-type__item">
            Состояние объявления:
        </span>
    </div>
      <div class="ads-type-wrap ads-type-wrap--select">
        <div class="ads-type__item ads-type__item--select">
            Все
        </div>
    </div>
    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Завершенные</span>
        </a>
    </div>
        <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Не опубликованые</span>
        </a>
    </div>
</div>