<div class="ads-type">
<b>Сортировать по:&nbsp;&nbsp;&nbsp;</b> <a href="/" class="b-link">цене</a>&nbsp;&nbsp;&nbsp;<a href="" class="b-link">дате</a>
</div>
<div class="ads-type">
<b>Объявления:</b>
    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Покупка</span>
        </a>
    </div>
    <div class="ads-type-wrap ads-type-wrap--select">
        <div class="ads-type__item ads-type__item--select">
            Продажа
        </div>
    </div>
    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Аренда</span>
        </a>
    </div>

    <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Сдам в аренду</span>
        </a>
    </div>
        <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Воспользуюсь услугой</span>
        </a>
    </div>
        <div class="ads-type-wrap">
        <a href="" class="ads-type__item">
            <span class="b-link">Предлогая услуги</span>
        </a>
    </div>
</div>
<div class="ads-type">
    <b>Параметры:</b>

    <table>
        <tr>
            <td>Марка:
                <br>
                <select name="" id="">
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Toyota
                    </option>
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Toyota
                    </option>
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Toyota
                    </option>
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Toyota
                    </option>
                    <option value="">
                        Ford
                    </option>
                    <option value="">
                        Toyota
                    </option>
                </select>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                Год:
                <br>
                <select name="" id="">
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>
                    <option value="">
                        1999
                    </option>

                </select>
            </td>
        </tr>
    </table>

    <div class="">
    <br>
        <input type="button" value="Показать">
    </div>
</div>
