
<form id="log_form" action="/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td class="caption">Авторизация</td>
        </tr>
        <tr>
            <td class="cell">
                <div class="title">Эл. почта:</div>
                <input type="text" class="input" name="username">
            </td>
        </tr>
        <tr>
            <td class="cell">
                <div class="title">Пароль:</div>
                <input type="password" class="input" name="password">
            </td>
        </tr>
        <tr>
            <td class="final">
                <input type="button" class="i-bt js-login" value="Войти">
            </td>
        </tr>

    </table>

</form>