<form id="reset_form" action="/" method="POST" onsubmit="return reset_submitHandler()">
    {% csrf_token %}
    <table>
        <tr>
            <td class="caption">Сбросить пароль</td>
        </tr>
        <tr>
            <td class="cell">
                <div class="title">Эл. почта:</div>
                <input type="text" class="input" name="email">
            </td>
        </tr>
        <tr>
            <td class="final">
                <input type="button" class="i-bt js-reset" value="Восстановить">
            </td>
        </tr>

    </table>

</form>
