<form id="signup_form" action="{% url 'sign_up'%}" method="post" onsubmit="return signup_submitHandler()">
    {% csrf_token %}
    <table>
        <tr>
            <td class="caption">Регистрация</td>
        </tr>
        <tr>
            <td class="cell">
                <div class="title">Эл. почта:</div>
                <input type="text" class="input" name="email">
            </td>
        </tr>
        <tr>
            <td class="final">
                <input type="button" class="i-bt js-auth" value="Зарегистрироваться">
            </td>
        </tr>
    </table>
</form>
