
<table class="menu {% if not auth %}b-header--no-auth {% endif %}">
    <tr>
        {% if auth %}
        <td>
            <span class="elem"><a href="{% url 'catalog' %}" class="i-link">Категории объявлений</a>
            </span>
            <br>
            <span class="elem"><a href="/client/partners/" class="i-link">Партнеры</a>
            </span>

        </td>
        {% else %}
        <td>
            <span class="elem"><a href="{% url 'catalog' %}" class="i-link">Категории объявлений</a>
            </span>
            <span class="elem"><a href="/client/partners/" class="i-link">Партнеры</a>
            </span>
            <span class="elem">
                <span class="i-link i-link--fake js-auth" data-node-class="b-auth-popup">Войти</span>
            </span>
        </td>
        {% endif %}
        {% if auth %}
        <td>
            <span class="elem"><a href="{% url 'my_ad_list_view' %}" class="i-link">Мои объявления</a>
                <span class="new">{{ ads_count }}</span>&nbsp;&nbsp;и&nbsp;
                <a href="{% url 'my_offers' %}" class="i-link">Я предложил</a>
                <span class="new">{{ my_offers_count }}</span>
            </span>
            <br>
                {% if new_chat_messages_count %}
                    <span class="elem"><a href="{% url 'chat_list_view' %}" class="i-link">Сообщения</a>
                    <span class="new">{{ new_chat_messages_count }}</span>
                {% else %}
                    <span class="elem"><a href="{% url 'chat_list_view' %}" class="i-link">Сообщения</a>
                    <span class="old">новых нет</span>
                {% endif %}
            </span>

        {% if client.is_organization %}
            <span class="elem"><a href="{% url 'strip' %}" class="i-link">Заявки клиентов</a>
                <span class="new">{{client.get_strip.count}}</span>
            </span>
        {%  endif %}

            <span class="elem"><a href="/catalog/favorits/" class="i-link">Закладки</a>
                {% if client.client_favorits.count > 0 %}
                <span class="new">{{client.client_favorits.count}}</span>
                {% endif %}
            </span>
        </td>
        {% endif %}
        {% if auth %}
        <td>
            <span class="elem"><a href="{% url 'account' %}" class="i-link name">
            {{ client.get_pretty_name }}
            </a>
               
            </span>
            <br>
            <span class="elem"><a href="{% url 'balance' %}" class="i-link">Баланс</a>&nbsp;{% if balance %}{{ balance.money|floatformat:"0" }}{% else %}0{% endif %}&nbsp;&#8399;
            </span>
            <span class="elem"><a href="{% url 'account_rating' %}" class="i-link">Отзывы:</a>&nbsp;↑{{client.get_rating}}
            </span>
             <span class="elem">
                <a href="{% url 'logout' %}?back={{ back }}" class="i-link">Выйти</a>
            </span>
        </td>
        {% endif %}

    </tr>
</table>