<div class="el">
        Тип объявления:
</div>
{% for at in ad_types %}
<div class="el">
    {% if at.current %}
        <span class="i-link i-link--selected">{{at.title}}</span>
    {% else %}
        <a href="{{at.url}}" class="i-link">{{at.title}}</a>
    {% endif %}
</div>
{% endfor %}

