<div class="ads">
    <div class="b-crumbs">
        <br>
        <h1 class="path">
           {% if category.parent %}
                {{ category.parent.name }} → {{ category.name }}
            {% else %}
                {{ category.name }}
            {% endif %}
        </h1>
    </div>

{% if ads %}
    <div id='ads'>
        {% for ad in ads %}
            {% include 'catalog/b-category-ad.html' %}
        {% endfor %}
    </div>
{% else %}
    <p>По вашему запросу ничего не найдено.</p>
{% endif %}


</div>