{% load thumbnail client_tags catalog_tags %}
<div class="page page--margin-32"{% if need_auth %}style="display:none;"{% endif %}>
  <div class="send"></div>
  <div class="b-ones i-white-box">
    <table>
      <tr>
        <td class="left">
          <div class="col">
            <div class="header">
              <div class="title">
                {{ ad.get_type }}

                <h1 class="">
                  {{ ad.title }}
                </h1>
                <br>
                <span>
                  {% if ad.price_agreement %}
                      По договоренности
                  {% elif ad.price_free %}
                      Бесплатно
                  {% elif not ad.price%}
                      Цена не указана
                  {% else %}
                      {{ ad.price|floatformat:"0" }}&nbsp;руб.
                  {% endif %}
                </span>

              </div>
            </div>
            <div class="path">
              {% if ad.category %}
              <a class="i-link"
              href="{% url 'category' ad.category.parent.machine_id %}">{{ ad.category.parent.name }}</a>
              →
              <a class="i-link"
              href="{% url 'category' ad.category.machine_id %}">{{ ad.category.name }}</a>
              {% else %}
                <p>Неопубликованное объявление</p>
              {% endif %}
            </div>
            <div class="description">

              <div class="">
                <div>
                  {{ ad.text|safe }}
                </div>
                <br>

                {% if ad.ad_terms.all %}
                <div>
                  <h3 class="h3">Условия</h3>
                  <ul>
                    {% for term in ad.ad_terms.all %}
                    <li>{{ term.term_text }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>

              <div class="social-button">
                <script type="text/javascript">
                  (function() {
                    if (window.pluso)
                      if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso == undefined) {
                      window.ifpluso = 1;
                      var d = document,
                      s = d.createElement('script'),
                      g = 'getElementsByTagName';
                      s.type = 'text/javascript';
                      s.charset = 'UTF-8';
                      s.async = true;
                      s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                      var h = d[g]('body')[0];
                      h.appendChild(s);
                    }
                  })();
                </script>
                <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,email"></div>
              </div>
            </div>

            {% if ad.client|check_purchase:request.user.client or ad.type not in required_ad_login %}
            <div class="b-comments">

              <h3 class="comments__h">Комментарии к объявлению
                <hr/>
              </h3>

              <div class="comments-wrap wrap" data-url="{% url 'get_ad_messages' ad.pk %}">
                <span id="ad_messages_load_field"></span>

                {% for question in questions %}
                <div class="comment-qa">
                  <div class="comment-question">
                    <div class="comment-user">
                      <a href="{% url 'profile' question.client.id %}" class="avatar-sm">
                        {% if question.client.img  %}
                        {% thumbnail question.client.img "48x48" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                        {% else %}
                        <img width="48px" src="/static/img/no-avatar.png" alt="noavatar"/>
                        {% endif %}
                      </a>
                    </div>
                    <div class="comment-note">
                      <div class="comment-name">
                        <a href="{% url 'profile' question.client.id %}" class="i-link"><b>{{ question.client.get_pretty_name }}</b></a>
                      </div>
                      {{ question.text }}
                    </div>
                  </div>
                  {% if question.ad_message_children.first %}
                    <div class="answer">

                      <a class="avatar-sm" href="{% url 'profile' question.ad_message_children.first.client.id %}">
                        {% if question.ad_message_children.first.client.img  %}
                          {% thumbnail question.ad_message_children.first.client.img "48x48" crop="center" as im %}
                            <img src="{{ im.url }}" alt="">
                          {% endthumbnail %}
                        {% else %}
                          <img width="48px" src="/static/img/no-avatar.png" alt="noavatar"/>
                        {% endif %}
                      </a>

                      <div class="answer-text">
                        <a href="{% url 'profile' question.ad_message_children.first.client.id %}" class="i-link"><b>{{ question.ad_message_children.first.client.get_pretty_name }}</b></a>
                        <div>{{ question.ad_message_children.first.text }}</div>
                      </div>
                    {% elif question.ad.client == client %}

                    <div class="">
                      <span class="b-link--fake comment-answer-link">Ответить</span>

                      <div class="comment-answer-form">
                        <form class=""
                        action="{% url 'create_ad_message' ad.pk %}">{% csrf_token %} {{ ad_message_form.ad }} {{ ad_message_form.client }}
                        <input type="hidden" name="parent" value="{{ question.pk }}"/>
                        <textarea name="text" id=""
                        class="b-textarea b-textarea--full"></textarea>
                        <br>
                        <input type="button" style="margin-top:20px;"
                        class="i-bt-answer" value="Ответить">
                      </form>
                    </div>
                  </div>
                  {% endif %}

                </div>
                {% empty %}
                <div>Комментариев пока нет</div>
                {% endfor %}

                {% if request.user.is_authenticated and not ad.client == client %}
                <form action="{% url 'create_ad_message' ad.pk %}" class="comment-add">
                  <table>
                    <tr>
                      <td>
                        <h3>Вопрос</h3>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ ad_message_form.text.errors }} {{ ad_message_form.text }} {{ ad_message_form.ad }} {{ ad_message_form.client }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <br>
                        <input type="button" class="c-bt" value="Отправить">
                      </td>
                    </tr>
                  </table>
                </form>
                {% endif %}
              </div>

              {% if not request.user.is_authenticated %}
              <form action="{% url 'create_mail_message' %}" class="comment-add">
                <table>
                  <tr>
                    <td></td>

                    <td>
                      <h3>Задать вопрос</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>Эл. адрес</td>

                    <td>
                      {{ mail_message_form.email.errors }} {{ mail_message_form.email }}
                      <p>Вы не авторизованы, Вам ответят на указанный e-mail</p>
                    </td>
                  </tr>
                  <tr>
                    <td>Вопрос</td>
                    <td>
                      {{ mail_message_form.text.errors }} {{ mail_message_form.text }} {{ mail_message_form.ad }}

                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <input type="submit" class="i-bt" value="Отправить">
                    </td>
                  </tr>
                </table>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        {% elif ad.type in required_ad_login %}
        <div class="description">Для связи с пользователем приобретите его контактные данные за {{ ad.category.price }}
          &#8399; <a href="#" class="buy_contact i-bt" data-ad="{{ ad.pk }}">купить</a></div>
        {% endif %}


        </td>
        <td class="center">
          <div class="col">
            <div class="actions">
              <br>
              {% if not ad|is_favorits:client %}
                <a href="{% url 'ad_favorits_change' 'add' ad.pk %}" class="i-link action">Убрать в закладки</a>
              {% else %}
                <a href="{% url 'ad_favorits_change' 'del' ad.pk %}" class="i-link action">Убрать из закладок</a>
              {% endif %}

              {% if user != ad.client.user %}
                <br>
                {% if ad.client|check_purchase:request.user.client or ad.type not in required_ad_login %}
                  <div class="b-item-ad">
                    {% ad_has_offer_by_me ad.pk as offered %}
                    {% if offered %}
                      <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" data-url="{% url 'get_popup_offer' ad.pk %}">
                        ✓ Отправить еще одно предложение
                      </span>
                    {% else %}
                      <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" id="offer-send-{{ ad.pk }}"
                        data-url="{% url 'get_popup_offer' ad.pk %}">
                        Отправить предложение
                      </span>
                    {% endif %}
                  </div>
                {% else %}
                  <a href="#" class="show_purchase">Отправить предложение</a>
                    <div class="purchase_links" style="display:none;">
                      Для связи с пользователем приобретите его контактные данные
                      за {{ ad.category.price }} &#8399; <a href="#" class="buy_contact i-bt" data-ad="{{ ad.pk }}">купить</a>
                      <a href="#" class="purchase_cancel i-bt">отмена</a>
                  </div>
                {% endif %}
              {% endif %}

              <br>
              <br>{% if ad in client.client_ads.all %}
              <a href="{% url 'edit_ad' ad.pk %}" class="i-link action">Редактировать</a>
              {% endif %}
              <br>
              <br>

              {% if ad.type not in required_ad_login %}
              <div class="hint">Разместил</div>
              <a href="{% url 'profile' ad.client.id %}"
              class="i-link">{{ ad.client.get_pretty_name }}</a>
              <br>
              {% else %}
              Пользователь будет отображён после покупки контактов
              {% endif %}

              <div class="geo">{{ ad.city.name }}</div>
              <div class="date">{{ ad.date|date:"d.m.Y" }}</div>
            </div>
          </div>
        </td>
        <td class="right">
          <div class="gallery js-photos-fullscreen">
            {% for photo in ad.ad_photos.all %}
            <div class="b-one-ad__photo-wrap" data-index="{{ photo.index }}">
              {% thumbnail photo.img "690x690" as im %}
              <img src="{{ im.url }}" data-url="{{ photo.img.url }}"
              title="{{ photo.img_title }}" alt="{{ photo.img_title }}"
              class="b-one-ad__photo-img">
              {% endthumbnail %}

              {{ photo.img_title }}
            </div>

            {% empty %}
            <div class="b-one-ad__photo-wrap">
              <img src="/static/img/no-image.png" style="width:550px;height:400px;" title="" alt=""
              class="b-one-ad__photo-img">
            </div>
            {% endfor %}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
