{% load thumbnail %}
<div class="b-ad-short i-white-box" {% if ad.check_color_price %} style="border: 3px solid #53AB30; border-bottom:20px solid #53AB30;" {% endif %}>
    <div class="content" >
        <table class="i-full">
            <tr>
                <td class="photo-cell">
                    <div class="photo">
                        {% thumbnail ad.ad_photos.first.img "128x92"  format="PNG" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="128" height="92">
                        {% empty %}

                            <img src="/static/img/no-image.png" style="width:128px;" title="" alt="" class="b-one-ad__photo-img">

                        {% endthumbnail %}
                    </div>
                </td>
                <td>
                    <div class="title">
                        <a href="{% url 'ad_view' ad.id %}" class="i-link">{{ ad.get_type }}&nbsp;{{ ad.title }}</a>,
                            {% if ad.price_agreement %}
                                По договоренности 
                            {% elif ad.price_free %}
                                Бесплатно
                            {% elif not ad.price%}
                                Цена не указана
                            {% else %}
                                {{ ad.price|floatformat:"0" }}&nbsp;руб.
                            {% endif %}
                    </div>

                    <div class="description">
                        <div>
                            {{ ad.text|striptags|truncatechars:300 }}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="resps">
                        <div class="resp">
                            {% if ad.ad_offers.count %}
                                <a href="{% url 'ad_offers' ad.pk %}" class="i-link">
                                    Предложений:&nbsp;
                                </a><span>{{ ad.ad_offers.count }}</span>
                            {% else %}
                                Предложений нет
                            {% endif %}
                        </div>
                        <div class="resp">
                            <a href="{% url 'ad_deals' ad.pk %}" class="i-link">Может заинтересовать:&nbsp;</a><span>{{ad.get_deals|length}}</span>
                        </div>
                        <div class="resp">
                            {% if ad.ad_messages.exists %}
                                <a href="{% url 'ad_view' ad.pk %}" class="i-link">Вопросов:&nbsp;</a><span>{{ ad.ad_messages.count }}</span>
                            {% else %}
                                <a href="#" class="i-link">Вопросов нет</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <div class="actions">
            <div class="action">
                <a href="{% url 'edit_ad' ad.pk %}" class="i-link">Редактировать</a>
            </div>
            <div class="action">
                {% if ad.is_active %}
                <a href="" class="i-link ad__deactivate">Снять c публикации</a>
                <div class="ad__deactivate_popup hidden">
                    <form action="{% url 'deactivate_ad' ad.id %}" method="post">{% csrf_token %}
                        <input class="ad__deactivate_ok i-bt" type="submit" value="Снять" />&nbsp;&nbsp;&nbsp;<a class="ad__deactivate_cancel i-link" href="#">Отмена</a>
                    </form>
                </div>
                {% else %}
                <a href="" class="i-link ad__activate">Опубликовать</a>
                <div class="ad__activate_popup hidden">
                    <form action="{% url 'activate_ad' ad.id %}" method="post">{% csrf_token %}
                        <input class="ad__activate_ok i-bt" type="submit" value="Опубликовать" />&nbsp;&nbsp;&nbsp;<a class="ad__activate_cancel i-link" href="#">Отмена</a>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="action">
                <a href="#" class="i-link ad__delete">Удалить</a>

                <div class="ad__delete_popup hidden">
                    <form action="{% url 'delete_ad' ad.id %}" method="post">{% csrf_token %}
                        <input class="ad__delete_ok i-bt" type="submit" value="Удалить" />&nbsp;&nbsp;&nbsp;<a class="ad__delete_cancel i-link" href="#">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="geo">{{ ad.city.name }}</div>
        <div class="date">{{ ad.date|date:"d.m.Y" }}</div>
    </div>
</div>
