{% load thumbnail client_tags catalog_tags %}

<div class="b-item-ad i-white-box" {% if ad.check_color_price %} style="border: 3px solid #53AB30; border-bottom:20px solid #53AB30;" {% endif %}>

    <header class="header">
        <h3 class="title">
            <a href="{% url 'ad_view' ad.id %}" class="i-link">{{ ad.get_type }}&nbsp;{{ ad.title }}</a>
                {% if ad.price_agreement %}
                      По договоренности
                  {% elif ad.price_free %}
                      Бесплатно
                  {% elif not ad.price %}
                      Цена не указана
                  {% else %}
                      {{ ad.price|floatformat:"0" }}&nbsp;руб.
                  {% endif %}
        </h3>
    </header>
    <div class="photo-line">
        {% for photo in ad.ad_photos.all %}
            {% thumbnail photo.img "240x180" crop="center" as im %}
        <a href="{% url 'ad_view' ad.id %}"><img src="{{ im.url }}" alt="" height="180" width="240" title=""></a>
            {% endthumbnail %}
        {% endfor %}

    </div>
    <div class="content">
        {{ ad.text|safe|truncatechars:300 }}
    </div>

    <footer class="footer">

        <table>
{#            <div class="send"></div>#}
            <tr>
                <td>
                    <span class="action">
                        {% if ad.client.user == user %}
                            {% if ad.ad_offers.exists %}
                                <a href="{% url 'ad_offers' ad.pk %}" class="i-link i-link--fake js-popup" data="#" data-url="#">
                                    Перейти в предложения
                                </a>
                            {% else %}
                                <span class="" data="#" data-url="#">
                                    Предложений нет
                                </span>
                            {% endif %}

                        {% else %}
                            {% ad_has_offer_by_me ad.pk as offered %}
                            {% if offered %}
                                <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" data-url="{% url 'get_popup_offer' ad.pk %}">
                                   ✓ Отправить еще одно предложение
                                </span>
                            {% else %}
                                {% if ad.client|check_purchase:request.user.client or ad.type not in required_ad_login %}
                                    <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" data-url="{% url 'get_popup_offer' ad.pk %}">
                                        Отправить предложение
                                    </span>
                                {% else %}
                                    <a href="#" class="show_purchase i-link i-link--fake">Отправить предложение</a>
                                    <div class="purchase_links" style="display:none;">
                                        Для связи с пользователем приобретите его контактные данные за {{ ad.category.price }} &#8399;
                                        <a href="#" class="buy_contact i-bt" data-ad="{{ ad.pk }}">купить</a>
                                        <a href="#" class="purchase_cancel i-bt">отмена</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </span>
                    <!--<span class="action"><a href="" class="i-link">Не интересует</a></span>-->
                    <!--<span class="action"><a href="" class="i-link">Продвигать</a></span>-->
                    {% if show_decline %}
                        <span class="action">
                            <a href="#" id="decline-{{ ad.pk }}" class="i-link i-link--fake">Не интересует</a>
                        </span>
                    <div id="dialog-cancel-offer-{{ ad.pk }}" title="Отклонить предложение?" style="display:none;" class="">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы действительно хотите отклонить предложение?</p>
                    </div>
                    <script>
                    $("#decline-{{ ad.pk }}").click(function(e) {
                        $.post('{% url 'decline_ad' pk=curr_ad.pk %}', {'id': {{ ad.pk }}}, function() {
                            window.location.reload();
                        })
                    });
                    </script>
                    {% endif %}
                    {% if not ad|is_favorits:client %}
                        <span class="action"><a href="{% url 'ad_favorits_change' 'add' ad.pk %}" class="i-link">Убрать в закладки</a></span>
                    {% else %}
                        <span class="action"><a href="{% url 'ad_favorits_change' 'del' ad.pk %}" class="i-link">Убрать из закладок</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if ad.type not in required_ad_login or ad.client|check_purchase:request.user.client %}
                        <span class="action">
                            <a href="{% url 'profile' ad.client.id %}?ad={{ ad.pk }}" class="i-link">{{ ad.client.get_pretty_name }}</a>
                        </span>
                    {% else %}
                        Пользователь будет отображён после покупки контактов
                    {% endif %}

                </td>
                <td class="text-align-right">{{ ad.date|date:"d.m.Y" }}</td>
            </tr>
        </table>
    </footer>
</div>
