{% load thumbnail client_tags catalog_tags %}

<div class="b-item-ad i-white-box" {% if ad.check_color_price %} style="border: 3px solid #53AB30; border-bottom:20px solid #53AB30;" {% endif %}>
    <header class="header">
        <h3 class="title">
            <a href="{% url 'ad_view' ad.id %}" class="i-link">
                {{ ad.get_type }}&nbsp;{{ ad.title }}
            </a>,                         
            {% if ad.price_agreement %}
                По договоренности
            {% elif ad.price_free %}
                Бесплатно
            {% elif not ad.price%}
                Цена не указана
            {% else %}
                {{ ad.price|floatformat:"0" }}&nbsp;руб.
            {% endif %}
        </h3>
    </header>
    <div class="gallery js-photos-fullscreen">
        {% if not ad.ad_photos.exists %}
        {% else %}
        {% for photo in ad.ad_photos.all %}
            {% thumbnail photo.img "240x180" crop="center" as im %}
                <img src="{{ im.url }}" alt="" height="180" width="240" data-url="{{ photo.img.url }}" title="">
            {% endthumbnail %}
        {% endfor %}
        {% endif %}

    </div>
    <div class="content">
        {{ ad.text|safe|truncatechars:300 }}
    </div>
    <footer class="footer">

        <table>
            <div class="send"></div>
            <tr>
                <td>
                    <span class="action">
                            {% if ad.client.user == user %}
                                {% if ad.ad_offers.exists %}
                                    <a href="{% url 'ad_offers' ad.pk %}" class="i-link i-link--fake js-popup" data="#" data-url="#">
                                        Перейти в предложения
                                    </a>
                                {% else %}
                                    <span class="" data="#" data-url="#">
                                        Предложений нет
                                    </span>
                                {% endif %}
                            {% else %}
                                {% ad_has_offer_by_me ad.pk as offered %}
                                {% if offered %}
                                    <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" data-url="{% url 'get_popup_offer' ad.pk %}">
                                       ✓ Отправить еще одно предложение
                                    </span>
                                {% else %}
                                    {% if ad.client|check_purchase:user.client or ad.type != 'ORDER' and ad.type != 'RENT_YOU' %}
                                        <span class="i-link i-link--fake js-popup" data="{{ ad.pk }}" id="offer-send-{{ ad.pk }}" data-url="{% url 'get_popup_offer' ad.pk %}">
                                            Отправить предложение
                                        </span>
                                    {% else %}
                                        <a href="#" class="show_purchase i-link i-link--fake">Отправить предложение</a>
                                        <div class="purchase_links" style="display:none;">
                                            Для связи с пользователем приобретите его контактные данные за {{ ad.category.price }} &#8399;
                                            <a href="#" class="buy_contact i-bt" data-ad="{{ ad.pk }}">купить</a>
                                            <a href="#" class="purchase_cancel i-bt">отмена</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <span style="padding-left: 5px"><a href="#" data-ad="{{ ad.pk }}" class="i-link hide-ad">Не интересует</a></span>
                            {% endif %}
                    </span>
                    <!--<span class="action"><a href="" class="i-link">Не интересует</a></span>-->
                    <!--<span class="action"><a href="" class="i-link">Продвигать</a></span>-->

                    {% if not ad|is_favorits:client %}
                        <span class="action"><a href="{% url 'ad_favorits_change' 'add' ad.pk %}" class="i-link">Добавить в закладки</a></span>
                    {% else %}
                        <span class="action"><a href="{% url 'ad_favorits_change' 'del' ad.pk %}" class="i-link">Убрать из закладок</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if ad.client|check_purchase:user.client or ad.type != 'ORDER' and ad.type != 'RENT_YOU' %}
                        <span class="action">
                            <a href="{% url 'profile' ad.client.id %}?ad={{ ad.pk }}" class="i-link">{{ ad.client.get_pretty_name }}</a>
                        </span>
                    {% else %}
                        Пользователь будет отображён после покупки контактов
                    {% endif %}

                </td>
                <td class="text-align-right">{{ ad.date|date:"d.m.Y" }}</td>
            </tr>
        </table>
    </footer>
</div>
