{% extends 'inner_base.html' %} {% load thumbnail %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}
<div class="page page--margin-32">
    <div class="b-ones i-white-box">
        <table>
            <tr>
                <td class="left">
                    <div class="col">
                        <div class="header">
                            <div class="title">
                                <h1 class="">
                                    {{ coupon.title }}
                                </h1>

                            </div>
                        </div>
                        {% if coupon.category %}
                        <div class="path">
                            Категория: <a class="i-link" href="{% url 'category' coupon.category.pk %}">{{ coupon.category }}</a>
                        </div>
                        {% endif %}
                        <div class="description">
                            <div class="">
                                <div>
                                    {{ coupon.value }}
                                </div>
                                <br>
                                {% if coupon.date_start or coupon.date_finish %}
                                <div>
                                    Акция действует
                                    {% if coupon.date_start %}с {{ coupon.date_start|date:"d.m.Y" }}{% endif %}
                                    {% if coupon.date_finish %}по {{ coupon.date_finish|date:"d.m.Y" }}{% endif %}
                                </div>
                                <br>
                                {% endif %}
                                <div>
                                    {{ coupon.description }}
                                </div>
                                <br>
                                <div class="social-button">
                                    <script type="text/javascript">
                                    (function() {
                                        if (window.pluso)
                                            if (typeof window.pluso.start == "function") return;
                                        if (window.ifpluso == undefined) {
                                            window.ifpluso = 1;
                                            var d = document,
                                                s = d.createElement('script'),
                                                g = 'getElementsByTagName';
                                            s.type = 'text/javascript';
                                            s.charset = 'UTF-8';
                                            s.async = true;
                                            s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                            var h = d[g]('body')[0];
                                            h.appendChild(s);
                                        }
                                    })();
                                    </script>
                                    <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,livejournal,email"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
                <td class="center">
                    <div class="col">
                        <div class="actions">
                            <a href="#" class="i-link action">Добавить в закладки</a>
                            <br>
                            <a href="#" class="i-link action">Пожаловаться</a>
                            <br>{% if coupon in client.client_coupons.all %}
                            <a href="{% url 'edit_coupon' coupon.pk %}" class="i-link action">Редактировать</a>
                            <br>{% endif %}
                            <br>
                            <div class="hint">Разместил</div>
                            <a href="{% url 'profile' coupon.client.id %}" class="i-link">{{ coupon.client.get_pretty_name }}</a>
                            <div class="date">{{ ad.date|date:"d.m.Y" }}</div>
                        </div>
                    </div>
                </td>
                <td class="right">
                    <div class="gallery js-photos-fullscreen">
                        {% for photo in coupon.coupon_photos.all %}
                        <div class="b-one-ad__photo-wrap">
                            {% thumbnail photo.img "690x690" as im %}
                                <img src="{{ im.url }}" data-url="{{ photo.img.url }}"
                                 title="{{ photo.img_title }}" alt="{{ photo.img_title }}"
                                 class="b-one-ad__photo-img">
                            {% endthumbnail %}
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>





{#<div class="comments">#}

{#    <h3 class="comments__h">Вопросы к продавцу</h3>#}
{#    <div class="comments-wrap wrap" data-url="{% url 'get_ad_messages' ad.pk %}">#}
{#        <span id="ad_messages_load_field"></span>#}
{#        {% for question in questions %}#}
{#        <div class="comment-qa">#}
{#            <div class="comment-question">#}
{#                <div class="comment-user">#}
{#                    <a href="{{ question.client }}">#}
{#                            {% thumbnail question.client.img "48x48" crop="center" as im %}#}
{#                                <img src="{{ im.url }}" alt="">#}
{#                            {% endthumbnail %}#}
{#                        </a>#}
{#                </div>#}
{#                <div class="comment-note">#}
{#                    {{ question.text }}#}
{#                </div>#}
{#            </div>#}
{#            {% if question.ad_message_children.first %}#}
{#            <div class="comment-answer">#}
{#                {{ question.ad_message_children.first.text }}#}
{#            </div>#}
{#            {% elif question.ad.client == client %}#}
{##}
{#            <div class="comment-answer comment-answer--no">#}
{##}
{#                <span class="b-link--fake comment-answer-link">Ответить</span>#}
{##}
{#                <div class="comment-answer-form">#}
{#                    <form action="{% url 'create_ad_message' ad.pk %}">{% csrf_token %} {{ ad_message_form.ad }} {{ ad_message_form.client }}#}
{#                        <input type="hidden" name="parent" value="{{ question.pk }}" />#}
{#                        <textarea name="text" id="" class="b-textarea b-textarea--full"></textarea>#}
{#                        <br>#}
{#                        <input type="button" class="i-bt" value="Ответить">#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}
{##}
{#        </div>#}
{#        {% endfor %} {% if not request.user.is_authenticated %}#}
{#        <form action="{% url 'create_mail_message' %}" class="comment-add">#}
{#            <table class="b-table b-table--form b-table--full ">#}
{#                <tr>#}
{#                    <td class="b-td b-td--form"></td>#}
{##}
{#                    <td class="b-td b-td--form">#}
{#                        <div class="h-wrpa">#}
{#                            <h3>Задать вопрос</h3>#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="b-td b-td--form">Эл. адрес</td>#}
{##}
{#                    <td class="b-td b-td--form">#}
{#                        {{ mail_message_form.email.errors }} {{ mail_message_form.email }}#}
{#                        <p>Вы не авторизованы, Вам ответят на указанный e-mail</p>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="b-td b-td--form">Вопрос</td>#}
{#                    <td class="b-td b-td--form">#}
{#                        {{ mail_message_form.text.errors }} {{ mail_message_form.text }} {{ mail_message_form.ad }}#}
{##}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="b-td b-td--form"></td>#}
{#                    <td class="b-td b-td--form">#}
{#                        <input type="button" class="i-bt" value="Отправить">#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
{#        {% else %}#}
{#        <form action="{% url 'create_ad_message' ad.pk %}" class="comment-add">#}
{#            <table class="b-table b-table--form b-table--full ">#}
{#                <tr>#}
{#                    <td class="b-td b-td--form"></td>#}
{##}
{#                    <td class="b-td b-td--form">#}
{#                        <div class="h-wrpa">#}
{#                            <h3>Задать вопрос</h3>#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="b-td b-td--form">Сообщение</td>#}
{#                    <td class="b-td b-td--form">#}
{#                        {{ ad_message_form.text.errors }} {{ ad_message_form.text }} {{ ad_message_form.ad }} {{ ad_message_form.client }}#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="b-td b-td--form"></td>#}
{#                    <td class="b-td b-td--form">#}
{#                        <input type="button" class="i-bt" value="Отправить">#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}
</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
