{% load catalog_tags %}
{% load client_tags %}
<div class="page-side">
    <div class="b-nav-v">
        <form action="" name="formside" id="formside">
            <div class="option">
                <b>Сортировать по:&nbsp;&nbsp;&nbsp;</b>
                    {% if request.GET.by_price_d %}
                    <input type="hidden" name="by_price_r" value="1">{% else %}<input type="hidden" name="by_price_d" value="1">
                    {% endif %}
    {% if request.GET.by_date_d %} <input type="hidden" name="by_date_r" value="1">{% else %}<input type="hidden" name="by_date_d" value="1">{% endif %}
    <a class="i-link" onclick="$('#formside').submit()" >цене</a>
    &nbsp;&nbsp;&nbsp;
    <a class="i-link" onclick="$('#formside').submit()" >дате</a>


</div>
</form>
   </div>
        </div>