{% extends 'inner_base.html' %}
{% block body %}
    <div class="page page--margin">
    <h1>Категории объявлений</h1>
        <div class="b-catalog">
            {% for category in categories %}
                <div class="list-wrap">
                    <h3 class="title">
{#                        <a href="{% url 'category' slug=cat.machine_id %}" class="title-link">{{ category.name }}</a>#}
                        <a href="{% url 'category' slug=category.machine_id %}" class="title-link">{{ category.name }}</a>
                    </h3>
                    <ul class="list">
                        {% for child_category in category.children.all %}
                            <li class="item-wrap">
                                <a href="{% url 'category' slug=child_category.machine_id %}"
                                   class="item i-link">{{ child_category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
