{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %}
{% load thumbnail %}
{% load catalog_tags %}


{% block body %}
    <div class="send"></div>

    <div class="page page--margin">
        <div class="page-content">

            <div class="ads">
                <div class="b-crumbs">
                    <br>
                    <h1 class="path">
                       {% if category.parent %}
                            <a class="i-link" href="{% url 'category' slug=category.parent.machine_id %}">{{ category.parent.name }}</a> → {{ category.name }}
                        {% else %}
                            {{ category.name }}
                        {% endif %}
                    </h1>
                </div>

                <div id='ads'>
                    {% for ad in ads %}
                        {% include 'catalog/b-category-ad.html' %}
                    {% endfor %}
                </div>
            </div>

        </div>

    <div style="display: inline-block;">
        {% include 'catalog/b-side.html' %}

    {% if category %}
        <div class="b-nav-v page-side-w">
           {% ad_filter_side %}
        </div>
    {% endif %}

    </div>



    </div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
