{% extends 'inner_base.html' %} {% block body %}
    <div class="page">

    <div class="b-ad-new">

    <div class="row">
    <div class="col col--left">
        <div class="i-white-box">
            {% if ad_created %}
                <div class="content">
                    Вы можете посмотреть его по <a href="{% url 'ad_view' object.id %}">ссылке</a>
                </div>
            {% else %}

                <header class="header">
                    <h2 class="h">Разместить новое</h2>
                    <label class="type-form">
                        <input type="radio" class="radio switch-form" name="form-type" data-show="ad-form-1"
                               checked="checked">
                        <span class="i-link i-link--fake">Объявление</span>
                    </label>

                    <label class="type-form type-form--on">
                        <input type="radio" class="radio switch-form" name="form-type" data-show="ad-form-2">
                        <span class="i-link i-link--fake">Акцию</span>
                    </label>
                </header>
                {% with ad_form as form %} {% include 'catalog/create_ad.html' %} {% endwith %}
                </div>
                </div>
                <div class="col col--right">
                    <div class="stickyeah" data-stickyeah-offset="16">
                        <div class="i-white-box ad-form ad-form-1">
                            <div class="b-item-ad b-item-ad--one">
                                <header class="header">
                                    <h3 class="title">
                                        <a href="" class="i-link">
                                            <span class="js-temp-type-ad">Продаю</span>
                                            <span class="js-temp-name-ad">SEAT Altea</span>
                                        </a>,
                                        <span class="js-temp-price-ad">1 180 000</span>&nbsp;руб.</h3>
                                </header>
                                <div class="gallery js-photos-fullscreen">
                                    <img src="http://placehold.it/240x180" alt="" height="180" width="240"
                                         data-url="http://placehold.it/1025x768">
                                </div>
                                <footer class="footer">
                                    <table>
                                        <tr>
                                            <td>
                                            <span class="action">
                                                <span class="i-link i-link--fake">Отправить предложение</span>
                                            </span>
                                            <span class="action"> <a href="" class="i-link">Не интересует</a>
                                            </span>
                                            <span class="action"><a href="" class="i-link">Продвигать</a>
                                            </span>
{#                                            <span class="action"> <a href="" class="i-link">Отслеживать</a>#}
{#                                            </span>#}
                                            </td>
                                            <td>
                                            <span class="action"><a href="" class="i-link">Константинопольский
                                                константин</a>
                                            </span>
                                            </td>
                                            <td>14&nbsp;янв 2013</td>
                                        </tr>
                                    </table>
                                </footer>
                            </div>
                        </div>

                        <div class="ad-form ad-form-2 i-white-box ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequuntur libero tempora
                            aliquam accusantium, a sint beatae dolorem provident, dignissimos veniam. Totam adipisci,
                            accusamus nisi porro id assumenda sed delectus.
                        </div>
                    </div>
                </div>
            {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
