{% extends 'inner_base.html' %}
{% load static %}

{% block javascript %}
{% endblock %}

{% block body %}
    <div class="page">

        <div class="b-ad-new">

            <div class="row">
                <div class="col col--left">
                    <div class="i-white-box">
                        <header class="header">
                            <h2 class="h">Разместить новое</h2>
                            <span class="selected">Объявление</span>
                        </header>
                        <form action="{% url 'create_ad' %}" class="f-form ad-form ad-form-1" enctype="multipart/form-data" method="post">{% csrf_token %} {{ form.client.errors }} {{ form.client }}
                            <div class="content">
                                <h3>Общие сведения</h3>
                                <table class="i-table i-table--full section">
                                    <tr>
                                        <td>
                                            <div class="caption"><strong>Регион</strong></div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.region.errors }} {{ form.region }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="caption"><strong>Город</strong></div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.city.errors }} {{ form.city }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="caption"><strong>Тип</strong></div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.type.errors }} {{ form.type }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="caption"><strong>Название</strong></div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.title.errors }} {{ form.title }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="price_ch">
                                        <td>
                                            <div class="caption">Цена</div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.price.errors }} {{ form.price }}&nbsp;&nbsp;руб.
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="field">
                                                {{ form.price_free.errors }}
                                                {{ form.price_free }}
                                                <label for="{{ form.price_free.id_for_label }}">{{ form.price_free.label }}</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                {{ form.price_agreement.errors }}
                                                {{ form.price_agreement }}
                                                <label for="{{ form.price_agreement.id_for_label }}">{{ form.price_agreement.label }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="i-table i-table--full section">
                                    <h3>Фотографии</h3>
                                    <tr>
                                        <td colspan="2">
                                            <div class="field upload-about">
                                                <table class="i-table"></table>
                                                <label class="bt-upload-area f-ad">
                                                    {{ image_form.img }}
                                                    <p class="status">Добавить фотографии</p>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table class="i-table i-table--full section">
                                    <h3>Описание</h3>
                                    <tr>
                                        <td colspan="2">
                                            <div class="field">
                                                {{ form.text.errors }} {{ form.text }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <footer class="footer">
                                <div class="final-bt">
                                    <input type="button" class="i-bt js-submit" value="Разместить объявление">
                                <span style="display: none" class="js-submit--info">
                                    <h1>Объвление успешно создано</h1>
                                    <br>
                                    <p>Вы можете посмотреть его по <a href="#">ссылке</a>
                                    </p>
                                </span>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>
                <div class="col col--right" style="position: fixed;">
                    <div class="stickyeah" data-stickyeah-offset="16">
                        <div class="i-white-box ad-form ad-form-1 js-ad-new">
                            <div class="b-item-ad b-item-ad--one">
                                <header class="header">
                                    <h3 class="title">
                                        <span class="blank">Тип</span>
                                        <span class="blank">Название</span>
                                        <span class="blank">Цена</span>
                                    </h3>
                                </header>
                                <div class="content-wrap">
                                    <div class="gallery js-photos-fullscreen">
                                        <div class="blank-b" style="line-height: 0px;!important">
                                            <img style="width:250px;" src="{% static 'img/no-image.png' %}">
                                        </div>
                                    </div>
                                    <div class="content js-temp-description-ad">&nbsp;</div>
                                </div>
                                <footer class="footer">
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="action">
                                                    <span class="i-link i-link--fake">Отправить предложение</span>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="action"><a href="" class="i-link">{{ user.first_name }}
                                                    {{ user.last_name }}</a>
                                                </span>
                                            </td>
                                            <td>{% now 'd b o' %}</td>
                                        </tr>
                                    </table>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/ones/jquery.maskedinput.min.js"></script>
	<script type="text/javascript">
	   $("#id_price").mask('000 000 000 000 000', {reverse: true});
           $('#id_price').change(function() {
            $("#price_agree, #price_free").prop("checked", false);
        })
	</script>
{% endblock %}
