{% extends 'inner_base.html' %}
{% block body %}
    <div class="page page--margin">

    <h1>Подобраные предложения: {{ad.get_deals|length}}</h1>
        <div class="page-content">
            <div class="ads">
                {% with ad as curr_ad %}
                    {% for ad in ad.get_deals %}
                        {% include 'catalog/b-category-ad.html' with show_decline=True %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}