{% extends 'inner_base.html' %}
{% load thumbnail %}

{% block body %}
    <div class="page">

    <div class="b-ad-new">

        <div class="row">
            <div class="col col--left">
                <div class="i-white-box">
                    <header class="header">
                        <h2 class="h">Редактировать объявление</h2>
                    </header>
                    <form action="{% url 'edit_ad' ad.id %}" class="f-form ad-form ad-form-1" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ form.client }}
                        {{ form.ad }}
                        <div class="content">
                            <h3>Общие сведения</h3>
                            <table class="i-table i-table--full section">
                                {% for param in ad.category.parameters.all %}
                                    <tr class="form1 params">
                                        {% if param.parameter_type == 0 %}
                                            <td>
                                                <div class="caption">{{ param.name }}</div>
                                            </td>
                                            <td>
                                                <div class="field">
                                                    <input type="hidden" name="parameter" value="{{ param.id }}"/>
                                                    <select name="parameter_value">
                                                        {% for param_val in param.parameters.all %}
                                                            <option {% if param_val in ad.get_parameter_values %} selected="selected" {% endif %} value="{{ param_val.id }}">{{ param_val.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </td>
                                            </tr>
                                        {% elif param.parameter_type == 1 %}
                                            <tr class="form1 params">
                                                <td>
                                                    <div class="caption">{{ param.name }}</div>
                                                </td>
                                                <td>
                                                    <div class="field">
                                                        <input type="hidden" name="parameter" value="{{ param.id }}"/>
                                                        <input type="text" name="parameter_value" class="input i-input" value="{{ param.text }}"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% elif param.parameter_type == 2 %}
                                            <tr class="form1 params">
                                                <td>
                                                    <div class="caption">{{ param.name }}</div>
                                                </td>
                                                <td>
                                                    <div class="field">
                                                        <input type="hidden" name="parameter" value="{{ param.id }}"/>
                                                        <input type="text" name="parameter_value" class="input i-input" value="{{ param.number }}"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% elif param.parameter_type == 3 %}
                                            <tr>
                                                <td>
                                                    <div class="caption">{{ param.name }}</div>
                                                </td>
                                                <td>
                                                    <div class="field">
                                                        <input type="hidden" name="parameter" value="{{ param.id }}"/>
                                                        <input type="checkbox" name="parameter_value" value="" {% if param.boolean %}checked="checked" {% endif %}/>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <div class="caption"><strong>Регион</strong></div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.region.errors }} {{ form.region }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="caption"><strong>Город</strong></div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.city.errors }} {{ form.city }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="caption"><strong>Тип</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.type.errors }} {{ form.type }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="caption">Название</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.title.errors }} {{ form.title }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="caption">Цена</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.price.errors }} {{ form.price }}&nbsp;&nbsp;руб.
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field">
                                            {{ form.price_free.errors }} {{ form.price_free }} {{ form.price_free.label }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ form.price_agreement.errors }} {{ form.price_agreement }} {{ form.price_agreement.label }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="i-table i-table--full section">
                                <h3>Фотографии</h3>
                                <tr>
                                    <td colspan="2">
                                        <div class="field upload-about">
                                            <table class="template">

                                                <tr class="photo-about--item">
                                                    <td>
                                                        <label>
                                                            <img src="[img]" alt="" width="80" height="60"
                                                                 data-url="[big_img]">
                                                            <input type="hidden" name="image" value="">
                                                            <input type="hidden" name="index" value="">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <span class="remove i-close-ico-16"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="i-table">
                                                {% for photo in ad.ad_photos.all %}
                                                    <tr class="photo-about--item">
                                                        <td>
                                                            <div class="up i-bt" {% if forloop.first %}style="display: none"{% endif %}>↑</div>
                                                            <div class="down i-bt" {% if forloop.last %}style="display: none"{% endif %}>↓</div>
                                                        </td>
                                                        <td>
                                                            <label>
                                                                {% thumbnail photo.img "80x60" crop="center" as im %}
                                                                    <img src="{{ im.url }}" alt="" width="80" height="60"
                                                                         data-url="{{ photo.img.url }}">
                                                                {% endthumbnail %}
                                                                <input type="hidden" name="image" value="{{ photo.id }}">
                                                                <input type="hidden" name="index" value="{{ photo.index }}">
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <span data-url="{% url 'upload_delete' photo.id %}" class="remove f-ad i-close-ico-16"></span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <label class="bt-upload-area f-ad">
                                                {{ image_form.img }}
                                                <p class="status">Добавить фотографии</p>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table class="i-table i-table--full section">
                                <h3>Описание</h3>
                                <tr>
                                    <td colspan="2">
                                        <div class="field">
                                            {{ form.text.errors }} {{ form.text }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <footer class="footer">
                            <div class="final-bt">
                                <input type="button" class=" i-bt js-submit" value="Сохранить">
                                <span style="display: none" class="js-submit--info"><h1>Объявление успешно отредактировано</h1><br><p>Вы можете посмотреть его по <a href="{% url 'ad_view' ad.pk %}">ссылке</a></p></span>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
            <div class="col col--right">
                <div class="stickyeah" data-stickyeah-offset="16">
                    <div class="i-white-box ad-form ad-form-1 js-ad-new">
                        <div class="b-item-ad b-item-ad--one">
                            <header class="header">
                                <h3 class="title">
                                    <span class="blank">Тип</span>
                                    <span class="blank">Название</span>
                                    <span class="blank">Цена</span>
                                </h3>
                            </header>
                            <div class="content-wrap">
                                {% if ad.ad_photos.all %}
                                    <div class="gallery js-photos">
                                        {% for image in ad.ad_photos.all %}
                                            <img height="180" data-url="{{ image.img.url }}" src="{{ image.img.url }}" title="{{ image.img_title }}">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="gallery js-photos-fullscreen">
                                        <div class="blank-b">
                                            <div class="blank-b">

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="content js-temp-description-ad">
                                    <div class="blank-b">
                                        Описание
                                    </div>
                                </div>
                            </div>


                            <footer class="footer">
                                <table>
                                    <tr>
                                        <td>
                                            <span class="action">
                                                <span class="i-link i-link--fake">Отправить предложение</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="action"><a href="" class="i-link">{{ user.first_name }}
                                                {{ user.last_name }}</a>
                                            </span>
                                        </td>
                                        <td>{% now 'd b o' %}</td>
                                    </tr>
                                </table>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/ones/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
       $("#id_price").mask('000 000 000 000 000', {reverse: true, onChange: function(cep){
            $("#price_agree, #price_js-ad-new").prop("checked", false);
          },});
          $("#price_agree, #price_js-ad-new").change(function() {
              $("#id_price").val("")
          })
    </script>
{% endblock %}
