{% extends 'inner_base.html' %}


{% block body %}

    <div class="page page--margin">
    <h1>Закладки:</h1>
        <div class="page-content">
            <div class="ads">
                {% for ad in favorits %}
                    {% include 'catalog/b-category-ad.html' %}
                {% endfor %}

            </div>
        </div>
    </div>






{% endblock %}
