{% extends 'inner_base.html' %}
{% load catalog_tags %}


{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}
{% block body %}
<div class="page page--margin">
    <div class="breadcrumbs">
        <div class="h-wrap">
            <h1 class="h1">Заявки клиентов</h1>
        </div>
    </div>
    <div class="page-content">
        <div class="ads">
            {% for ad in ads %}
                {% include 'catalog/b-category-ad-lenta.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="page-side stickyeah">
        <div class="b-nav-v page-side-w">
           {% ad_filter_side for_only_ads=True %}
        </div>
    </div>
</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
