{% for param in category.parameters.all %}
    <tr class="form1 params">
    {% if param.parameter_type == 0 %}
        <td>
            <div class="caption">{{ param.name }}</div>
        </td>
        <td>
            <div class="field">
                <input type="hidden" name="parameter" value="{{ param.id }}"/>
                <select name="parameter_value">
                    {% for param_val in param.parameters.all %}
                        <option value="{{ param_val.id }}">{{ param_val.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
    </tr>
    {% elif param.parameter_type == 1 %}
        <tr class="form1 params">
            <td>
                <div class="caption">{{ param.name }}</div>
            </td>
            <td>
                <div class="field">
                    <input type="hidden" name="parameter" value="{{ param.id }}"/>
                    <input type="text" name="parameter_value" class="input i-input"/>
                </div>
            </td>
        </tr>
    {% elif param.parameter_type == 2 %}
        <tr class="form1 params">
            <td>
                <div class="caption">{{ param.name }}</div>
            </td>
            <td>
                <div class="field">
                    <input type="hidden" name="parameter" value="{{ param.id }}"/>
                    <input type="text" name="parameter_value" class="input i-input"/>
                </div>
            </td>
        </tr>
    {% elif param.parameter_type == 3 %}
        <tr class="form1 params">
            <td>
                <div class="caption">{{ param.name }}</div>
            </td>
            <td>
                <div class="field">
                    <input type="hidden" name="parameter" value="{{ param.id }}"/>
                    <input type="checkbox" name="parameter_value" value=""/>
                </div>
            </td>
        </tr>
    {% endif %}
    </tr>
{% endfor %}

