<input type="hidden" id="balance" value="{{ client.client_balance.money|floatformat:" 0 " }}"/>
{% for option in options %}
    <tr>
        <td>
            <div class="caption">{{ option.name }}</div>
        </td>
        <td>
            <div class="field">
                <label for="id_options_{{ forloop.counter0 }}">
                    <input {% if option in ad.ad_options.all %}checked="checked" {% endif %}
                           id="id_options_{{ forloop.counter0 }}" type="checkbox" name="options"
                           data="{{ option.cost|floatformat:" 0 " }}"
                           value="{{ option.id }}"/>&nbsp;&nbsp;{{ option.cost|floatformat:"0" }} руб.
                </label>
            </div>
        </td>
    </tr>
{% endfor %}