{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}

<div class="page page--margin">
    <h1>Мои объявления</h1>
    <div class="page-content">
        <div class="ads">
            {% for ad in ads %} {% include 'catalog/b-ad--my-ad.html' %} {% empty %}
            <br>
            <h3>Список объявлений пуст</h3>
            {% endfor %}
        </div>
    </div>
    <div class="page-side">
        <div class="b-nav-v">
            <div class="el">
                <a class="i-link {% if state == 'active' %}i-link--selected{% endif %}" href="{% url 'my_ad_list_view' %}">Активные</a> {{ active_count }}
            </div>
            <div class="el">
                <a class="i-link {% if state == 'inactive' %}i-link--selected{% endif %}" href="{% url 'my_ad_list_view_state' 'inactive' %}">Неактивные</a> {{ inactive_count }}
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
