<tr class="photo-about--item">
    <td>
        <div class="up i-bt">↑</div>
        <div class="down i-bt">↓</div>
    </td>
    <td>
        <label>
            <img src="[img]" alt="" width="80" height="60" data-url="[big_img]">
            <input type="hidden" name="image" value="{{ img.id }}">
            <input type="hidden" name="index" value="[count]">
        </label>
    </td>
    <td>
        <span data-url="{% url 'upload_delete' img.id %}" class="remove f-ad i-close-ico-16"></span>
    </td>
</tr>
