{% load thumbnail %}
<div class="cell--flexible">
     <div class="b-coupon i-white-box ">
         <a href="{% url 'profile' partner.pk %}" class="photo-wrap">
            {% if partner.img  %}
                <!-- {% thumbnail partner.img "300x200" crop="center" as im %}
                    <img src="{{ im.url }}"   class="photo">
                {% endthumbnail %} -->
            <div style="width:100%; padding-top: 75%; background:url({{partner.img.url}}); background-position:center center;background-repeat:no-repeat;background-size:cover"></div>
            {% else %}
                <!-- {% thumbnail "profiles/no-image.png" "300x200"  format="PNG"  crop="center" as img %} -->
                <div style="width:100%; padding-top: 75%; background:url(/static/img/no-image.png); background-position:center center;background-repeat:no-repeat;background-size:100% 260px;"></div>
                <!-- <img src="{{ img.url }}"  style="width:300;" class="photo"> -->
                <!-- {% endthumbnail %} -->
            {% endif %}
             <span class="pr">{{ partner.get_pretty_name }}</span>
         </a>
         <div class="info">
            {% if partner.client_organization_info.first.description %}
            {{ partner.client_organization_info.first.description|safe }}
            {% else %}
            <i>Нет описания</i>
            {% endif %}
         </div>
     </div>
</div>