{% extends 'inner_base.html' %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}
{% block body %}
    <div class="page page--margin">
        <div class="b-coupons">
            <div class="crumbs">
                <h1 class="h1">Партнеры</h1>
            </div>

            <div class="coupons-list">

                {% for partner in partners %} {% include 'client/partner.html' %} {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
{% block foot %}
    {% include 'blocks/b-main-foot.html' %}
{% endblock %}
