{% extends 'inner_base.html' %}

{% load client_tags thumbnail %}

{% block head %}
    {% if is_registration %}
        {% include 'blocks/b-main-head.html' %}
    {% else %}
        {% include 'blocks/b-main-head--auth.html' %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="page page--margin page--limit">
        {% if messages %}
            {% for message in messages %}
            <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
            {% endfor %}
        {% endif %}
        <div class="b-registration ">
            <form action="{% url 'account' %}" class="f-form" method="post">{% csrf_token %}
                {{ client_form.user }}
                {{ client_form.token }}
                <div class="i-white-box user-profile">
                    <div class="content">
                        <div>
                            <h2>Профиль</h2>
                            <br>
                        </div>
                        <br>
                        <h3>Общие сведения</h3>

                        <div class="photo">

                            <div class="field">
                                <div class="upload">
                                    <label>
                                        <input type="file" class="upload-input" multiple accept="image/*">
                                        <span class="add-link i-link i-link--fake">Загрузить фото</span>
                                        <div class="rezult" style="margin-top: 10px;height: 0; padding-top: 75%;background-size: cover; background-position: center; background-image: url(
                                            {% if client.img %}
                                                
                                                    {{ client.img.url }}
                                                
                                            {% else %}
                                                
                                                /static/img/no-image.png
                                            {% endif %}
                                            );">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <table class="for-form">
                                <tr>
                                    <td>
                                        <div class="caption"></div>
                                    </td>
                                    <td>
                            <label>
                                <input type="radio" style="min-width:auto;" {% if client.is_organization %}checked="checked"{% endif %} name="type"
                                       value=2
                                       data-show="form1" class="switch-form like-checkbox">&nbsp;Юридическое лицо
                            </label><br>
                            <label>
                                <input type="radio" style="min-width:auto;" {% if not client.is_organization %}checked="checked"{% endif %} name="type" value=1
                                       data-show="form2"
                                       class="switch-form like-checkbox">&nbsp;Частное лицо
                            </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="caption">Регион</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ client_form.region.errors }}
                                            {{ client_form.region }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="caption">Город</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ client_form.city.errors }}
                                            {{ client_form.city }}

                                        </div>
                                    </td>
                                </tr>
                                <tr class="form2">
                                    <td>
                                        <div class="caption">Имя</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ client_form.first_name.errors }}
                                            {{ client_form.first_name }}

                                        </div>
                                    </td>
                                </tr>
                                <tr class="form1">
                                    <td>
                                        <div class="caption">Компания</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ organization_info_form.name.errors }}
                                            {{ organization_info_form.name }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="form1" style="display: table-row;">
                                    <td>
                                        <div class="caption">Контактное лицо</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ organization_info_form.short_name.errors }}
                                            {{ organization_info_form.short_name }}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="caption">Телефон</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ phone_form.number.errors }}
                                            {{ phone_form.number }}
                                            {{ phone_form.client }}

                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td><br></td>
                                </tr>
                                <tr class="form1">
                                     <td>
                                        <div class="caption">О компании</div>
                                    </td>
                                <td>
                                    <div class="field">
                                        {{ organization_info_form.description.errors }}
                                        {{ organization_info_form.description }}
                                    </div>
                                </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="caption">Эл. почта</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ client_form.email.errors }}
                                            {{ client_form.email }}

                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="caption">Изменить пароль:</div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            {{ client_form.password.errors }}
                                            {{ client_form.password }}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="user-category form1">
                            <h3>Сфера деятельности</h3>
                            <table>
                                <tr>
                                    <td>
                                        <div class="category">
                                            {% for category in categories %}
                                                <span class="js-category i-link i-link--fake"
                                                      data-list="{{ category.id }}">{{ category.name }}</span>
                                                <span class="count"></span>
                                                <br>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>
                                        {% for category in categories %}
                                            <div class="category-list wrap-ul category-list-{{ category.id }}">
                                                {% for subcat in category.children.all %}
                                                <label class="">
                                                    <input id='id_interests_{{ subcat.id }}' {% if subcat in client.interests.all %}checked="checked" {% endif %} type="checkbox" value="{{ subcat.id }}" name="interests"
                                                           class="js-category-list">{{ subcat.name }} <br>
                                                </label>
                                            {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <footer class="footer">
                        <div class="final-bt">
                            <input type="button" class="i-bt" value="Сохранить" onclick="submit()">
                        </div>
                        {% if client.pk %}<a href="{% url 'profile' pk=client.pk %}" target="_blank" class="i-link">Просмотр профиля&rarr;</a>{% endif %}
                    </footer>
                </div>

            </form>
        </div>
    </div>

{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
