{% for message in ad_messages %}
    <div class="comment-qa">
        <div class="comment-question">
            <div class="comment-user">
                <a href="{{ message.client }}">
                    <img src="{{ message.client.img.url }}" alt="" height="48">
                </a>
            </div>
            <div class="comment-note">
                {{ message.text }}
            </div>
        </div>
        {% if message.ad_message_children.first %}
            <div class="comment-answer">
                {{ message.ad_message_children.first.text }}
            </div>
        {% else %}
            <div class="comment-answer comment-answer--no">

                <span class="b-link--fake comment-answer-link">Ответить</span>

                <div class="comment-answer-form">
                    <form action="">
                        <textarea name="" id="" class="b-textarea b-textarea--full"></textarea>
                        <br>
                        <input type="button" class="b-bt" value="Ответить">
                    </form>
                </div>
            </div>
        {% endif %}

    </div>
{% endfor %}