{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %}
{% load thumbnail %}
{% block body %}
    {% load thumbnail %}
    <div class="page page--margin">
        <div class="h-wrap">
            <h1 class="h">Сообщения</h1>
        </div>
        <div class="b-messages wrap i-white-box">
            <div class="list-messages">
                {% for c in companions_list %}
                    <a class="i-link i-link--fake" href="{% url 'chat_view_messages' c.pk %}">
                        <div class="messages-user {% if c in companions_new %}messages-user--new{% endif %} {% if c == companion %}select{% endif %}">

                            {% if c.img %}
                                {% thumbnail c.img "48x48" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="avatar">
                                {% endthumbnail %}
                            {% else %}
                                <img height="48px" src="/static/img/no-avatar.png" alt="noavatar"/>
                            {% endif %}

                            <span class="">{{ c.get_pretty_name }}</span>
                        </div>
                    </a>
                {% endfor %}
                {% if show_next %}
                    <div class="messages-user">
                        <span class=""> показать еще 25</span>
                    </div>
                {% endif %}
            </div>
            <div class="message-thread">
                {% if client != form.initial.recipient %}
                <div class="answer my">
                        {% thumbnail client.img "48x36" crop="center" as im %} 
                    <div class="ico" style="height: 36px;background-image: url({{im.url }}); background-size: cover">
                    {% endthumbnail %}
                                {#<!-- <img width = "48" src="{{client.img.url }}" alt="avatar"> -->#}
                    </div>
                    <div class="mes">
                        <form id="create_chat_message" method="post" action="{% url 'create_chat_message' %}">{% csrf_token %}
                            {{ form.sender }}
                            {{ form.recipient }}
                            {{ form.text }}
                            <input type="button" onclick="return 0;" value="Ответить" class="i-bt">
                        </form>
                    </div>
                </div>
                {% endif %}
                {% for message in user_messages %}
                    <div class="{% if message.sender == client %}my{% else %}their{% endif %}">

                        <div class="ico">
                            {% if message.sender.img %}
                                {% thumbnail message.sender.img "48x36" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="avatar">
                                {% endthumbnail %}
                            {% else %}
                                <img height="48px" src="/static/img/no-avatar.png" alt="noavatar"/>
                            {% endif %}
                        </div>

                        <div class="mes">
                            <p class="sender">
                                {% if client != message.sender %}<a href="{% url 'profile' pk=message.sender_id %}" class="i-link">{% endif %}{{ message.get_sender_name }}{% if client != message.sender %}</a>{% endif %} написал:</p>
                            {{ message.text|safe }}
                        </div>

                        <div class="date">{{ message.date|date:"d.m.Y h:m" }}</div>
                    </div>
                {% endfor %}
{#            <div class="previous-msg-load">#}
{#                <img src="http://preloaders.net/preloaders/720/%D0%BB%D0%B8%D0%BD%D0%B8%D1%8F%20%D0%B2%20%D0%B4%D0%B2%D0%B8%D0%B6%D0%B5%D0%BD%D0%B8%D0%B8.gif">#}
{#            </div>#}

        </div>
    </div>
    </div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
