{% extends 'inner_base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %}
{% block body %}
    <div class="page page--margin">
        <div class="h-wrap">
            <h1 class="h">{{ msg }}</h1>
        </div>
    </div>
    </div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
