{% extends 'base.html' %} {% block head %} {% include 'blocks/b-main-head--auth.html' %} {% endblock %} {% block body %}
<div class="page page--margin">
    <div class="h-wrap">
        <h1 class="h1">Балланс 1450 рублей</h1>
    </div>

    <div class="wrap wrap--half money-wrap">
        <div class="money">
            <div class="money__list">

                <div class="h-wrap">
                    <h3 class="h3">История операций</h3>
                </div>
                <div class="">
                    <b>Последние</b> 
                    <a href="" class="b-link">За год</a>
                    <a href="" class="b-link b-link--fake">23 августо 2013</a>

                </div>
                <br>

                <table class="">
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-200 руб.</td>
                        <td>2 окт 2013</td>
                    </tr>
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-327 руб.</td>
                        <td>2 окт 2013</td>
                    </tr>
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-100 руб.</td>
                        <td>2 окт 2013</td>
                    </tr>
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-20 руб.</td>
                        <td>2 окт 2013</td>
                    </tr>
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-200</td>
                    </tr>
                    <tr>
                        <td>Продвижение <a href="" class="b-link">Rav 4 1991года 450 500 руб</a>
                        </td>
                        <td>-200</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="wrap wrap--half money-wrap">
        <div class="money">
            <div class="money__transfer">
                <div class="h-wrap">
                    <h3 class="h3">Паполнить балланс</h3>
                </div>

                <table>
                    <tr>
                        <td>Сумма &nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <input type="text" class="b-input-text">
                        </td>
                    </tr>
                    <tr>
                        <td>Оператор</td>
                        <td>
                            <div class="transfer__item">
                                <span class="b-link">MasterCard</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">VISA</span>
                            </div>
                            <div class="transfer__item transfer__item--select">
                                <span class="b-link">QIWI</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">VISA</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">QIWI</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">SMS</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">SMS</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">MasterCard</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">VISA</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">QIWI</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">SMS</span>
                            </div>
                            <div class="transfer__item">
                                <span class="b-link">MasterCard</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" class="b-bt" value="Паполнить">
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</div>
{% endblock %} {% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}
