{% extends 'inner_base.html' %}
{% load thumbnail %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}


{% block body %}
    <div class="page page--margin">
    <h1>Предложения по вашему объявлению</h1>
        <div class="b-offer">
            <table class="b-offer__table">
                <tr>
                    <td class="b-offer__left">
                        <div class="b-offer__col">
                            <div>
                                <h2 class="rere">{{ ad.get_type }}&nbsp;{{ ad.title }},
                            {% if ad.price == -1 %} 
                                По договоренности 
                            {% else %} 
                                {% if ad.price == -2%} 
                                    Бесплатно
                                {% else %} 
                                    {% if ad.price == 0 or ad.price == 0%}
                                        Цена не указана
                                    {% else %}
                                        {{ ad.price|floatformat:"0" }}&nbsp;руб. 
                                    {% endif %}
                                {% endif %}     
                            {% endif %}</h2>
                                {{ ad.text }}
                            </div>
                        <br/>
                            <div>
                                {% thumbnail ad.ad_photos.first.img "600x400" crop="center" as im %}
                                    <img style="width:100%;"src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                        </div>
                    </td>
                    <td class="b-offer__center">
                        <div class="b-offer__col ">
                            <div class="b-offer__arrow">→</div>
                        </div>
                    </td>
                    <td class="b-offer__right">
                        <div class="b-offer__col">
                            {% for offer in ad.ad_offers.all %}
                                {% include 'offers/b-ad--offer-ad.html' %}
                            {% endfor %}


                            {% comment %}


                                {% for ad_offer in offer.ad_offers.all %}
                                    <h3 class="title">
                                        <a href="{% url 'ad_view' ad_offer.id %}" class="i-link">{{ad_offer.title}}</a>, {{ad_offer.price}}&nbsp;руб.
                                    </h3>
                                    {% thumbnail ad_offer.ad_photos.first.img "600x400" crop="center" as im %}
                                        <img style="width:100%;"src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                    <br>

                                {% endfor %}
                            {% if offer.message %}
                                <br>
                                    <div class="i-white-box">
                                        {{offer.message}}

                                    </div>
                                <br>
                            {% endif %}



                            {% endcomment %}


                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}


{% block foot %}
    {% include 'blocks/b-main-foot.html' %}
{% endblock %}
