{% load thumbnail %}

<div class="ad">
    <table class="b-table">
        <tr>
            <td class="b-td">
                <div class="ad__title">
{#                    <a href="{% url 'offer_view' offer.pk %}" class="b-link">{{ offer.title }}</a>, {{ offer.price }}&nbsp;руб.#}
                </div>
                <div class="ad__info">
                    <b>От <a href="{% url 'profile' pk=offer.client.pk %}">{{ offer.client.get_pretty_name }}</a></b>
                </div>
                <div class="ad__info">
                    <span>Сообщение: {{ offer.message }}</span>
                </div>
                <div class="ad__info">
                    <span>Сумма: {{ offer.price }}&nbsp;руб.</span>
                </div>
                <div class="ad__info">

                    <span>Статус:</span> <span data="popup_{{ offer.pk }}" class="ad__chat__status-good">{{ offer.get_status }}</span>&nbsp;
                    {%comment%}
                    <span data="popup_{{ offer.pk }}" class="ad__chat__status-good">✗ Отказано</span>&nbsp;
                    <span data="popup_{{ offer.pk }}" class="ad__chat__status-bad">✗ Отказано</span>&nbsp;
                    {%endcomment%}
                </div>
            </td>
        </tr>
        {% if offer.ad_offers.exists %}
            <tr>
                <td>
                    <div class="ad__info">
                        <h2>Прикрепленные объявления:</h2>
                    </div>
                </td>
            </tr>
            {% for ad in offer.ad_offers.all %}
                <tr>
                    <td class="b-td">
                        <h3 class="title">
                            <a href="{% url 'ad_view' ad.id %}" class="i-link">{{ad.title}}</a>, {{ad_offer.price}}&nbsp;руб.
                        </h3>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" class="b-td">
                        <div class="ad__photo-wrap">
                            <div class="ad__photo">
                                {% thumbnail ad.ad_photos.first.img "600x400" crop="center" as im %}<img style="width:100%;"src="{{ im.url }}" alt="">{% endthumbnail %}
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        {% endif %}
    </table>
    <br>
    <div id="dialog-confirm-offer-{{ offer.pk }}" title="Принять предложение?" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы действительно хотите принять предложение?</p>
        <p>
            <input type="checkbox" name="deactivate-offer-{{ offer.pk }}" id="confirm-deactivate-offer-{{ offer.pk }}">
            <label for="confirm-deactivate-offer-{{ offer.pk }}">Снять объявление с публикации?</label>
        </p>
    </div>
    <script>
    function confirm_offer_{{ offer.pk }}() {
        $("#dialog-confirm-offer-{{ offer.pk }}" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            dialogClass: "ui-state-highlight",
            buttons: {
                "Да": function() {
                    var url = '{% url 'apply_cancel_offer' offer.pk %}?status=apply';
                    if ($("#confirm-deactivate-offer-{{ offer.pk }}").prop("checked")) {
                        url += "&action=deactivate";
                    }
                    $.get(url, function() {
                        window.location.reload();
                    });
                },
                "Нет": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
    </script>
    <div id="dialog-cancel-offer-{{ offer.pk }}" title="Отклонить предложение?" style="display:none;" class="">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы действительно хотите отклонить предложение?</p>
    </div>
    <script>
    function cancel_offer_{{ offer.pk }}() {
        $("#dialog-cancel-offer-{{ offer.pk }}" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            "dialogClass": "ui-state-error",
            buttons: {
                "Да": function() {
                    $.get('{% url 'apply_cancel_offer' offer.pk %}?status=cancel', function() {
                        window.location.reload();
                    });
                },
                "Нет": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
    </script>
    <div class="flex-center">
        {% if offer.status == 0 %}
            <a style="text-decoration: none;color:buttontext;" class="i-bt" onclick="confirm_offer_{{ offer.pk }}()">Принять предложение</a>
            <a style="text-decoration: none;color:buttontext;" class="i-bt" onclick="cancel_offer_{{ offer.pk }}()">Отклонить предложение</a>
        {% endif %}



    </div>

</div>

