{% load thumbnail %}
{% for offer in offers %}
<div class="b-ad-short i-white-box">
    <div class="content">
        <table>
            <tr>
                <td class="photo-cell">
                    {% thumbnail offer.ad.ad_photos.first.img "128x92" crop="center" as im %}
                    <img src="{{ im.url }}" alt="" width="128" height="92">
                    {% endthumbnail %}
                </td>
                <td>
                    <div class="title">
                        <a href="{% url 'ad_view' offer.ad.pk %}" class="i-link">{{ offer.ad.title }}</a>, {{ offer.ad.price|floatformat:"0" }}&nbsp;руб.
                    </div>
                    <div class="description">
                       
                        {{ offer.ad.short_text }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    

    <div class="offer">
        <table>
            <tr>
                <td class="left">
                    <h3>Ваше предложение</h3>
                    <div class="state">
                    {% if offer.price %}
                        <p>{{ offer.message }}</p> 
                    {% endif %}
                    {% if offer.price %} <p>{{ offer.price|floatformat:"0" }}&nbsp;руб.</p>{% endif %}
                    
                
                    {% if offer.ad_offers.exists %}
                    {% for ad_offer in offer.ad_offers.all %}
                    <div class="b-small-ad">
                        <div class="b-small-ad__left">
                            {% thumbnail ad_offer.ad_photos.first.img "64x48" crop="center" as im %}
                            <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        </div>
                        <div class="b-small-ad__right"><a class="i-link" href="{% url 'ad_view' ad_offer.pk %}">{{ ad_offer.title }}</a><br>{{ ad_offer.price|floatformat:"0" }}&nbsp;руб.
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    </div>
                    
                    <div class="edit">

                    </div>
                </td>
                <td class="right">
                    <h3>Ответ</h3>
                    {% if offer.status == 0 %}
                    <div class="ad__chat__status">На рассмотрении</div>
                    {% elif offer.status == 1 %}
                    <div class="ad__chat__status-good">✓ Принято</div>
                    {% else %}
                    <div class="ad__chat__status-bad">✗ Отказано</div>
                    {% endif %}
                </td>
            </tr>
        </table>
        
    </div>

    {% if offer.status == 0 %}
    <div class="footer">
        <div class="footer-wrap">
            <div class="actions">
                <div class="action">
                    <a class="i-link i-link--fake js-edit" href="{% url 'edit_offer' offer.pk %}">Изменить</a>
                </div>
                <div class="action">
                    <a href="" class="i-link i-link--fake js-delete-offer-show">Отменить</a>
                    <div id="popup_{{ offer.pk }}" class="delete-offer">
                        <form action="{% url 'delete_offer' offer.pk %}" class="f-form">{% csrf_token %}
                            <input type="button" class="i-bt js-delete-offer" value="Отменить предложение">&nbsp;или&nbsp;<span
                            class="i-link i-link--fake js-close-delete-offer">отменить</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}



</div>


{% endfor %}