<div class="ad ad_offer">
    <div class="ad__title">
        {% if offer.title %}
            <a href="#" class="b-link">{{ offer.title }}</a>, {{ offer.price|floatformat:"0" }}&nbsp;руб.
        {% else %}
            <a href="#" class="b-link">{{ offer.price }}&nbsp;руб.</a>
        {% endif %}
    </div>
    <div class="ad__info">
        {{ offer.message }}
    </div>
    <div class="ad__actions">
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell ad__footer-cell--first">
                    {% if offer.status == 0 %}
                        <span data="popup_{{ offer.pk }}" class="b-link b-link--fake b-link--g ad__action ad__action--yes">Продать</span>
                        <span data="popup_{{ offer.pk }}" class="b-link b-link--fake ad__action ad__action--no">Отказать</span>
                    {% elif offer.status == 1 %}
                        <span data="popup_{{ offer.pk }}" class="ad__chat__status-good">✓ Принято</span>&nbsp;
                        <span data="popup_{{ offer.pk }}" class="b-link b-link--fake ad__action ad__action--no">Отказать</span>
                    {% else %}
                        <span data="popup_{{ offer.pk }}" class="b-link b-link--fake b-link--g ad__action ad__action--yes">Продать</span>
                        <span data="popup_{{ offer.pk }}" class="ad__chat__status-bad">✗ Отказано</span>&nbsp;
                    {% endif %}
                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell ">
                        <div class="status status--date">{{ offer.date }}</div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>
<div id="popup_{{ offer.pk }}" class="ad__popup apply_offer">
    <div class="offer-popup">
        <div class="b-offer-popup">
            <form action="{% url 'apply_cancel_offer' offer.pk %}" class="f-form">
                <div class="content">
                    <h4>Принять предложение?</h4>
                    <input type="hidden" name="status" value="apply"/>
                </div>
                <footer class="footer">
                    <div class="final-bt">
                        <input type="button" class="i-bt" data="apply_offer" value="Принять предложение">&nbsp;или&nbsp;<span
                            class="i-link i-link--fake js-close">отменить</span>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

<div id="popup_{{ offer.pk }}" class="ad__popup cancel_offer">
    <div class="offer-popup">
        <div class="b-offer-popup">
            <form action="{% url 'apply_cancel_offer' offer.pk %}" class="f-form">
                <div class="content">
                    <h4>Отклонить предложение?</h4>
                    <input type="hidden" name="status" value="cancel"/>
                </div>
                <footer class="footer">
                    <div class="final-bt">
                        <input type="button" class="i-bt" data="cancel_offer" value="Отклонить предложение">&nbsp;или&nbsp;<span
                            class="i-link i-link--fake js-close">отменить</span>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</div>

