<div class="ad_bg">
    <div class="ad">
        <div class="ad__title">
            <a href="/ads--one-ad/" class="b-link">Rav 4 95 года</a>, 450 000 руб.
        </div>
        <div class="ad__content">
            <div class="ad__photo-wrap">
                <div class="ad__photo">
                    <img src="/static/img/rav/1.jpg" alt="" class="ad__photo-img">
                </div>
                <div class="ad__photo">
                    <img src="/static/img/rav/2.jpg" alt="" class="ad__photo-img">
                </div>
                <div class="ad__photo">
                    <img src="/static/img/rav/3.jpg" alt="" class="ad__photo-img">
                </div>
                <div class="ad__photo">
                    <img src="/static/img/rav/4.jpg" alt="" class="ad__photo-img">
                </div>
                <div class="ad__photo">
                    <img src="/static/img/rav/5.jpg" alt="" class="ad__photo-img">
                </div>
            </div>
            <div class="ad__note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, impedit, unde, doloremque, voluptatibus accusamus laboriosam quos amet ratione temporibus eaque ut corporis alias! Non at suscipit numquam libero repellat nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, nobis fugiat cupiditate ipsum itaque eum repellat. Facere, laboriosam, magni, quibusdam nihil sunt veniam sequi odit pariatur id quas aspernatur ipsa.</div>
        </div>
        <table class="ad__footer">
            <tr>
                <td class="ad__footer-cell">
                    <a href="/" class="b-link ad__action">Отменить заявку</a>
                </td>
                <td class="ad__footer-cell">
                    Предлжоение отклонено
                </td>
                <td class="ad__footer-cell ad__footer-cell--last">
                    <div class="ad__footer-cell">
                        <div class="status status--date">Создано 12 янв 2013</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
