
{% extends 'inner_base.html' %}
        {% load thumbnail %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}


{% block body %}

    <div class="page page--margin">
    <h1>Предложения по вашему объявлению</h1>
        <div class="b-offer">
            <table class="b-offer__table">
                {% for offer in offers %}

                <tr>
                    <td class="b-offer__left">
                        <div class="b-offer__col">
                            {% thumbnail offer.ad.ad_photos.first.img "128x92" crop="center" as im %}
                            <img style="width:100%;"src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                            {% comment %} <img style="width:100%;"src="http://dummyimage.com/600x400/bfcadb.png&text=Объявление" alt="">{% endcomment %}
                        </div>
                    </td>
                    <td class="b-offer__center">
                        <div class="b-offer__col ">
                            <div class="b-offer__arrow">→</div>
                        </div>
                    </td>
                    <td class="b-offer__right">
                        <div class="b-offer__col">
                            <img style="width:100%;"src="http://dummyimage.com/600x400/bfcadb.png&text=Объявление" alt="">
                            <br>
                            <br>
                            <div class="i-white-box">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quod, doloremque repudiandae sequi ratione quisquam, dolorem libero repellat illo itaque officia aut aspernatur, ea similique, commodi eveniet cum. Voluptate, ipsum.
                            </div>
                            <br>
                            <img style="width:100%;"src="http://dummyimage.com/600x400/bfcadb.png&text=Объявление" alt="">
                            <img style="width:100%;"src="http://dummyimage.com/600x400/bfcadb.png&text=Объявление" alt="">
                        </div>
                    </td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}


{% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}



{% comment %}
{% block body %}
<div class="page page--margin">
    <h1>Мои предложения</h1>
    <div class="page-content">
        <div class="ads">
            {% include 'offers/b-ad--my-pred.html' %}
        </div>
    </div>
    <div class="page-side">
        {% include 'offers/b-side.html' %}
    </div>
</div>
{% endblock %}

{% endcomment %}