
{% extends 'inner_base.html' %}
{% load thumbnail %}
{% block head %}
    {% include 'blocks/b-main-head--auth.html' %}
{% endblock %}


{% block body %}
<div class="page page--margin">
    <h1>Мои предложения</h1>
    <div class="page-content">
        <div class="ads">
            {% include 'offers/b-ad--my-pred.html' %}
        </div>
    </div>
    <div class="page-side">
       {% include 'offers/b-side.html' %}
    </div>
</div>
{% endblock %}


{% block foot %} {% include 'blocks/b-main-foot.html' %} {% endblock %}



