<div class="el">Состояние объявления:</div>
{% for el in offer_states %}
<div class="el">
    {% if el.current %}
        <span class="i-link i-link--selected">{{el.title}}</span>
    {% else %}
        <a href="{{el.url}}" class="i-link">{{el.title}}</a>
    {% endif %}
</div>
{% endfor %}

