{% load thumbnail %}

<div class="b-offer-popup">
    <div class="close i-close-ico-16 js-close"></div>
    <form id="edit_offer" action="{% url 'edit_offer' offer.pk %}" class="f-form offer-edit">

        <div class="content">
            <table class="for-form">
                {% csrf_token %}
                {{ form.ad }}
                {{ form.client }}
                {{ form.type }}
                {# <tr> #}
                    {# <td> #}
                        {# <div class="caption">Заголовок</div> #}
                    {# </td> #}
                    {# <td> #}
                        {# <div class="field"> #}
                            {# {{ form.title.errors }} #}
                            {# {{ form.title }} #}
                        {# </div> #}
                    {# </td> #}
                {# </tr> #}
                <tr>
                    <td>
                        <div class="caption">Сообщение</div>
                    </td>
                    <td>
                        <div class="field">
                            {{ form.message.errors }}
                            {{ form.message }}
                        </div>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <div class="caption">Сумма</div>
                    </td>
                    <td>
                        <div class="field">
                            {{ form.price.errors }}
                            {{ form.price }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    
                    <td colspan="2">
                        {% for my_ad in my_ads %}
                        <label class="offer-item">
                            <span class="check-wrap"><input type="checkbox" class="checkbox"
                                name="ad_offers" value="{{ my_ad.pk }}"
                                {% if my_ad in offer.ad_offers.all %}checked="checked" {% endif %}></span>
                                {% thumbnail my_ad.ad_photos.first.img "64x48" as im %}
                                <span><img src="{{ im.url }}" alt=""></span>
                                {% endthumbnail %}
                                <span class="offer-title">{{ my_ad.title }}, {{ my_ad.price|floatformat:"0" }}</span>
                            </label>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <footer class="footer">
                <div class="final-bt">
                    <input type="button" class="i-bt js-offer" value="Отправить предложение">&nbsp;или&nbsp;<span
                    class="i-link i-link--fake js-close">отменить</span>
                </div>
            </footer>
        </form>
    </div>
