{% load thumbnail %}

<div class="b-offer-popup">
    <form id="add_offer" action="{% url 'create_offer' %}" method="post" class="f-form">
        <div class="content">
            <h3>Ваше предложение</h3>
            <table>
                {% csrf_token %} {{ form.ad }} {{ form.client }} {{ form.type }}
{#                <tr>#}
{#                    <td>#}
{#                        <div class="caption">Заголовок</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="field">#}
{#                            {{ form.title.errors }} {{ form.title }}#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
                <tr>
                    <td>
                        <div class="caption">Сумма</div>
                    </td>
                    <td>
                        <div class="field">
                            {{ form.price.errors }} {{ form.price }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="caption">Сообщение</div>
                    </td>
                    <td>
                        <div class="field">
                            {{ form.message.errors }} {{ form.message }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Предложить -></td>
                    <td>
                        <ul>
                            {% for cat in cat_ads %}
                                <li><a onclick="$(this).next('ul').toggle()" class="a_link">{{ cat }}</a>
                                    <ul class="low_ul">
                                        {% for my_ad in my_ads %}
                                            {% if my_ad.category == cat %}
                                                <li>
                                                    <label class="offer-item">
                                                        <span class="check-wrap">
                                                            <input type="checkbox" class="checkbox" name="ad_offers" value="{{ my_ad.pk }}">
                                                        </span>
                                                        {% thumbnail my_ad.ad_photos.first.img "64x48" as im %}
                                                        <span>
                                                            <img src="{{ im.url }}" alt="">
                                                        </span>
                                                        {% endthumbnail %}
                                                        <span class="offer-title">{{ my_ad.title }}, {{ my_ad.price|floatformat:"0" }}</span>
                                                    </label>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <footer class="footer">
            <div class="final-bt">
                <input type="button" class="i-bt" value="Отправить предложение">&nbsp;или&nbsp;<span class="i-link i-link--fake js-close">отменить</span>
            </div>
        </footer>
    </form>
</div>