<div class="b-about-dory">
    <h1 class="h1">Как устроен сервис ДОРи:</h1>

    <table style="width: 100%">
        <tr>
            <td><img src="/static/img/step1.png" alt="step" width="100%" /></td>
            <td><img src="/static/img/step2.png" alt="step" width="100%" /></td>
            <td><img src="/static/img/step3.png" alt="step" width="100%" /></td>
        </tr>
    </table>

</div>
