html {
    height: 100%;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    color: #424242;
}
 
hr {
    background: silver;
    width: 100%;
    padding: 0;
    border: none;
    margin-top: 0;
    display: block;
    height: 1px;
}
.hr {
    font-size: 0px;
    width: 100%;
    height: 1px;
    margin: 24px 0px;
    background: silver;
    background: -moz-linear-gradient(left, rgba(164, 164, 164, 0) 0%, rgba(164, 164, 164, 0.65) 50%, rgba(164, 164, 164, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(164, 164, 164, 0)), color-stop(50%, rgba(164, 164, 164, 0.65)), color-stop(100%, rgba(164, 164, 164, 0)));
    background: -webkit-linear-gradient(left, rgba(164, 164, 164, 0) 0%, rgba(164, 164, 164, 0.65) 50%, rgba(164, 164, 164, 0) 100%);
    background: -o-linear-gradient(left, rgba(164, 164, 164, 0) 0%, rgba(164, 164, 164, 0.65) 50%, rgba(164, 164, 164, 0) 100%);
    background: -ms-linear-gradient(left, rgba(164, 164, 164, 0) 0%, rgba(164, 164, 164, 0.65) 50%, rgba(164, 164, 164, 0) 100%);
    background: linear-gradient(to right, rgba(164, 164, 164, 0) 0%, rgba(164, 164, 164, 0.65) 50%, rgba(164, 164, 164, 0) 100%);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-weight: normal;
}
.h1 {
    font-size: 24px;
    display: inline-block;
}
.h3 {
    font-size: 18px;
    display: inline-block;
}
.h3--indent {
    margin: 16px 0 8px;
}
ul, li {
    margin: 0;
    padding: 0;
}
td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}
.h-wrap {
    margin-bottom: 8px;
}
/*###########################################################*/

.b-link {
    color: rgb(68, 135, 197);
    border-bottom: 1px solid rgb(68, 135, 197);
    border-bottom: 1px solid rgba(68, 135, 197, .2);
    cursor: pointer;
    text-decoration: none;
    line-height: 100%;
}
.b-link--nowrap-hidden {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.b-link--fake {
    border-bottom-style: dashed;
    border-width: 1px;
    cursor: pointer;
}
.b-link--one {
    white-space: nowrap;
}
.b-link:hover {
    color: tomato;
    border-color: tomato;
}
.b-link--g {
    color: rgb(87, 174, 60);
    border-color: rgb(87, 174, 60);
    border-color: rgba(87, 174, 60, .3);
}
.b-link--t {
    color: tomato;
    border-color: tomato;
    border-color: rgba(255, 99, 71, 0.3);
}
.b-link--big {
    font-size: 18px;
}
.b-link--selected {
    border: none;
    color: tomato;
    cursor: default;
}
.b-link--disabled {
    color: silver;
    border: none;
    cursor: default;
}
.b-link--disabled:hover {
    color: silver;
}
.s {
    font-size: 14px;
}
.l {
    font-size: 18px;
}
/*###########################################################*/

.color {} .color-g {
    color: rgb(87, 174, 60);
}
/*###########################################################*/

.b-table {
    display: table;
    padding: 0;
    margin: 0;
}
.b-table--form {} .b-table--full {
    width: 100%;
}
.b-thead {} .b-tbody {} .b-tfoot {} .b-tr {} .b-td {
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.b-td--center {
    vertical-align: middle;
}
.b-td--t-center {
    text-align: center;
}
.b-td--small {
    font-size: 12px;
}
.b-td--title {
    width: 150px;
    padding-top: 5px;
}
.b-td--value {
    width: 400px;
}
.b-td--full {
    width: 100%;
}
.b-td--form {
    padding-right: 16px;
    padding-bottom: 16px;
    vertical-align: baseline;
}
/*###########################################################*/

.main-head {
    padding-top: 12px;
    margin-bottom: 12px;
    margin-left: 5%;
    margin-right: 24px;
}
.main-head__item {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.main-head__item--select {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 6px;
    border-radius: 5px;
}
.main-head__item-user {
    margin: 2px 16px 4px 0;
    display: inline-block;
}
.main-head__item--b {
    display: block;
}
.main-head__item--user-name {
    padding-bottom: 4px;
}
.main-head__item-add {
    font-size: 16px;
}
.main-head__link-wrap {
    padding: 4px 6px 4px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}
.main-head__item--logo {} .main-head__item--logo:hover {} .main-head__link {
    color: rgb(68, 135, 197);
    border-bottom: 2px solid rgb(68, 135, 197);
    border-bottom: 2px solid rgba(68, 135, 197, .3);
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
}
.main-head__link--fake {
    border-bottom-style: dashed;
}
.main-head__link--new {
    border-color: tomato;
    border: 2px solid rgba(255, 99, 71, 0.5);
    border-radius: 5px;
    padding: 0px 4px;
    background: tomato;
    color: white;
}
.main-head__link--old {
    border-width: 0;
}
.main-head__link-wrap:hover .main-head__link {
    color: tomato;
    border-color: tomato;
}
.main-head__link-wrap:hover .main-head__link--new {
    color: white;
}
.main-head__link-g {
    color: rgb(87, 174, 60);
    border-bottom: 1px solid rgb(87, 174, 60);
    border-bottom: 1px solid rgba(87, 174, 60, .3);
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
}
.main-head__link-wrap:hover .main-head__link-g {
    color: tomato;
    border-color: tomato;
}
.main-head__logo {
    background: url(../img/logo.png) no-repeat top right;
    height: 79px;
    width: 153px;
    display: inline-block;
    margin-right: 16px;
}
.main-head__user-name {
    padding-left: 6px;
    display: inline-block;
}
/*############################*/

.nav {
    padding: 0;
    margin: 0;
}
.nav__item {
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px 3px;
    margin-left: -8px;
    margin-right: 8px;
}
.nav__item--select {
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
}
.nav__link {
    color: rgb(68, 135, 197);
    border-bottom: 1px solid rgb(68, 135, 197);
    border-bottom: 1px solid rgba(68, 135, 197, .3);
    cursor: pointer;
    line-height: 100%;
    text-decoration: none;
}
.nav__link:hover {
    color: tomato;
    border-color: tomato;
}
/*############################*/

.ad-bt {
    padding: 12px 16px 12px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background: #fafbfc;
    line-height: 18px;
    color: rgb(68, 135, 197);
    background: #f4fef4;
    background: linear-gradient(to bottom, rgb(107, 175, 103) 15%, rgb(57, 131, 53) 100%);
    color: white;
    box-shadow: 0px 8px 8px -8px rgb(57, 131, 53);
}
.ad-bt:active {
    background: #e9fbe5;
    background: linear-gradient(to bottom, rgb(57, 131, 53) 0%, rgb(107, 175, 103) 85%);
    box-shadow: inset 0px 0px 16px 0px rgb(0, 60, 0);
    ;
}
/*############################*/

.main-head__hr-horz {
    width: 0px;
    height: 100%;
    display: inline-block;
    margin-left: 16px;
    margin-right: 24px;
    border-left: 1px solid rgb(205, 233, 229);
    border-right: 1px solid rgba(250, 250, 250, 0.29);
}
/*###########################################################*/

.bg {    background: #dbf2ef;
    background: -moz-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(232, 245, 243)), color-stop(100%, #e9f2db));
    background: -webkit-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -o-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -ms-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: linear-gradient(to bottom, rgb(232, 245, 243) 0%, #e9f2db 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgb(232, 245, 243)', endColorstr='#e9f2db', GradientType=0);
}
/*###########################################################*/

.main-foot {
    padding-left: 10%;
    padding-top: 48px;
    margin-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid silver;
}
.main-foot:after {
    content: '';
    clear: both;
    display: table;
}
.main-foot__item {
    display: inline-block;
}
.main-foot__item-wrap-right {
    float: right;
    display: inline-block;
}
.main-foot:after {
    content: '';
    clear: both;
    display: table;
}
/*###########################################################*/

/*###########################################################*/


/*###########################################################*/

.ads {}
/*###########################################################*/

/*###########################################################*/

/*###########################################################*/

.ad {
    background: white;
    border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 8px -2px grey;
    position: relative;
}
.ad__bg {
    background: white;
    border-radius: 3px;
    overflow: hidden;
}
.ad--sd-off {
    box-shadow: none;
}
.ad--top {
    background: #00a9a9;
    padding: 4px;
    border-radius: 7px;
}
.ad--short {
    background: none;
    margin-bottom: 16px;
}
.ad--category {
    font-size: 18px;
    margin-bottom: 12px;
}
.ad__title {
    font-size: 24px;
    line-height: 160%;
    padding: 8px 16px 4px;
    position: relative;
}
.ad__photo-wrap {
    white-space: nowrap;
    overflow: hidden;
    /*overflow-x:auto;*/
    position: relative;
    font-size: 0px;
    background: white;
}
.ad__photo-wrap--top {
    border-radius: 5px 0px 5px 0px
}
.ad__photo {
    display: inline-block;
    position: relative;
}
.ad__photo:after {
    content: 'x';
    position: absolute;
    display: none;
    bottom: 8px;
    right: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAABTUlEQVQ4y6XTv0ubURTG8Tv4H9hFFFq1Q207WJCOIv4nLv0PunavUK1TQW21HfyBjgoqGaTQUEqW4FDFioulklgyRiSvH5dL+r7Ja2rwTM+5nC/PvZznhtAsEz45cqnu0LyXoVN5Yl9rbXl42/iEGriya9Z7BVfgj9G88adqSMx50DzrsxSRgXbgKxJTsTu2H9VrsNk6Pglmmj2HTb2Ca8+zwBdc6s0FhsF0FjjBVqpPASEo4VsWSPA2BGUVFRU0oiqE4DN+Z4FGBEqqqqpoRLWTD5xgu+OVillgGfXUBtKPfixpf/Q4+JALbCIx0rqJAngVuwN7Ub0Ba+2bHvYXLP6LgSEbMYKnhtqRFy5AomjBR98lqdSe5SGDtlvCnVj3s4NLCMbMKak498M7z0LQ71cHl9yf0v8fl1zkXi6PunU5DqE7l/Vw19KnbFXPDd7xurcZf4heAAAAAElFTkSuQmCC);
    height: 24px;
    width: 24px;
}
.ad__photo:hover:after {
    display: inline-block;
}
.ad__photo-img {
    height: 192px;
}
.ad__info {
    padding: 4px 16px 12px;
    font-size: 16px;
    background: white;
}
.ad__footer {
    width: 100%;
}
.ad__footer-cell {
    text-align: left;
    vertical-align: baseline;
    padding: 0 8px;
}
.ad__footer-cell--first {
    padding: 0;
}
.ad__footer-cell--last {
    text-align: right;
    padding: 0;
}
.ib {
    display: inline-block;
}
.ad__action {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 16px;
}
.ad__vip-wrap {
    color: grey;
    text-align: right;
    padding: 0 12px;
    background: #00a9a9;
}
.ad__vip-wrap__link {
    color: white;
    margin-top: 4px;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 99px;
    line-height: 18px;
    min-width: 18px;
    text-align: center;
    display: inline-block;
}
.ad__vip-wrap__link:hover {
    color: black;
    border-color: black;
}
.ad__vip-wrap, .ad--top {
    background: rgb(61, 146, 242);
}
.ad__type-status {
    display: inline-block;
    border-radius: 5px;
    line-height: 100%;
    padding: 4px 8px 2px;
    color: rgb(255, 255, 255);
    background: rgb(255, 99, 71);
}
.ad__actions {
    background: rgb(250, 250, 250);
    border-top: 1px solid silver;
    padding: 8px 16px 2px;
    border-radius: 0px 0px 5px 5px;
}
.ad__action__popup__bg {
    text-align: center;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
.ad__action__popup {
    display: inline-block;
    text-align: left;
    position: relative;
    font-size: 36px;
    max-width: 600px;
    padding: 24px;
    margin-top: 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px silver;
}
.ad__action__popup__close {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 14px;
    cursor: pointer;
}
.ad__action__popup__close:before {
    content: '';
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNp0j0kKhFAMRCN6AO/SztN5nfbuXYpHkD5Cu9aVFYmSDlrw4FN5gXwiogGk9J5UnPPxBfmDxN0CMl3UIFFSLF1ht1n6iRCC1Sz+JQKjEOuBZ0QX+MB5mN0pwST38vEzqKz0Ab0Z8LsDwVXw4ZsuVLjbxaFGPvEWltpDgAEAuKgUw2QvQLAAAAAASUVORK5CYII=);
    width: 10px;
    background-repeat: no-repeat;
    height: 10px;
    padding-right: 4px;
}
/*#########################*/

.ad__popup {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 24px;
    max-width: 700px;
    background: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 8px 24px 0px #808080;
    display: none;
}
.ad__popup--hide {
    display: none;
}
.ad__popup--show {
    display: block;
}
.ad__popup:after {
    content: '';
    width: 0px;
    height: 0px;
    border: 16px solid transparent;
    display: inline-block;
    border-bottom-color: white;
    position: absolute;
    top: -32px;
    left: 24px;
    margin: auto;
}
/*###########################*/

.offer-popup .head {
    padding: 16px 16px 0 16px;
}
.offer-popup .col {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
}
.offer-popup .col--check {
    padding-left: 16px;
}
.offer-popup {} .offer-popup {} .offer-popup .b-textarea {
    min-width: 300px;
    min-height: 100px;
}
.offer-popup .card {
    display: block;
    border-radius: 3px;
    margin-bottom: 12px;
}
.offer-popup .card:hover {
    background: rgb(230, 230, 230);
}
.offer-popup .title {
    padding-right: 16px;
}
.offer-popup .img {
    max-height: 64px;
    border-radius: 3px;
    display: block;
}
.offer-popup .foot {
    background: rgb(250, 250, 250);
    text-align: center;
    border-top: 1px solid silver;
    padding-top: 16px;
}
/*###########################*/

.ad__chat {
    padding: 12px;
    margin-left: 152px;
}
.ad__chat__title {
    color: grey;
    font-size: 12px;
}
.ad__chat__left {
    padding: 4px 0
}
.ad__chat__right {
    margin-left: 24px;
    padding: 4px 0;
}
.ad__chat__status-good {
    color: #00c410;
}
.ad__chat__status-bad {
    color: #ce2b2b;
}
/*###########################################################*/

.ad-short {
    background: white;
    border-radius: 5px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 8px -2px grey;
}
.ad-short__content {
    padding: 12px 12px 4px;
}
.ad-short__title {
    font-size: 18px;
}
.ad-short__info {
    padding-right: 24px;
    width: 400px;
}
.ad-short__photo {
    padding-right: 12px;
}
.ad-short__actions {
    background: rgb(250, 250, 250);
    padding: 4px 12px 4px;
    border-top: 1px solid silver;
    border-radius: 0px 0 5px 5px;
}
.ad-short__action {
    padding-bottom: 4px;
    display: inline-block;
    margin-right: 24px;
}
.ad-short__resp {
    padding-bottom: 8px;
}
/*###########################################################*/

.status {
    font-size: 13px;
    text-align: center;
}
.status--new {
    color: tomato;
}
.status--date {
    color: silver;
}
/*###########################################################*/

.ads-type {
    -webkit-transition: background, 0.3s;
    -moz-transition: background, 0.3s;
    -ms-transition: background, 0.3s;
    -o-transition: background, 0.3s;
    transition: background, 0.3s;
    border-radius: 5px;
    padding: 12px 24px 1px 32px;
}
.ads-type:hover {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: background, 0.1s;
    -moz-transition: background, 0.1s;
    -ms-transition: background, 0.1s;
    -o-transition: background, 0.1s;
    transition: background, 0.1s;
    background: transparent;
}
.ads-type-wrap {
    font-size: 14px;
    margin-bottom: 12px;
}
.ads-type-wrap--select {
    margin-bottom: 8px;
}
.ads-type__item-wrap {} .ads-type__item {
    display: inline-block;
    text-decoration: none;
}
.ads-type__item--select {
    background: rgb(255, 121, 97);
    box-shadow: inset 0px 1px 4px 0px rgb(148, 0, 0);
    color: white;
    padding: 3px 9px 2px 8px;
    border-radius: 5px;
}
/*##########################*/

/*###########################################################*/
/*###########################################################*/

.ad-line {
    font-size: 14px;
    padding: 24px 0px;
    border-bottom: 1px solid silver;
    line-height: 140%;
}
.ad-line:after {
    content: '';
    display: table;
    clear: both;
}
.ad-line__panel {
    margin-top: 8px;
    font-size: 14px;
    clear: both;
}
.ad-line__wrap-photo {
    float: left;
    width: 200px;
}
.ad-line__photo {
    max-width: 200px;
}
.ad-line__info {
    margin-left: 208px;
}
/*###########################################################*/

.offer-nav {
    font-size: 18px;
    margin-left: 5%;
    padding-left: 16px;
    margin-top: 12px;
    margin-bottom: 8px;
}
.offer-nav__item {} .offer-nav__item--selected {
    padding: 2px 8px 0px;
    color: white;
    background: tomato;
    box-shadow: inset 0px 4px 12px 0px rgb(163, 26, 2);
    border-radius: 5px;
    display: inline-block;
    margin: 0 2px;
}
.offer-nav__item--small {
    font-size: 14px;
}
.offer {
    width: 100%;
    max-width: 1600px;
    /*margin-left: 2%;*/
    padding-bottom: 20px;
    position: relative;
}
.offer:after {
    content: '';
    clear: both;
    display: table;
}
.offer__ad {
    max-width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    margin-right: 28px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.offer__ad:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: white;
    position: absolute;
    top: 48px;
    right: -34px;
}
.offer__offer {
    max-width: 48%;
    display: inline-block;
    vertical-align: top;
    background: white;
    border-radius: 5px;
    margin-top: 12px;
    padding: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*###########################################################*/

.category-popup {
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px;
    z-index: 100;
    display: none;
    right: 0;
    box-shadow: 0px 4px 8px 0px #63736D;
    margin-left: 5%;
    width: 80%;
    background: white;
    border-radius: 3px;
}
.category-check {
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px;
    z-index: 100;
    display: none;
    right: 0;
    box-shadow: 0px 4px 8px 0px #63736D;
    margin-left: 5%;
    width: 80%;
    background: white;
    border-radius: 3px;
}
.category-check__footer {
    text-align: center;
}
.category-popup__title {
    font-size: 24px;
    margin-bottom: 12px;
}

/*###########################################################*/


/*###########################################################*/



/*###########################################################*/

.partners {
    font-size: 0px;
    padding: 16px 24px;
}
.partner-card {
    display: inline-block;
    margin: 0 28px 24px 0;
    vertical-align: top;
    font-size: 14px;
    padding: 12px 12px 4px 12px
}
.partner-card__name {} .partner-card__img-wrap {
    height: 164px;
}
.partner-card__img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.partner-card__img a {
    display: inline-block;
    vertical-align: bottom;
}
.partner-card__name {
    font-family: 'pt sans narrow';
    font-size: 18px;
    line-height: 140%;
    padding: 4px 0;
    text-align: center;
}
.partner-card__links {
    padding-bottom: 8px;
}
.partner__rating {
    white-space: nowrap;
    color: rgb(0, 207, 0);
}
/*###########################################################*/

.rating-wrap {
    padding: 24px;
}

/*###########################################################*/

.add-ad__nav {
    font-size: 18px;
    margin-bottom: 8px;
}
.add-ad__nav-item {} .add-ad__nav-item--selected {
    padding: 2px 8px 0px;
    color: white;
    background: tomato;
    box-shadow: inset 0px 1px 4px 1px #AC3525;
    border-radius: 5px;
    display: inline-block;
    margin: 0 2px;
}
.add-ad {
    font-size: 14px;
    background: white;
    border-radius: 5px;
    width: 49%;
    max-width: 666px;
    overflow: hidden;
    box-shadow: 0px 2px 8px -2px grey;
    display: inline-block;
    margin-right: 1%
}
.add-ad--margin {
    padding: 24px 24px 0px;
}
.add-ad__final-form {
    background: rgb(250, 250, 250);
    padding: 32px 0 24px;
    text-align: center;
    border-top: 1px solid silver;
}
.add-ad-preview {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

/*###########################################################*/

.b-li {} .b-li--list {
    list-style: decimal;
}
/*###########################################################*/

.list {
    margin: 0;
    padding: 0;
    margin-right: 16px;
}
.list__title {
    font-weight: bold;
}
.list--inline {
    display: inline-block;
    vertical-align: top;
}
.list--short {
    max-width: 200px;
}
.list__item {
    list-style: none;
}
.list__hint {
    font-style: italic;
    line-height: 120%;
}
/*###########################################################*/

.h {} .h--large {
    font-size: 24px;
}
.h--margin-null {
    padding: 0;
    margin: 0;
}
/*###########################################################*/

.rating__table {} .rating__td {
    vertical-align: middle;
    padding-bottom: 16px;
    padding-right: 24px;
}
.rating__title {
    font-size: 18px;
}
/*###########################################################*/

.money {
    display: inline-block;
    padding: 24px;
}
.money-wrap {
    margin-right: 24px;
}
.money__list td {
    padding-bottom: 16px;
}
.transfer__item {
    display: inline-block;
    margin: 8px 16px 8px 0px;
    padding: 15px;
    background: white;
    border: 1px solid silver;
    border-radius: 5px;
}
.transfer__item--select {
    box-shadow: inset 0px 0px 8px 0px silver;
    background: rgb(250, 250, 250);
    border: none;
    padding: 16px;
}
.transfer__item:hover {
    border-color: tomato;
}
.money td {
    padding-right: 24px;
}
/*###########################################################*/

.auth-form {
    max-width: 700px;
    margin: auto;
}
/*###########################################################*/

.user-type {} .b-type {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 3px solid white;
    background: white;
    padding: 32px 12px 7px;
    border-radius: 5px;
    margin-right: 20px
}
.b-type--select {
    border-color: tomato;
}
.b-type__radio {
    position: absolute;
    left: -9999px
}
/*###########################################################*/

.rating-value {
    background: rgb(83, 184, 83);
    color: white;
    border-radius: 16px;
    display: inline-block;
    width: 32px;
    padding-top: 2px;
    line-height: 30px;
    text-align: center;
}
/*###########################################################*/

.proposal-category {
    margin: 8px 0 16px;
}
.proposal-category__col {
    padding-right: 24px;
}
/*###########################################################*/

.about {} .about-slide {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 300px;
    position: relative;
}
.about-slide__item {
    display: inline-block;
    white-space: normal;
    width: 100%;
    max-width: 700px;
    height: 300px;
    background: silver;
    padding: 24px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    left: 0;
}
.about-slide__pager-item {
    display: inline-block;
}
.about-slide__item--center {
    left: 0%;
}
.about-slide__item--left {
    left: -100%;
}
.about-slide__item--right {
    left: 100%;
}
/*###########################################################*/

/*###########################################################*/

.new {
    background: tomato;
    border-radius: 3px;
}
/*###########################################################*/

.wrap > .comment-qa {
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 8px -2px grey;
    display: inline-block;
    vertical-align: top;
}
.wrap--half {
    max-width: 47%;
}
.wrap-footer {
    background: rgb(250, 250, 250);
    border-top: 1px solid rgb(192, 192, 192);
    padding: 4px 16px 3px;
    border-radius: 0px 0px 5px 5px;
    font-size: 14px;
}
/*###########################################################*/

.vizit-card-wrap {
    max-width: 900px;
    margin: auto;
    display: block;
}
.vizit-card {
    font-size: 18px;
    padding: 24px;
}
.vizit-card-half {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.vizit-card_photo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.vizit-card-info {
    padding-left: 24px;
}
.vizit-card .title {
    padding-right: 8px;
    color: silver;
    font-size: 80%;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vizitcard-add {
    margin-top: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAAA1BMVEUAAACnej3aAAAAAXRSTlMavYQhHAAAACpJREFUeAHtwYEAAAAAw6D7Ux9gCtUAAAAAAAAAAAAAAAAAAAAAAAAAgDhPsAAB9SlMSQAAAABJRU5ErkJggg==);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAAA1BMVEX///+nxBvIAAAAAXRSTlOArV5bRgAAACpJREFUeAHtwYEAAAAAw6D7Ux9gCtUAAAAAAAAAAAAAAAAAAAAAAAAAgDhPsAAB9SlMSQAAAABJRU5ErkJggg==);
    border-radius: 3px;
    padding: 24px 32px;
}
.vizitcard__alarm {
    display: none;
}
.vizitcard__message {
    display: none;
}
/*###########################################################*/


/*###########################################################*/

.remove-phone {
    font-size: 18px;
    background: silver;
    padding: 0px 12px;
    display: inline-block;
    margin-left: 8px;
    border-radius: 3px;
}
/*###########################################################*/

.preview-promo {
    display: none;
    max-width: 400px;
}
.form-promo {
    display: none;
}
.table-photo-mini {
    margin-top: 4px;
}
.table-photo-mini td {
    padding-bottom: 8px;
    padding-right: 8px;
}
.table-photo-mini thead td {
    font-weight: bold;
}
.table-photo-mini img {
    display: block;
    border-radius: 5px;
}
.table-photo-mini textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 64px;
    border: 1px solid silver;
    border-radius: 3px 3px 0px 3px;
    outline: none;
    resize: vertical;
    margin-top: 4px;
}
.table-photo-mini textarea:focus {
    border: 1px solid rgb(115, 115, 255);
}
.table-photo-mini .remove-photo {
    margin-left: 24px;
    display: inline-block;
}
.main-photo-check {} .main-photo-check--checked {
    color: rgb(87, 174, 60);
    border: none;
}
.main-photo-check--checked:before {
    content: '✓ ';
}
/*###########################################################*/

.i-center {
    text-align: center;
}
/*###########################################################*/

.b-messages {
    font-size: 8px;
    background: white;
    border-radius: 3px;
    max-width: 1200px;
    background: rgb(250, 250, 250);
}
.b-messages div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-messages .list-messages {
    width: 25%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.b-messages .messages-user {
    padding: 8px 12px 8px 24px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.b-messages .messages-user img {
    max-height: 48px;
    max-width: 48px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.b-messages .messages-user span {
    vertical-align: middle;
}
.b-messages .messages-user--new:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 9px;
    background: tomato;
}
.b-messages .messages-user:hover {
    background: #ecf2f5;
}
.b-messages .list-messages .select {
    background: rgb(142, 172, 187);
    color: white;
}
.b-messages .list-messages .new {
    background: #e2f0e0;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
}
.b-messages .message-thread {
    width: 75%;
    font-size: 14px;
    display: inline-block;
    background: white;
}
.b-messages .message-thread .their {
    padding: 16px 24px 16px;
    background: #e0eeef;
    border-bottom: 1px solid #d0d0d0;
    display: table;
    width: 100%;
}
.b-messages .message-thread .my {
    padding: 16px 24px 16px;
    border-bottom: 1px solid #d0d0d0;
}
.b-messages .message-thread .answer {
    padding-bottom: 0;
}
.b-messages .message-thread .answer textarea {
    min-height: 64px;
}
.b-messages .message-thread img {
    width: 100%;
    border-radius: 3px;
}
.b-messages .message-thread .ico {
    min-width: 48px !important;
    vertical-align: top;
    top: 4px;
    position: relative;
    margin-right: 24px;
    height: 48px !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 48px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.b-messages .message-thread .mes {
    display: table-cell;
    vertical-align: top;
    padding-right: 24px;
    width: 100%;
}
.b-messages .message-thread .date {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
    color: silver;
}
.b-messages .previous-messages-load {
    text-align: center;
    padding: 24px 0;
    font-style: italic;
}
.b-messages .previous-messages-load img {
    width: 50px;
    height: 17px;
}
/*###########################################################*/

.social-button {
    margin-top: 32px;
}
/*###########################################################*/

/*###########################################################*/

.dev-map {
    position: fixed;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px silver;
    padding: 2%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background: white;
    display: none;
    z-index: 99999999;
}
.dh {
    color: #ff00ff;
}
.dev-map td {
    vertical-align: top;
}
.dev-map__item {
    margin-right: 36px;
    margin-bottom: 8px;
}
.dev-map-close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 36px;
    font-size: 24px;
    border-left: 1px solid rgb(230, 230, 230);
    border-bottom: 1px rgb(230, 230, 230) solid;
    border-radius: 0px 0px 0px 5px;
    padding: 0 16px;
    color: silver;
    cursor: pointer;
}
/*###########################################################*/
