/* ###########################################################################
Глобальные стили
############################################################################ */

.i-table {
    display: table;
}
.i-table--full {
    width: 100%;
}
.i-cell {
    display: table-cell;
}
.i-left {
    text-align: left;
}
.i-right {
    text-align: right;
}
.i-center {
    text-align: center;
    margin: auto;
}
.i-close-ico-16 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAApUlEQVQoz3WRsQ7CMAxE/VNtk7RJpfezlImhQmKgE2ysiAWxFUbYYWGIAk2beLPOPt+dhS1aMoXmLmhu1Bm4w4gINR1qAVeMmNAonpQR7OijJUo2OPkvDLRzSsfBU9JwSarCcMJRsMbmbDkG3rGaeMAy8KHIxxJONGn6o5eG5fxLILLZTrj2kU0qXrOgWnqq0KSjVjz8JxTXpCjBsEILu4Wg6cj4BTb9PF0WYgpkAAAAAElFTkSuQmCC);
}
/**/

.i-link {
    color: rgb(55, 133, 189);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-decoration: none;
    cursor: pointer;
    border-color: rgb(0, 0, 255);
    border-color: rgba(0, 0, 255, .2);
}
.i-link:hover {
    color: rgb(255, 99, 71);
    border-color: rgb(255, 99, 71);
    border-color: rgba(255, 99, 71, 0.3);
}
.i-link--fake {
    cursor: pointer;
}
.i-link--selected {
    color: tomato;
    border-bottom-color: transparent;
    cursor: default;
}
.i-link--selected:hover {
    border-bottom-color: transparent;
    cursor: default;
}
/**/

.i-white-box {
    -webkit-box-shadow: 0px 2px 8px -2px grey;
       -moz-box-shadow: 0px 2px 8px -2px grey;
            box-shadow: 0px 2px 8px -2px grey;
    -webkit-box-shadow: 0px 2px 8px -2px rgb(164, 177, 161);
       -moz-box-shadow: 0px 2px 8px -2px rgb(164, 177, 161);
            box-shadow: 0px 2px 8px -2px rgb(164, 177, 161);
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    min-width: 255px;
}
/**/

.i-bt-answer,
.i-bt {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 71%, rgba(247, 247, 247, 1) 71%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(71%, rgba(247, 247, 247, 1)), color-stop(71%, rgba(247, 247, 247, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 71%, rgba(247, 247, 247, 1) 71%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 71%, rgba(247, 247, 247, 1) 71%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), color-stop(71%, rgba(247, 247, 247, 1)), color-stop(71%, rgba(247, 247, 247, 1)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 71%, rgba(247, 247, 247, 1) 71%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 6px 8px 5px;
    border: 1px solid silver;
    cursor: pointer;
    line-height: 100%;
}
.i-bt:active {
    -webkit-box-shadow: inset 0px 2px 8px 0px silver;
       -moz-box-shadow: inset 0px 2px 8px 0px silver;
            box-shadow: inset 0px 2px 8px 0px silver;
}
.i-full {
    width: 100%;
}
/* ############################################################################
    один класс — одно правило
   ############################################################################ */

.text-align-right {
    text-align: right;
}
/* ############################################################################
   Сетка 12 колонок
   ############################################################################ */

.g-col {
    float: left;
    margin-right: -500%;
    position: relative;
    display: inline-block;
    width: 8.333%;
}
.g-col-1 {
    left: 0%;
}
.g-col-2 {
    left: 8.333%;
}
.g-col-3 {
    left: 16.666%;
}
.g-col-4 {
    left: 24.999%;
}
.g-col-5 {
    left: 33.332%;
}
.g-col-6 {
    left: 41.665%;
}
.g-col-7 {
    left: 49.998%;
}
.g-col-8 {
    left: 58.331%;
}
.g-col-9 {
    left: 66.664%;
}
.g-col-10 {
    left: 74.997%;
}
.g-col-11 {
    left: 83.330%;
}
.g-col-12 {
    left: 91.660%;
}
.g-width-1 {
    width: 8.333%;
}
.g-width-2 {
    width: 16.666%;
}
.g-width-3 {
    width: 24.999%;
}
.g-width-4 {
    width: 33.332%;
}
.g-width-5 {
    width: 41.665%;
}
.g-width-6 {
    width: 49.998%;
}
.g-width-7 {
    width: 58.331%;
}
.g-width-8 {
    width: 66.664%;
}
.g-width-9 {
    width: 74.997%;
}
.g-width-10 {
    width: 83.330%;
}
.g-width-11 {
    width: 91.660%;
}
.g-width-12 {
    width: 91.660%;
}
/* #####################
Глобальные стили END
##################### */

html {
    min-height: 100%;
}
body {
    font-family: 'pt_sansregular', sans-serif;
    color: rgb(44, 44, 44);
}
input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
    width: 100%;
    height: 100%;
}
select {
    border: 1px solid silver;
    font-size: 80%;
    background-color: white;
}
input:focus, textarea:focus, select:focus {
    border-color: blue;
    outline: none;
}
select:focus {
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
  }
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}
p {
    margin: 0;
    margin-bottom: 8px;
}
/* ############################################################################
Страница
############################################################################ */

.wrapper {
    min-height: 100%;
    min-width: 980px;
}
.bg {
    background: #dbf2ef;
    background: -moz-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(232, 245, 243)), color-stop(100%, #e9f2db));
    background: -webkit-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -o-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 245, 243)), to(#e9f2db));
    background: linear-gradient(to bottom, rgb(232, 245, 243) 0%, #e9f2db 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgb(232, 245, 243)', endColorstr='#e9f2db', GradientType=0);
}
.bg--green-yellow {
    background: rgb(232, 245, 243);
    background: -moz-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(232, 245, 243)), color-stop(100%, #e9f2db));
    background: -webkit-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -o-linear-gradient(top, rgb(232, 245, 243) 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(232, 245, 243)), to(#e9f2db));
    background: linear-gradient(to bottom, rgb(232, 245, 243) 0%, #e9f2db 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgb(232, 245, 243)', endColorstr='#e9f2db', GradientType=0);
}
.page-wrap {
    position: relative;
}
.page {
    display: block;
    padding-top: 24px;
    margin-bottom: 24px;
}
.page--margin {
    margin-left: 5%;
    margin-right: 5%;
}
.page--margin-32 {
    margin-right: 32px;
    margin-left: 32px;
}
.page--limit {
    max-width: 1200px;
}
.page-content {
    display: inline-block;
    width: 65%;
    margin-right: 4%;
    vertical-align: top;
}
.page-side {
    display: inline-block;
    /*width: 25%;*/
    vertical-align: top;
}
/* ############################################################################
 Формы
############################################################################ */

.f-form .input, .f-form .textarea {
    width: 100%;
}
.f-form .input--short {
    width: 62%;
    min-width: 0;
    max-width: 150px;
}
.f-form .input--date {
    max-width: 30%;
    min-width: 0;
}
.f-form .content {
    padding: 16px;
}
.f-form .caption {
    padding-right: 16px;
}
.f-form .field {
    width: 100%;
    margin-bottom: 8px;
}
.f-form .list {
    margin: 0;
}
.f-form .list-item {
    list-style: decimal;
    margin-bottom: 16px;
}
.f-form .footer {
    background: #f8f8f8;
    border-top: 1px solid silver;
    padding: 16px 16px;
}
.f-form .final-bt {
    text-align: center;
}
.f-form .for-form {
    width: 100%;
}
.f-form .for-form td {
    vertical-align: top;
    padding-bottom: 16px;
}
/* ############################################################################
    Шапка
############################################################################ */

.b-header {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 16px 0px rgb(156, 193, 211);
       -moz-box-shadow: 0px 0px 16px 0px rgb(156, 193, 211);
            box-shadow: 0px 0px 16px 0px rgb(156, 193, 211);
    padding: 16px 24px 20px 5%;
    position: relative;
    z-index: 950;
}
.b-header .logo {
    background: url(../img/logo2.png) no-repeat center center;
    height: 94px;
    width: 134px;
    margin-right: 48px;
    display: inline-block;
}
.b-header .i-link {
    color: rgb(55, 133, 189);
    border-color: rgb(55, 133, 189);
    border-color: rgba(55, 133, 189, .2);
}
.b-header .i-link:hover {
    color: tomato;
    border-color: rgb(255, 99, 71);
    border-color: rgba(255, 99, 71, 0.3)
}
.b-header .i-link--fake {
    color: rgb(55, 133, 189);
    border-color: rgb(55, 133, 189);
    border-color: rgba(55, 133, 189, .3);
}
.b-header .i-link--fake:hover {
    color: tomato;
}
.b-header .max-width {
    max-width: 1200px;
}
.b-header .elem {
    white-space: nowrap;
    margin-right: 16px;
    margin-bottom: 4px;
    display: inline-block;
}
.b-header .new {
    background: #8adc7b;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    padding: 2px 5px 1px;
    color: white;
    font-size: 12px;
    line-height: 100%;
    vertical-align: top;
    display: inline-block;
}
.b-header .old {
    color: grey;
    margin-left: 2px;
    font-size: 12px;
}
.b-header .table-full {
    width: 100%;
}
.b-header .name {
    margin-right: 24px;
}
.b-header .actions {
    margin-top: 8px;
}
.b-header .actions td {
    vertical-align: baseline;
}
.b-header .actions .elem {
    margin-right: 32px;
    margin-bottom: 0;
    display: block;
}
/**/

.b-header .city-select {
    padding: 4px 8px 3px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
}
/**/

.b-header .menu td {
    padding-right: 24px;
    padding-bottom: 8px;
}
.b-header .ico {
    position: relative;
    top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/**/

.b-header .search {
    border: 1px solid silver;
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
    padding: 4px 4px 3px;
    height: 18px;
    line-height: 18px;
    outline: none;
    min-width: 300px;
    max-width: 500px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: url('../img/search.png')right center no-repeat #FFF;
    -moz-background-size: 20px;
      -o-background-size: 20px;
         background-size: 20px;
}
.b-header .search--active {
    -webkit-border-radius: 3px 0px 0px 0;
       -moz-border-radius: 3px 0px 0px 0;
            border-radius: 3px 0px 0px 0;
}
.b-header .search-bt {
    padding: 4px 8px 3px;
    border: 1px solid silver;
    -webkit-border-radius: 0px 3px 3px 0;
       -moz-border-radius: 0px 3px 3px 0;
            border-radius: 0px 3px 3px 0;
    outline: none;
    border-left-width: 0;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.b-header .search-bt:active {
    background: white
}
.b-header .search:focus, .b-header .search-bt:focus {
    border-color: #9DC487;
}
.b-header .search-slide-list-wrap {
    position: relative;
}
.b-header .search-slide-list {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    white-space: normal;
    background: white;
    border: 1px solid silver;
    border-top: none;
}
.b-header .search-slide-list div {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
}
.b-header .search-slide-list .active {
    background: silver;
}
.b-header .search-slide-list div:hover {
    background: blue;
}
.b-header .search-slide-list span {
    margin: 3px 4px 2px;
    overflow: hidden;
    display: block;
}
/**/

.b-header .add-bt {
    padding: 5px 8px 4px;
    background: rgb(201, 222, 150);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(201, 222, 150, 1) 0%, rgb(129, 180, 126) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(201, 222, 150, 1)), color-stop(100%, rgb(129, 180, 126)));
    background: -webkit-linear-gradient(top, rgba(201, 222, 150, 1) 0%, rgb(129, 180, 126) 100%);
    background: -o-linear-gradient(top, rgba(201, 222, 150, 1) 0%, rgb(129, 180, 126) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(201, 222, 150, 1)), to(rgb(129, 180, 126)));
    background: linear-gradient(to bottom, rgba(201, 222, 150, 1) 0%, rgb(129, 180, 126) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c9de96', endColorstr='#398235', GradientType=0);
    text-decoration: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: white;
    height: 18px;
    line-height: 18px;
    display: inline-block;
}
/*не автаризован*/

.b-header .cell-main {
    vertical-align: bottom;
}
.b-header--no-auth {
    font-size: 140%;
}
/* ############################################################################
    Подвал
############################################################################ */

.b-footer {
    padding: 24px 0 128px;
    border-top: 1px solid silver;
}
/* ############################################################################
Попап
############################################################################ */

.b-popup {
    position: absolute;
    display: none;
    top: 0;
    left: 0
}
/* ############################################################################
    Слайд-попап
############################################################################ */

.b-slide-popup {
    display: none;
    position: absolute;
    z-index: 900;
    width: 100%;
    background: #dbf2ef;
    background: -moz-linear-gradient(top, #dbf2ef 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbf2ef), color-stop(100%, #e9f2db));
    background: -webkit-linear-gradient(top, #dbf2ef 0%, #e9f2db 100%);
    background: -o-linear-gradient(top, #dbf2ef 0%, #e9f2db 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#dbf2ef), to(#e9f2db));
    background: linear-gradient(to bottom, #dbf2ef 0%, #e9f2db 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dbf2ef', endColorstr='#e9f2db', GradientType=0);
    -webkit-box-shadow: 0px 32px 32px -32px #9faa9a;
       -moz-box-shadow: 0px 32px 32px -32px #9faa9a;
            box-shadow: 0px 32px 32px -32px #9faa9a;
    padding: 24px 0;
}
.b-slide-popup .content {
    margin: 0 2.5% 0 5%;
    display: inline-block;
    width: 905px;
}
.b-slide-popup .close {
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: 0px solid silver;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.b-slide-popup .close:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, .8);
}
/* ############################################################################
Попап выбор города
############################################################################ */

.b-city-select .i-link {
    border-bottom: none;
}

.b-city-select .h {
    font-size: 24px;
    margin: 0;
}
.b-city-select .header {
    padding: 24px 24px 0;
    width: 100%;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-city-select .header .left {
    display: table-cell;
    vertical-align: middle;
    padding-right: 32px;
}
.b-city-select .header .right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.b-city-select .content {
    margin: 0;
    padding: 12px 24px 0;
    margin-bottom: 24px;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-city-select .search {
    width: 80%;
    min-width: 200px;
    background: white;
    font-size: 14px;
    padding: 3px 12px 2px;
    -webkit-border-radius: 99px;
       -moz-border-radius: 99px;
            border-radius: 99px;
    border: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-city-select .search:focus {
    border-color: blue;
}
.b-city-select .title {
    font-weight: bold;
    margin-bottom: 12px;
}
.b-city-select .content {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
}
.b-city-select .content:after {
    display: table;
    content: '';
    clear: both;
}
.b-city-select .city, .b-city-select .region {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}
.b-city-select .region {
    padding: 12px 0;
}
.b-city-select .region-list ul {
    -moz-column-count: 4;
    -moz-column-gap: 35px;
    -webkit-column-count: 4;
    -webkit-column-gap: 35px;
    column-count: 4;
    column-gap: 35px;
}
.b-city-select .city {
    padding: 12px 24px 16px 12px;
    display: none;
    /*position: absolute;*/
}

.b-city-select .city-list {
}

.b-city-select .city-list ul {
    padding: 0;
    -moz-column-count: 4;
    -moz-column-gap: 35px;
    -webkit-column-count: 4;
    -webkit-column-gap: 35px;
    column-count: 4;
    column-gap: 35px;
}
.b-city-select .footer {
    padding: 12px;
    text-align: center;
    border-top: 1px solid silver;
    background-color: rgb(250, 250, 250);
}
.b-city-select li {
    list-style: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    clear: both;
    padding: 2px 0;
}
/* ############################################################################
Попап авторизации
############################################################################ */

.b-auth-popup {
    margin: auto;
}
.b-auth-popup .col {
    display: inline-block;
    margin: 0 16px;
    vertical-align: top;
    padding: 16px 24px 24px;
    text-align: left;
    font-size: 100%;
}
.b-auth-popup .error {
    max-width: 500px;
    margin: 10px 0 0 18px;
}
.b-auth-popup .caption {
    font-weight: normal;
    padding-bottom: 16px;
}
.b-auth-popup .title {
    font-size: 80%;
    padding: 0 0 4px 4px;
}
.b-auth-popup .cell {
    padding-bottom: 8px;
}
.b-auth-popup .cell .title span {
    color: red;
}
.b-auth-popup .input {
    width: 300px;
    font-size: 18px;
    padding: 4px 4px 3px;
}
.b-auth-popup .final {
    padding-top: 8px;
    text-align: right;
}
.b-auth-popup .i-link {
    margin-bottom: 8px;
    display: inline-block;
}
/* ############################################################################
Хлебные крошки для объявлений
############################################################################ */

.b-crumbs {
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 24px;
}
.b-crumbs .path {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}
/* ############################################################################
Создать новое объявление форма
############################################################################ */

.b-ad-new {
    margin-bottom: 24px;
    max-width: 1200px;
    margin: 0 5%;
}
.b-ad-new .row {
    display: block;
}
.b-ad-new .row:after {
    display: table;
    clear: both;
    content: '';
}
.b-ad-new .col {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-ad-new .col--left {
    float: left;
    margin-bottom: 24px;
    padding-right: 8px
}
.b-ad-new .col--right {
    float: right;
    padding-left: 8px;
}
.b-ad-new .col--left h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 12px;
    margin-bottom: 0;
}
.b-ad-new .col--left .content h3 {
    border-bottom: 2px solid grey;
}
.b-ad-new .col--left .header {
    padding: 16px;
}
.b-ad-new .col--left .section {
    margin-bottom: 48px;
}
.b-ad-new .col--left .content {
    padding: 16px;
}
.b-ad-new .col--left .content td {
    vertical-align: top;
    padding-bottom: 4px;
}
.b-ad-new .col--left .final-bt {
    text-align: center;
}
/**/

.b-ad-new .col--left .header .selected {
    padding: 5px 12px 4px;
    vertical-align: middle;
    background: tomato;
    cursor: default;
    color: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.b-ad-new .col--left .header .i-link {
    margin: 0 12px;
}
/**/

.b-ad-new .col--left .textarea {
    width: 100%;
}
.b-ad-new .col--left .caption {
    font-size: 90%;
    padding-right: 8px;
    margin-top: 3px;
}
/**/

.b-ad-new .type-form {
    border: 3px solid transparent;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 12px 24px 8px;
}
.b-ad-new .type-form .radio {
    position: absolute;
    left: -999px
}
.b-ad-new .type-form .ico {
    display: block;
    margin: auto;
}
.b-ad-new .type-form--on {
    border-color: rgb(255, 99, 71);
}
/**/

.b-ad-new .col--left .upload-about td {
    padding-right: 8px;
    padding-bottom: 12px;
}
.b-ad-new .col--left .upload-about .bt-upload-area {
    position: relative;
    display: block;
    height: 72px;
    border: 2px dashed silver;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.b-ad-new .col--left .upload-about .bt-upload-area:hover {
    border-color: tomato;
}
.b-ad-new .col--left .upload-about .upload-input {
    position: absolute;
    left: -9999px;
}
.b-ad-new .col--left .upload-about .template {
    /*  display: none;*/
    margin: 0;
    /*не потеряй*/
}
.b-ad-new .col--left .upload-about .remove {
    display: block;
    width: 24px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.b-ad-new .col--left .upload-about .status {
    margin: 0;
    padding: 0;
    line-height: 72px;
    font-size: 18px;
    color: silver;
    text-align: center;
}
.b-ad-new .col--left .upload-about textarea {
    height: 60px;
}
.b-ad-new .col--left .upload-about .up {
    margin-bottom: 4px;
}
.b-ad-new .col--left .upload-about .up, .b-ad-new .col--left .upload-about .down {
    color: grey;
}
.b-ad-new .col--left .upload-about .img-wrap {
    width: 80px;
    height: 60px;
    display: inline-block;
    position: relative;
}
.b-ad-new .col--left .upload-about .img-wrap img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
/**/

.b-ad-new .blank {
    font-size: 14px;
    border: 2px dotted silver;
    color: grey;
    line-height: 100%;
    padding: 2px 8px 1px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.b-ad-new .blank-b {
    border: 2px dotted silver;
    color: grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    line-height: 180px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ############################################################################
 Форма регистрации
############################################################################ */

.b-registration .header {
    padding: 32px 48px 0;
}
.b-registration h2 {
    display: inline-block;
    margin: 0;
    margin-right: 48px;
    vertical-align: middle;
}
.b-registration .content {
    padding: 32px 48px 32px;
}
.b-registration h3 {
    border-bottom: 2px solid grey;
}
.b-registration .user-profile {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.b-registration .photo {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding-right: 32px;
}
.b-registration .date {
    display: inline-block;
    vertical-align: top;
}
.b-registration .for-form tr {} .b-registration .for-form td {
                                    padding: 0;
                                    vertical-align: baseline;
                                    padding-bottom: 4px;
                                }
.b-registration .caption {
    padding-left: 4px;
    font-size: 90%;
}
.b-registration .date input {
    min-width: 300px;
}
/**/

.b-registration .upload {
    text-align: center;
}
.b-registration .upload label {
    position: relative;
}
.b-registration .upload input {
    position: absolute;
    left: -999px;
}
.b-registration .upload .img-wrap {
    position: relative;
    width: 300px;
}
.b-registration .upload img {
    max-height: 100%;
    max-width: 100%;
}
.b-registration .upload .add-link {
    padding-top: 8px;
    display: inline-block;
}
/**/

.b-registration .type-form {
    padding: 5px 12px 4px;
    vertical-align: middle;
}
.b-registration .type-form--on {
    background: tomato;
    cursor: default;
}
.b-registration .type-form--on .i-link {
    border-color: transparent;
    color: white;
}
/**/

.b-registration .user-category {
    vertical-align: top;
    margin-top: 24px;
}
.b-registration .user-category--show {
    display: inline-block;
}
.b-registration .user-category .i-link {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 4px;
}
.b-registration .user-category td {
    vertical-align: top;
}
.b-registration .user-category label {
    white-space: nowrap;
    display: block;
    width: 40%;
    margin-bottom: 4px;
}
.b-registration .user-category input {
    margin-right: 4px;
}
.b-registration .user-category .category, .b-registration .user-category .category-list {
    margin-right: 24px;
}
.b-registration .user-category .category-list {
    padding: 8px;
    display: none;
}
.b-registration .user-category .category {
    padding: 16px;
    padding-bottom: 24px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fdfdfd;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgb(240, 240, 240);
       -moz-box-shadow: inset 0px 1px 3px 0px rgb(240, 240, 240);
            box-shadow: inset 0px 1px 3px 0px rgb(240, 240, 240);
}
.b-registration .user-category .count {
    font-size: 75%;
    color: grey;
}
/* ############################################################################
 объявления из любого списка объявлений 
############################################################################ */

.b-item-ad {
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
}
.b-item-ad .ad-wrap {
    overflow: hidden;
    background: white;
}
.b-item-ad .header {
    font-size: 18px;
    background: white;
    margin-bottom: 8px;
    margin-top: 8px;
}
.b-item-ad .footer {
    background: rgb(250, 250, 250);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 4px 16px 8px;
    font-size: 14px;
    position: relative;
}
.b-item-ad .footer table {
    width: 100%;
}
.b-item-ad .footer td {
    padding-right: 8px
}
.b-item-ad .footer .action {
    margin-right: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.b-item-ad .content-wrap {
    width: 100%;
    display: block;
}
.b-item-ad .content {
    padding: 0 16px 16px;
}
.b-item-ad .title {
    font-weight: normal;
    margin: 4px 16px;
}
.b-item-ad .gallery {
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.b-item-ad .gallery img, .b-ones .gallery img, .add-bt {
    cursor: pointer;
}
.b-item-ad .gallery img:after {
    content: 'x';
    position: absolute;
    display: none;
    bottom: 8px;
    right: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAABTUlEQVQ4y6XTv0ubURTG8Tv4H9hFFFq1Q207WJCOIv4nLv0PunavUK1TQW21HfyBjgoqGaTQUEqW4FDFioulklgyRiSvH5dL+r7Ja2rwTM+5nC/PvZznhtAsEz45cqnu0LyXoVN5Yl9rbXl42/iEGriya9Z7BVfgj9G88adqSMx50DzrsxSRgXbgKxJTsTu2H9VrsNk6Pglmmj2HTb2Ca8+zwBdc6s0FhsF0FjjBVqpPASEo4VsWSPA2BGUVFRU0oiqE4DN+Z4FGBEqqqqpoRLWTD5xgu+OVillgGfXUBtKPfixpf/Q4+JALbCIx0rqJAngVuwN7Ub0Ba+2bHvYXLP6LgSEbMYKnhtqRFy5AomjBR98lqdSe5SGDtlvCnVj3s4NLCMbMKak498M7z0LQ71cHl9yf0v8fl1zkXi6PunU5DqE7l/Vw19KnbFXPDd7xurcZf4heAAAAAElFTkSuQmCC);
    height: 24px;
    width: 24px;
}
.b-item-ad .gallery img:hover:after {
    display: inline-block;
}
.b-item-ad p {
    margin: 0 16px 16px;
}
/*выделенное*/

.b-item-ad--spot {
    background: rgb(61, 146, 242);
    padding: 4px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}
.b-item-ad--spot .ad-wrap {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.b-item-ad .spot {
    color: white;
    text-align: right;
}
.b-item-ad .spot-link {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}
/*для одной картинки*/

.b-item-ad--one .content-wrap {
    display: table;
}
.b-item-ad--one .gallery {
    display: table-cell;
    width: 23%;
    vertical-align: top;
    padding-left: 16px;
    padding-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-item-ad--one .content {
    display: table-cell;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ############################################################################
Горизонтальный скролл на странице однго объявления
############################################################################ */

.oneslide-scroll-wrap {
    background: silver;
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-left: 15%;
    width: 600px;
    position: relative;
    margin-bottom: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.oneslide-scroll {
    height: 23px;
    top: -12px;
    display: inline-block;
    background: silver;
    position: absolute;
    left: 0;
    cursor: default;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    border: 1px solid silver;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 47%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(47%, #f6f6f6), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 47%, #eeeeee 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f6f6f6 47%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), color-stop(47%, #f6f6f6), to(#eeeeee));
    background: linear-gradient(to bottom, #fcfcfc 0%, #f6f6f6 47%, #eeeeee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
    -webkit-box-shadow: 0px 4px 8px -4px grey;
       -moz-box-shadow: 0px 4px 8px -4px grey;
            box-shadow: 0px 4px 8px -4px grey;
}
.oneslide-scroll--down {
    -webkit-box-shadow: 0px 2px 4px -2px grey;
       -moz-box-shadow: 0px 2px 4px -2px grey;
            box-shadow: 0px 2px 4px -2px grey;
}
/* ############################################################################
Каталог объявлений
############################################################################ */

.b-catalog {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-catalog .list-wrap {
    display: inline-block;
    margin: 0 12px 12px 0;
    vertical-align: top;
    width: 23%;
    margin-right: 1%;
}
.b-catalog .title {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    line-height: 100%;
    font-weight: normal;
    line-height: 120%;
}
.b-catalog .title-link {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
}
.b-catalog .title-link:hover {
    color: tomato;
    border-color: rgb(255, 99, 71);
    border-color: rgba(255, 99, 71, 0.3)
}
.b-catalog .list {
    margin: 0;
    padding: 0;
}
.b-catalog .item-wrap {
    list-style: none;
    padding: 0;
    margin: 4px 0;
    position: relative;
    line-height: 16px;
    font-size: 14px;
    margin-right: 6px;
    display: inline-block;
}
.b-catalog .item {} .b-catalog .checkbox {
                        position: absolute;
                        right: 100%;
                        top: 1px;
                        margin-right: 4px;
                    }
.b-catalog .close {
    display: block;
    height: 24px;
    width: 24px;
    right: 16px;
    top: 16px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}
/* ############################################################################
Вопросы к одному объявлению
############################################################################ */

.b-comments {
    font-size: 16px;
    max-width: 700px;
    display: block;
    padding: 30px;
    margin: 20px;
    border: 4px solid aliceblue;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.b-comments table {
    width: 100%;
}
.b-comments td {
    vertical-align: baseline;
}
.b-comments .comments__h {
    margin-bottom: 12px;
}
.b-comments .comments-wrap {
    width: 100%;
}
.b-comments .comment-question {
    position: relative;
    min-height: 48px;
    background: #e4f5ff;
    padding: 8px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.b-comments .comment:before {
    content: '•';
    position: absolute;
    top: 0;
    right: 4px;
    margin-right: 100%;
}
.b-comments .comment-add {
    margin-top: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAAA1BMVEUAAACnej3aAAAAAXRSTlMavYQhHAAAACpJREFUeAHtwYEAAAAAw6D7Ux9gCtUAAAAAAAAAAAAAAAAAAAAAAAAAgDhPsAAB9SlMSQAAAABJRU5ErkJggg==);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAAA1BMVEX///+nxBvIAAAAAXRSTlOArV5bRgAAACpJREFUeAHtwYEAAAAAw6D7Ux9gCtUAAAAAAAAAAAAAAAAAAAAAAAAAgDhPsAAB9SlMSQAAAABJRU5ErkJggg==);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 24px 16px;
}
.b-comments .comment-answer {
    margin-top: 4px;
    margin-left: 32px;
    background: rgb(223, 253, 230);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 12px 16px;
}
.b-comments .comment-answer--no {
    background: #f3dfdd;
}
.b-comments .comment-answer-form {
    display: none;
}

.comment-answer-form form {
    padding: 9px;
}

.b-comments .comment-qa {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
}
.b-comments .comment-user {
    position: absolute;
}
.b-comments .comment-note {
    margin-left: 58px;
}
.b-comments .answer {
    padding: 9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
/* ############################################################################
Просмотр фоток на полный экран. Попап
############################################################################ */

.b-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 9000;
}
.b-fullscreen .wrap {
    position: absolute;
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.b-fullscreen .img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 2px 8px -2px grey;
       -moz-box-shadow: 0px 2px 8px -2px grey;
            box-shadow: 0px 2px 8px -2px grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 16px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-fullscreen .bot {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    margin: 4px 16px 16px;
    border-top: 1px solid silver;
}
.b-fullscreen .note {
    margin: auto;
    max-width: 500px;
    padding: 4px 0;
}
.b-fullscreen .photo {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 80px;
    background-color: white;
    overflow: auto;
    min-width: 32px;
    min-height: 60px;
    background: url(/static/img/spiffygif_32x32.gif) center no-repeat;
}
.b-fullscreen .next, .b-fullscreen .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 72px;
    background-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    cursor: pointer;
}
.b-fullscreen .next {
    right: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABCCAYAAABaQIagAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAf9JREFUeNqsmG0rQ2EYx7d5WJ4+jdc2O/ZQfAWSsCQtZC944YVWShJCQhQ+AmIzHfsyvgBybMz/ynXqtGbOuf+76vdG/Lp3zv++rmvClmXFQ7/1HCIqArpALkSWiGzwDjKsqAauwBIrcp/PF3MqV+SAQ7AKuhmR1B34BAlWJLUNxk1O1Sgqgn4QZ0VSRyDbDlEZVEGaFX2DC7DIiqQqmvYUK3L0VOugkxG5uar5fVatRHWwqbmKMqJAuYr4OPU+mGmH6FE/ZpIVSZ3910X9iiRXb63eoF+Ro11U+lWYEUk96O+PsiJpxQUw1SxXkYDdogR6muUqqEhqF0w2/q2JqKRD1WJFUqdgoR0imYOv3jloKpKxdQ1WWJHb22VsjbGiquZqTnLFiLy5GmRF0s9fwAArkoT3yj1kRfPgmH3YaZ19Nita1ixVGVFG+7jNBFJCmAcH2jmNRcO6aNwyl1ZOMwF22MYW08l7z4qyutFRzT+lr/qJFckGd6nTxFg0oq/aZiat3PANcO7NjYlITvMBbpglIqozbIvdj4ZAn859SjSrd4paRpN6w0usKKe7NrWwp7zdz1QkP1vTFDuMSLpfh5831UoU1Y2s8Ned8ityc1NkvvjJtjoN9tgvxwm9oEVWJLk5Yf+B4E7NCivKB81NM1FMX3uZ3W8qup7UGdGPAAMANX1l05MweDMAAAAASUVORK5CYII=);
}
.b-fullscreen .prev {
    left: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABCCAYAAABaQIagAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhBJREFUeNqsmNtKAlEUhsdJraiLHqUXKFPSDs9QCBVYdBS8qYsgqIsKgo5EFHSgRyhIsawepgeIyrSyf8EaEBlru//Z8Hkx6sd273/W2mMokUg45IjJi+vwYx5EWFEKlMEjK8qCS1BlREnwI7Nh1igClsER+GRECZ3NjXfBRhQF42C7/qKNqA90gTtWlAGHjRddi52qggdWtKi5+WZEg5rikt+bpqIwWAXnXm5sRbI2X/W5sRG1a242QY0R+ebGRjQFDv77kGuwU/KZAiuS6ndqshvuPzv17tUbW1FI681Vs9yYika0XORNY+82yc0EWNMQWoskN50mO/WXKKSz2W21SLk+tTjSyto0E82CE5tu4DZ0TcnNEyvKgWvT3DQTjYIOULRtu67mZhpsgAoj6jWpNyaiHvCidZkS3en6xFmRjGMwE4RIas4bGGJFVa09WVbkzUrazTArkkTva8Kj7E17qweEOCuSsQPGWp2Vn0hy1Q36WZGjnTUThKikN3CKFcmCX4AlVuTlqqz9nxJJrs60v4UZkaMntA89B1AiGVt6YmtnRXmtoDFWJGMPTAYhKmplSLIiR09uC0GInrWKpljRp6Z9xe97rT7U5PXoM8KK5B5cB+nGXNk8+BX0RDfAirxcpfVnUiKZVVt9ZWD+QJBczQUhknr16nVnRlTR7pwL4m+fe41BLEyKqlpear8CDACrnWRMp9K9LQAAAABJRU5ErkJggg==);
}
.b-fullscreen .next:hover, .b-fullscreen .prev:hover {
    background-color: rgba(255, 255, 255, .5);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.b-fullscreen .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 72px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAB8UlEQVRYCbXBe4sVZQAH4N938syZed85ZwaeL9tx10XcRMkwg5Y2kIKNDISiGxUVFkRIhH8kKHjby7nMeZ64o2RPFHej+FafPdD7Rk2it9JlYlori7yg86c2EzLzly6vmLtpyEQMbmrzJoMTNRNQnBjzLtVDQ3Zk6aE+5zM4NMsOzNww5GJm/tNkSxr/muVyGgcW2YKFA/NczdIjfTak+soy61HdN2YDBvfVrM/oWJs1ab1vzGYUP6tZg+InJZtTvafkCoqVmu2oftXlElq/qNme4tiYCxgcK9mN0UdqzqH42Jjdqc4s8xYLZ2qmYelAk9eYObDMdDSeuZaXXPNMk2mZObTMc5YONZmeweeK4gtD9kP1pTN99sXcJ0602Q+dP3TmnugyPdVKyXM6K32mpfWdPi/pfa/LdAzuqnmN4o4x01B8aMxbjD5Qszu9x2rOoXhskd2Yu26RC1i4rs32zPyjzSW0/tZkOwZH5rmCxpEhm1OdGrMGg1M1mzE41WdNqs8MWZ+ZI2M2YHBDk/WYe6rJhsw8Nc/V9FbabMHcgUUup/jaMluy8EjNxQzuqdmB4p4x59O6bcyOjG4reZfqBzUT0PlRzZt0VvpMRLVS8oq535VMSPGbNi8Y3NJlYjq3jEkUD4zZA6MH+jjRZ09Un/4P1Wi8FwqYWXUAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor: pointer;
}
.b-fullscreen .close:hover {
    background-color: rgba(255, 255, 255, .5);
}
/* ############################################################################
Попап предложения в оббъявлении — b-offer-popup
############################################################################ */

.b-offer-popup {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
.b-offer-popup .content {
    padding: 0;
    padding-right: 24px;
    padding-bottom: 24px;
}
.b-offer-popup .offer-item {
    position: relative;
    display: table;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 8px;
}
.b-offer-popup .offer-item:hover {
    background: #E8F3E6;
}
.b-offer-popup .offer-item input {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.b-offer-popup .offer-item img {
    display: block;
    margin-left: 12px;
    margin-right: 4px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.b-offer-popup .offer-item span {
    display: table-cell;
    vertical-align: middle;
}
.b-offer-popup .offer-item .offer-title {
    font-size: 14px;
    line-height: 120%;
}
.b-offer-popup table tr:last-child td {
    padding: 0;
}
.b-ad-short .b-offer-popup .content td {
    vertical-align: baseline;
    padding-bottom: 8px;
}
.b-offer-popup .check-wrap {
    width: 32px;
    display: inline-block;
    height: 100%;
    position: relative;
}
.b-offer-popup .footer {
    border: none;
    padding: 0;
}
/**/

.b-offer-popup .offer-edit .footer {
    border: none;
    padding: 0;
}
.b-offer-popup li {
    list-style: none;
}
.b-offer-popup .low_ul {
    display: none;
}
.b-offer-popup .a_link {
    color: rgb(55, 133, 189);
    cursor: pointer;
}
/* ############################################################################
загрузка файлов
############################################################################ */

.b-upload label {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.b-upload input[type="file"] {
    position: absolute;
    left: -999px;
}
.b-upload .progress {
    visibility: hidden;
}
.b-upload .progress .bar {
    background: #09fd00;
    height: 1px;
    width: 0;
}
.b-upload .rezult {} .b-upload .rezult .img-wrap {
                         height: 100px;
                         border: 1px solid silver;
                         margin: 0px 8px 8px 0;
                         position: relative;
                     }
.b-upload .rezult .img-wrap img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/* ############################################################################
Купон/Акция
############################################################################ */

.b-coupons {
    position: relative;
    margin-top: 42px;
    margin: 0 4px;
}
.b-coupons .crumbs {
    position: relative;
}
.b-coupons .nav {
    margin-bottom: 8px;
}
.b-coupons .nav-wrap {
    display: inline-block;
    margin: 3px 0;
    padding: 3px 6px;
}
.b-coupons .nav-wrap--selected {
    background: tomato;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: white;
}
.b-coupons .coupons-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -4px;
}
.b-coupon.js-coupon .title {
    margin: 13px 12px 10px 12px;
}
.cell--flexible {
    width: -webkit-calc(33.3333333% - 8px);
    width: -moz-calc(33.3333333% - 8px);
    width: calc(33.3333333% - 8px);
    margin: 4px;
}
@media screen and (min-width: 1286px) {
    .b-coupons {
        max-width: 1216px;
    }
}
@media screen and (min-width: 1600px) {
    .b-coupons {
        max-width: 1520px;
    }
    .cell--flexible {
        width: -webkit-calc(25% - 8px);
        width: -moz-calc(25% - 8px);
        width: calc(25% - 8px);
    }
}
/**/

.b-coupon {
    background: white;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    vertical-align: top;
    font-size: 14px;
}
.b-coupon .photo {
    min-width: 100%;
    max-width: 100%;
    display: block;
}
.b-coupon .photo-wrap {
    position: relative;
    display: block;
    margin-bottom: 8px;
}
.b-coupon .info {
    margin: 0 12px 4px;
    height: 54px;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
}
.b-coupon .footer {
    background: white;
    margin: 0 12px 8px
}
.b-coupon .pr {
    position: absolute;
    bottom: 8px;
    left: 0;
    background: tomato;
    padding: 2px 8px;
    color: white;
    text-decoration: none;
}
.b-coupon .blank-b {
    height: 100%;
    line-height: 52px;
}
.b-coupon .blank-img {
    line-height: 240px;
    min-height: 240px;
    margin: 12px 12px 8px 12px;
    text-align: center;
}
.b-coupon .pr .blank {
    color: white;
    border-color: white;
}
/* ############################################################################
список поданных мной объявлений и акций
############################################################################ */

.b-ad-short {
    margin-bottom: 24px;
    overflow: hidden;
}
.b-ad-short .content {
    padding: 12px;
}
.b-ad-short .content:after {
    content: '';
    display: table;
    clear: both;
}
.b-ad-short .content td {
    vertical-align: top;
    padding-right: 12px;
}
.b-ad-short .photo-cell {
    width: 128px;
}
.b-ad-short .photo {
    padding: 0;
}
.b-ad-short .description {
    padding-right: 24px;
}
.b-ad-short ul {
    margin: 0;
    padding-left: 24px;
}
.b-ad-short h3 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
.b-ad-short .resps {
    white-space: nowrap;
    float: right;
    font-size: 13px;
}
.b-ad-short .resp {
    padding-bottom: 8px;
}
.b-ad-short .resp span {
    background: #8adc7b;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    padding: 2px 5px 1px;
    color: white;
    font-size: 12px;
    line-height: 100%;
    vertical-align: top;
    display: inline-block;
}
.b-ad-short .title {
    margin-bottom: 16px;
    font-size: 120%;
    line-height: 140%;
}
.b-ad-short .footer {
    font-size: 13px;
    display: table;
    width: 100%;
    background: rgb(245, 245, 245);
    border-top: 1px solid silver;
}
/**/

.b-ad-short .offer {
    background: rgb(245, 245, 245);
    border-top: 1px solid silver;
    padding: 12px 12px 4px 12px;
}
.b-ad-short .offer table {
    width: 100%;
}
.b-ad-short .offer td {
    vertical-align: top;
}
.b-ad-short .offer .left {
    width: 62%;
}
.b-ad-short .offer .right {
    width: 38%;
}
.b-ad-short .offer p {
    margin: 0;
    margin-bottom: 4px;
}
.b-ad-short .offer .footer {
    font-size: 13px;
    display: table;
    width: 100%;
    border-top: none;
    background: transparent;
}
/**/

.b-ad-short .actions {
    display: table-cell;
    padding: 0 8px;
    padding-bottom: 2px;
}
.b-ad-short .action {
    padding: 4px 0;
    padding-right: 8px;
    display: inline-block;
}
.b-ad-short .geo {
    display: table-cell;
    padding-right: 8px;
    text-align: right;
}
.b-ad-short .date {
    display: table-cell;
    padding-right: 8px;
    text-align: right;
}
.b-ad-short .delete-offer {
    display: none;
}
/* ############################################################################
Вертикальная навигация
############################################################################ */

.b-nav-v {
    margin-bottom: 24px;
    font-size: 90%;
    line-height: 160%;
}
.b-nav-v .el {
    margin-bottom: 8px;
}
.b-nav-v .i-link--selected {
    background-color: tomato;
    line-height: 100%;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: white;
    padding: 3px 4px 2px;
    border: none;
}
.b-nav-v .disabled {
    color: grey;
}
.b-nav-v .option {
    margin-bottom: 16px;
}
.b-nav-v .title {
    font-weight: bold;
}
.b-nav-v .title--inline {
    display: inline;
}
/* ############################################################################
О пользователе
############################################################################ */

.b-user-profile {
    line-height: 140%;
    overflow: hidden;
}
.b-user-profile .info {
    padding: 24px;
}
.b-user-profile .photo {
    /*width: 25%;*/
    display: inline-block;
    vertical-align: top;
    padding: 0 24px 24px 0
}
.b-user-profile .photo img {
    max-width: 100%;
    max-width: 100%;
}
.b-user-profile .content {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.b-user-profile .header {
    padding: 0;
}
.b-user-profile h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 16px
}
.b-user-profile h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}
.b-user-profile .rating {
    margin-bottom: 12px;
}
.b-user-profile .description {
    margin-bottom: 8px;
}
.b-user-profile .footer {
    padding: 12px 24px 12px;
    background: rgb(250, 250, 250);
    border-top: 1px solid silver;
}
/**/
.b-user-profile .action{
    padding-right: 8px;
}
/**/
.b-user-profile .forms{
    margin-top: 16px;
    display: none;
}
.b-user-profile .forms table{
    width:75%;
}
.b-user-profile .forms td{
    padding-bottom: 16px;
    padding-right: 24px;
    vertical-align: baseline;
}
.b-user-profile .forms .alarm{
    display: none;
}
.b-user-profile .forms .message{
    display: none;
}
/* ############################################################################
Мини предложение
############################################################################ */

.b-small-ad {
    display: table;
    margin-top: 2px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    min-height: 48px;
}
.b-small-ad__left {
    display: table-cell;
    vertical-align: top;
    width: 72px;
}
.b-small-ad__left img {
    display: block;
}
.b-small-ad__right {
    display: table-cell;
    vertical-align: top;
    padding-top: 4px;
    padding-right: 12px;
}
.b-small-ad {}
/* ############################################################################
Личные сообщения
############################################################################ */

.b-messages {
    font-size: 12px;
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    max-width: 1200px;
    background: rgb(250, 250, 250);
    overflow: hidden;
}
.b-messages div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-messages .list-messages {
    width: 25%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.b-messages .messages-user {
    padding: 8px 12px 8px 24px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.b-messages .messages-user img {
    max-height: 48px;
    max-width: 48px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.b-messages .messages-user span {
    vertical-align: middle;
}
.b-messages .messages-user--new:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 9px;
    background: tomato;
}
.b-messages .messages-user:hover {
    background: #ecf2f5;
}
.b-messages .list-messages .select {
    background: rgb(142, 172, 187);
    color: white;
}
.b-messages .list-messages .new {
    background: #e2f0e0;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    font-size: 12px;
}
.b-messages .message-thread {
    width: 75%;
    font-size: 14px;
    display: inline-block;
    background: white;
    border-left: 1px solid silver;
}
.b-messages .message-thread .their {
    padding: 16px 24px 16px;
    background: #e0eeef;
    display: table;
    width: 100%;
}
.b-messages .message-thread .my {
    padding: 16px 24px 16px;
}
.b-messages .message-thread > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.b-messages .message-thread .answer textarea {
    min-height: 64px;
    margin-bottom: 8px;
}
.b-messages .message-thread img {
    width: 100%;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.b-messages .message-thread .ico {
    min-width: 48px !important;
    vertical-align: top;
    top: 4px;
    position: relative;
    margin-right: 24px;
    height: 36px !important;
    overflow: hidden;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 48px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            background-color: black;
}
.b-messages .message-thread .mes {
    display: table-cell;
    vertical-align: top;
    padding-right: 24px;
    width: 100%;
}
.b-messages .message-thread .date {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
    color: silver;
}
.b-messages .previous-messages-load {
    text-align: center;
    padding: 24px 0;
    font-style: italic;
}
.b-messages .previous-messages-load img {
    width: 50px;
    height: 17px;
}

.b-messages p.sender {
    color: rgb(55, 133, 189);
}
/* ############################################################################
Предложенияпо одному объявлению скролл
############################################################################ */

.b-offer {
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.b-offer:after, .b-offer:before {
    content: '';
    display: table;
    clear: both;
}
.b-offer__col {
    margin: 0;
    position: fixed;
}
.b-offer__left .b-offer__col {
    position: static;
}

.b-offer .b-offer__table {
    width: 100%;
}
/**/

.b-offer__center {
    width: 5%;
    max-width: 64px;
    vertical-align: top;
    position: relative;
}
.b-offer__left {
    width: 47.5%;
    vertical-align: top;
    position: relative;
    background: white;
    padding: 1em;
    margin: 1em;
}
.b-offer__right {
    width: 47.5%;
    vertical-align: top;
    position: relative;
}
/**/

.b-offer__arrow {
    text-align: center;
    font-size: 32px;
}
/* ############################################################################
баланс
############################################################################ */

.b-payments {
    margin-bottom: 48px;
}
.b-payments .money-transfer {
    display: inline-block;
}
.b-payments .money-transfer td {
    padding: 0px 12px 8px 0;
}
.b-payments .time {
    display: inline-block;
    margin-bottom: 16px;
}
.b-payments .money-transfer {
    margin-bottom: 48px;
    padding: 32px;
}
.b-payments .history h3 {
    margin-bottom: 8px;
}
.b-payments .history {
    display: inline-block;
    padding: 32px 32px 32px 32px;
}
.b-payments .history td {
    padding-right: 16px;
    padding-bottom: 24px;
    font-size: 13px;
}
.b-payments .history .money {
    text-align: left
}
/* ############################################################################
рейтинг
############################################################################ */

.b-rating {
    display: inline-block;
}
.b-rating .header {
    font-size: 32px;
}
.b-rating h1 {
    font-size: inherit;
    display: inline-block;
}
.b-rating .rating {
    -webkit-border-radius: 99px;
       -moz-border-radius: 99px;
            border-radius: 99px;
    color: white;
    font-size: 80%;
    line-height: 100%;
    padding: 6px 12px 2px;
    display: inline-block;
    margin-left: 12px;
    text-align: center;
    vertical-align: top;
}
.b-rating .rating--positive {
    background: #8adc7b;
}
.b-rating .rating--negative {
    background: tomato;
}
.b-rating .wrap {
    padding: 32px;
}
.b-rating td, .history .table.order-list td {
    padding-bottom: 16px;
    padding-right: 16px;
    vertical-align: baseline;
    font-size: 18px;
}
.b-rating .positive {
    display: block;
    font-size: 90%;
    line-height: 100%;
    padding: 4px 8px 3px;
    color: white;
    text-align: center;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #8adc7b;
}
.b-rating .negative {
    display: block;
    font-size: 90%;
    line-height: 100%;
    padding: 4px 8px 3px;
    color: white;
    text-align: center;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: tomato;
}

.wrap-ul ul li {
    list-style-type: none;
}
a.i-bt {
    color: #4D4C4C;
    text-decoration: none;
    padding: 3px 8px 5px;
    line-height: 2em;
    width: 45%;
    text-align: center;
}
.like-checkbox {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

.send {
    position: absolute;
    display: none;
    -webkit-box-shadow: 0 2px 8px -2px rgb(164, 177, 161);
       -moz-box-shadow: 0 2px 8px -2px rgb(164, 177, 161);
            box-shadow: 0 2px 8px -2px rgb(164, 177, 161);
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    z-index: 9999999;
    left: 230px;
    padding: 15px;
}

.b-offer .b-td h3.title {
    padding-left: 20px;
}

.green-ad {
    border: 3px solid #53AB30;
    border-bottom: 20px solid #53AB30;
}

.errorlist {
    color: red;
}

.bet_up_form {
    display:none;
}

.photo-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.avatar-sm {
    text-decoration: none;
}

.answer-text {
    margin-left: 10px;
}

.flex-center {
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
a:visited {
    color: rgb(55, 133, 189);
}

.comment-answer-link {
    padding: 9px;
    display: inline-block;
    border: none;
}