.b-ones {
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
}
.b-ones:after, .b-ones:before {
    content: '';
    display: table;
    clear: both;
}
.b-ones .col {
    margin: 0;
    /*position: fixed;*/
}
/**/

.b-ones table {
    width: 100%;
}
.b-ones td {
    vertical-align: top;
    position: relative;
}
.b-ones .left {
    width: 40%;
}
.b-ones .center {
    text-align: center;
}
.b-ones .right {
    width: 40%;
    text-align: right;
    overflow: hidden;
}
.b-ones .right img {
    width: 100%;
    display: block;
}
/**/

.b-ones .header {
    padding: 0 16px;
    padding-top: 24px;
    margin-bottom: 24px
}
.b-ones .title {
    font-size: 24px;
}
.b-ones h1 {
    font-size: 24px;
    font-weight: normal;
    display: inline;
}
.b-ones .description {
    padding: 0 16px;
    margin-bottom: 24px
}
.b-ones .description ul{
    padding-left: 24px;
}
.b-ones .description table{
    width: auto;
}
.b-ones .description td{
    font-size: 80%;
    padding-right: 12px;
    padding-bottom: 4px;
}
.b-ones .path {
    padding: 0 16px;
    margin-bottom: 24px
}
.b-ones .actions {
    margin: 24px auto;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}
.b-ones .action {
    margin-bottom: 8px;
    display: inline-block;
}
.b-ones .hint {
    color: grey;
    margin-bottom: 2px
}
.b-ones .date, .b-ones .geo, .b-ones .contact {
    color: grey;
    margin-top: 8px;
}
